/* CSS for Instagram feeds stacked in batches of 1-6 images rotating
Needs html like this:
<div id="ig" data-account="university_of_copenhagen" data-token="xxxx" data-images="3" class="gridbox with-img  size2">
  <div class="box1">
  <a href="https://www.instagram.com/university_of_copenhagen/">
    <div class="header">@university_of_copenhagen på Instagram</div>
  </a>
  </div>
  <div class="ig_box2">
    <div id="imageBox"></div>
  </div>
</div>
*/
[id*="ig"].gridbox {
  -webkit-flex-direction: column!important;
  -ms-flex-direction: column!important;
  flex-direction: column!important;
  height: 185px !important;
}

[id*="ig"].gridbox::before {
  z-index: 101;
  cursor: pointer;
}

[id*="ig"].gridbox.with-img .box1 {
  position: absolute !important;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  z-index: 100;
}

[id*="ig"].gridbox .header, [id*="ig"].gridbox:hover .header {
  color: #606060;
  background: rgba(255, 255, 255, .9) !important;
}

[id*="ig"]:hover a {
  color: inherit;
  display: block;
}

[id*="ig"]:hover img {
  -webkit-filter: none;
  filter: none;
}

#imageBox {
  width: 100%;
  height: 185px;
  position: relative;
  overflow: hidden;
}

#imageBox .batch {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#imageBox .batch a {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  position: relative;
}

#imageBox .batch img {
  margin: 0 auto;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  object-fit: cover;
  border: 1px solid #fff;
}

#imageBox .batch img:hover {
  -webkit-filter: brightness(90%) blur(0);
  filter: brightness(90%) blur(0);
}

/* Special styles for Internet Explorer */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  /* IE 11 */
  #imageBox .batch img {
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) translate3d(0px, 0px, 0px);
    transform: translateX(-50%) translateY(-50%) translate3d(0px, 0px, 0px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-interpolation-mode: bicubic;
  }
}

@supports (-ms-ime-align: auto) {

  /* IE Edge */
  #imageBox .batch img {
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) translate3d(0px, 0px, 0px);
    transform: translateX(-50%) translateY(-50%) translate3d(0px, 0px, 0px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-interpolation-mode: bicubic;
  }
}

#imageBox .batch .inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  #imageBox .batch img {
    position: relative;
    height: 100%;
    border: 0;
  }
}

@media screen and (max-width: 767px) {
  div[id*="ig"][data-hidemobile="true"] {
    display: none;
  }
}
