.slick-slider {
  display: none;
  clear: both;
}

.slick-slider.slick-initialized {
  display: block;
}
.gallery-nav {
  margin-top: 1px;
}

.gallery-nav img {
  cursor: pointer;
}

.gallery-nav .slick-slide {
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.gallery-nav .slick-track {
  margin-left: -1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gallery-nav .slick-slide {
  min-width: 33%!important;
  -webkit-box-flex: 1!important;
  -webkit-flex: 1 0 auto!important;
  -ms-flex: 1 0 auto!important;
  flex: 1 0 auto!important;
}

.slick-slide {
  overflow: hidden;
  position: relative;
}

.slick-slide>* {
  overflow: hidden;
  height: 100%;
  position: relative;
}

.slick-slide img {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slide-link, .slide-link:hover, .slide-link:visited {
  text-decoration: none;
}

.slick-slider .caption {
  position: relative;
  min-height: 80px;
  width: 100%;
  z-index: 2;
  padding: 10px;
}

.slick-slider .text-bottom .caption {
  bottom: 0;
  left: 0;
  color: #fff;
  background: rgba(64, 116, 157, .8);
}

.slick-slider .text-right-short .caption {
  left: auto;
  right: 0;
  top: auto;
  transform: translateY(0%);
  min-height: 70%;
  color: #fff;
  background: rgba(119, 172, 179, .8);
}

.slick-slider .text-left .caption {
  left: 0;
  right: auto;
  top: 0;
  color: #fff;
  background: rgba(68, 68, 68, .8);
}

.slick-slider .text-left-short .caption {
  color: #fff;
  background: rgba(68, 68, 68, .8);
}

@media screen and (min-width: 768px) {
  .regular {
    height: 289px;
  }
  .regular .slick-list {
    height: 100%;
  }
  .regular .slick-track {
    height: 100%;
  }
  .regular .slick-slide img {
      display: block;
      width: 100%;
      height: auto;
      position: relative;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      -o-object-fit: contain;
         object-fit: contain;
  }
  .gallery-nav .slick-slide {
    min-width: 33%!important;
  }
  .slick-slider .text-right-short .caption {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50%;
  }
  .slick-slider .text-left .caption {
    width: 50%;
    height: 100%;
  }
  .slick-slider .text-left-short .caption {
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50%;
  }
  .slick-slider .caption {
    position: absolute;
  }
}


/* Slider */

.slick-loading .slick-list {
  background: #fff url('ajax-loader.gif') center center no-repeat;
}


/* Arrows */

/*.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before, .slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: '←';
}

[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: '→';
}

[dir='rtl'] .slick-next:before {
  content: '←';
}


/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.slick-dots li.slick-active {
  background: rgba(0, 0, 0, 0.5);
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}*/
