// Vertically centers block elements with unknown height
// Usage: .vertical-align();

.vertical-align(@position:relative) {
  position: @position;
  top: 50%;
  transform: translateY(-50%);
}
// Horizontally and vertically aligning elements
.horizontal-align() {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
