// KU custom elements
// Used different places - added as mixins for easy maintainance

.boxtop() {
  line-height: 1.34;
  letter-spacing: 0.7px;
  color: @panel-default-header-text;
  min-height: 16px;
  font-weight: 600;
  padding: @panel-bokstop-heading-padding;
}

.nyhedsoverskrift() {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.7px;
  font-weight: 600;
}
