// Gridbox color variants
// Use with values in this order: Text color, background color, hover color, border color, outlined text, opacity
//

.gridbox-color(@color; @background; @hover; @border; @outlinedText; @transparency) {
  background: @background;
  color: @color;

  .header {
    background: fade(@background, @transparency);
    color: @color;
  }

  &.text-top {
    .header {
      background: @background;
    }
  }

  &.outlined {
    border: 1px solid @border;
    color: @outlinedText;

    .header {
      color: @color;
    }

    &:hover {
      border: 1px solid @hover;
    }

    // &::before {
    //   color: inherit;
    // }
  }

  &.full {
    &:hover {
      background: @hover;
    }
  }

  &.text-down {
    &:hover {
      background: @hover;
    }
  }
}

// Text color, background and opacity.
.slider-overlay-colors(@color; @background; @transparency) {
  background: @background;
  color: @color;
  @media (min-width: @screen-sm) {
    background: fade(@background, @transparency);
  }

  &.full-bg {
    background: @background;
  }
}
