// News and events
// Float image right

.img-right() {
  .media-list {
    .media {
      .media-left {
        display: none;
      }

      .media-body {
        padding-left: 0!important;

        > .media-right,
        + .media-right {
          float: right;
        }
      }
    }
  }

// Items:
  .item-list {
    .item-left {
      display: none;
    }
    &.with-img {
      .item-right {
        display: block;
        float: right;
      }
    }
  }
}
// Float image left

.img-left() {
  .media-list {
    .media {
      .media-body {
        > .media-right,
        + .media-right {
          display: none;
        }
      }

      &+ .media-left {
        .news-teaser {
          margin-left: @ku-thumbnails-size;
        }
      }
    }

    &.smal {
      .media-body {
        &:first-child {
          padding-left: @ku-thumbnails-size;
        }
      }
    }
  }

// Items:
  .item-list {
    &.with-img {
      .item-left {
        display: block;
        height: 55px;
        width: @ku-thumbnails-size;
      }
      .item-right {
        display: none;
      }
      .item-body {
        flex: 1;
      }
    }
  }
}
