// News and events
// Float image right
//New - for items lists

.list-img-right() {
  .item-list {
    .item-body {
      &:first-child {
        padding-left: 0;
      }
    }

    &.with-img {
      .item-left {
        display: block;
        float: right;
        text-align: right;
      }
    }
  }
}

.list-img-left() {
  .item-list {
    &.with-img {
      .item, .legacy-tile-link {
        display: flex;
        align-items: flex-start;
      }

      .item-left {
        display: block;
        width: @ku-thumbnails-size;
      }

      .item-right {
        display: none;
      }

      .item-body {
        flex: 1;
      }
    }
  }
}
//--------------//

.img-right() {
  .media-list {
    .media {
      .media-left {
        display: none;
      }

      .media-body {
        padding-left: 0!important;

        > .media-right,
        + .media-right {
          float: right;
        }
      }
    }
  }
}
// Float image left

.img-left() {
  .media-list {
    .media {
      .media-body {
        > .media-right,
        + .media-right {
          display: none;
        }
      }

      &+ .media-left {
        .news-teaser {
          margin-left: @ku-thumbnails-size;
        }
      }
    }

    &.smal {
      .media-body {
        &:first-child {
          padding-left: @ku-thumbnails-size;
        }
      }
    }
  }
}
