// News and events

.img-right() {
  .media-list {
    .media {
      .media-left {
        display: none;
      }
    }
  }
}

.img-left() {
  .media-list {
    .media {
      .media-body {
        > .media-right,
        + .media-right {
          display: none;
        }
      }

      .news-teaser {
        margin-left: 74px;
      }
    }

    &.smal {
      .media-body {
        &:first-child {
          padding-left: 74px;
        }
      }
    }
  }
}
