//  This mixin can be used to set the object-fit polyfill for IE11:
// Remeber to include js: https://github.com/fregante/object-fit-images
// Usage:  .object-fit(contain);

.object-fit(@fit: fill) {
  object-fit: @fit;
  font-family: 'object-fit: @{fit}';
}
// object-fit and object-position:
// Usage: .object-fit(cover, top);

.object-fit(@fit: fill, @position) {
  object-fit: @fit;
  object-position: @position;
  font-family: 'object-fit: @{fit}; object-position: @{position}';
}
