// Mixin to make elements full width.
// Usage: .page-full-width();

.page-full-width() {
  position: relative;
  width: calc(100vw - var(--scroll-bar));
  margin-left: calc(-50vw + 50% + (var(--scroll-bar)/ 2));
  margin-right: calc(-50vw + 50% + (var(--scroll-bar)/ 2));
}
