// Mixin to make elements full width.
// Usage: .page-full-width();

.page-full-width() {
  width: calc(100vw - 9px); // 9px is the width of the scrollbar
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
