/*
* KU tiles mixin
*/

.tiles-x-layout() {
  // Tiles format
  .tilebox {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    background-color: @white-color;
    box-shadow: 0 0 0 1px @gray-ddd;
    transition: box-shadow 0.2s ease-out;

    &:hover {
      box-shadow: 0 8px 10px 0 rgba(60, 60, 60, .1),0 2px 6px 0 rgba(64, 64, 64, .19);

      .tile-img {
        img {
          backface-visibility: hidden;
          transform: scale3d(1.02, 1.02, 1.02) translateZ(0);
        }
      }
    }

    .tile-link {
      flex-direction: column;
    }

    .header-small {
      font-weight: 700;
      color: @gray-666;
      text-transform: uppercase;
      letter-spacing: 0.4px;
      margin: 0 0 5px;

      .date {
        float: right;
        padding-left: 5px;
      }
    }
  }

  .tile-body {
    display: none;
  }

  .tile-img {
    overflow: hidden;
    flex: 0 0 auto;

    img {
      transition: transform 0.2s ease-out;
    }
  }

  .tile-content {
    padding: 10px;
    position: relative;
    flex: 1;
    overflow: hidden;
    // This prevents text from overflowing the bottom of the tile in an ugly way:
    border-bottom: solid 24px rgba(@gray-base, 0);
  }
}

.tiles-y-layout() {
  // List format
  .tile-link {
    flex-direction: row-reverse;

    &:hover {
      h3 {
        text-decoration: underline;
      }
    }
  }

  .tilebox {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid @gray;

    & + .tilebox {
      padding-top: 10px;
    }
  }

  .tile-img {
    flex: none;
    margin-bottom: 10px;
  }

  .header-small {
    display: none;
  }
}

.tiles-y-desktop-layout() {
  .tilebox {
    flex-direction: row-reverse;
  }

  .tile-img {
    margin-left: 10px;
    flex: 0 0 165px;
    margin-bottom: 0;

    img {
      width: 165px;
      object-fit: cover;
    }
  }
}
