// KU tiles mixin

.tiles-x-layout() {
  // Tiles format
  .tilebox {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 1px;
    width: 100%;
    overflow: hidden;
    background-color: @white-color;
    box-shadow: 0 0 0 1px @gray-ddd;
    transition: box-shadow 0.2s ease-out;

    &:hover {
      box-shadow: 0 8px 10px 0 rgba(60, 60, 60, .1),0 2px 6px 0 rgba(64, 64, 64, .19);

      .tile-img {
        img {
          backface-visibility: hidden;
          transform: scale3d(1.02, 1.02, 1.02) translateZ(0);
        }
      }
    }

    .tile-link {
      flex-direction: column;
    }
  }

  .tile-body {
    display: none;

    > p {
      margin-top: 0;
    }
  }

  .tile-cat {
    flex-shrink: 0;
  }

  .date {
    flex-basis: 37%;
  }

  .tile-img {
    overflow: hidden;
    flex: 1 1 50%; // 0 1 auto;
    display: flex;
    @media all and (max-width: @screen-xs-max) {
      // For iPhone
      max-height: 250px;
    }

    img {
      width: 100%; // This is for Edge
      transition: transform 0.2s ease-out;
    }
  }

  .tile-content {
    padding: 10px;
    position: relative;
    flex: 1 1 50%; // 0 1 auto?
    overflow: hidden;
    display: flex;
    flex-direction: column;
    //@media all and (min-width: @screen-sm) {
    // This prevents text from overflowing the bottom of the tile in an ugly way:
    //border-bottom: solid 20px rgba(@gray-base, 0);
    //}
  }
}

.tiles-y-layout() {
  // List format
  .tile-link {
    flex-direction: row-reverse;
    @media all and (max-width: @screen-xs-max) {
      flex-direction: column;
    }

    &:hover {
      .tile-header {
        text-decoration: underline;
      }
    }
  }

  .tilebox {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid @gray;
  }

  .tile-content {
    width: 100%;
    min-width: 0;
  }

  .header-small {
    flex-basis: 72%;
  }

  .tile-img {
    margin-bottom: 10px;
  }
  @media all and (max-width: @screen-xs-max) {
    .tile-body {
      display: none;
    }
  }
}

.tiles-y-desktop-layout() {
  .tilebox {
    flex-direction: row-reverse;
  }

  .tile-img {
    margin-left: 5px;
    flex: 0 0 185px;
    margin-bottom: 0;

    img {
      width: 165px;
      float: right;
    }
  }
}
