//
// Breadcrumbs
// --------------------------------------------------

.breadcrumbs {
  display: none;
  @media (min-width: @screen-sm) {
    margin-top: 29px;
    margin-bottom: 10px;
    display: block;
  }
}

.breadcrumb {
  display: none;
  @media (min-width: @screen-sm) {
    display: block;
    padding: 0 @breadcrumb-padding-horizontal @breadcrumb-padding-horizontal 0;
    margin-bottom: @margin0;
    list-style: none;
    background-color: @breadcrumb-bg;
    font-size: 0.8em; // KU
    //border-radius: @border-radius-base;
    > li {
      display: inline-block;

      + li:before {
        content: "@{breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
        padding: 0 2px 0 3px;
        color: @breadcrumb-color;
      }
    }

    > .active {
      color: @breadcrumb-active-color;
    }
  }
}
