//
// Breadcrumbs
// --------------------------------------------------

.breadcrumb {
  padding: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal;
  margin-bottom: @margin0;
  list-style: none;
  background-color: @breadcrumb-bg;
  font-size: 0.9em; // KU
  //border-radius: @border-radius-base;
  > li {
    display: inline-block;

    + li:before {
      content: "@{breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: @breadcrumb-color;
    }
  }

  > .active {
    color: @breadcrumb-active-color;
  }
}

.breadcrumbs {
  display: none;
  @media (min-width: @screen-sm-min) {
    display: block;
    .no-gutter;

    > [class*='col-'] {
      margin-bottom: @margin0!important;
    }
  }
}
