// KU top branding

.ku-branding {
  background-color: @white-color;
  position: relative;
  @media (max-width: @screen-xs-max) {
    padding-left: 0;
    padding-right: 0;
  }

  .ku-branding-logo {
    .logo-img {
      .img-responsive;
    }
    height: @ku-branding-box-height;
    width: 61px;
    z-index: 10;
    position: relative;
    left: 3px;
    bottom: -5px;
    @media (max-width: @screen-sm-min) {
      width: 50px;
      bottom: -20px;
      left: @grid-gutter-by-half;
    }
  }

  .ku-branding-text {
    max-height: @ku-branding-box-height;
    position: absolute;
    left: 90px;
    bottom: 15px;
    letter-spacing: 0.936px;
    padding-right: 10px;
    a {
      text-decoration: none;
    }

    .ku-branding-text-major {
      font-size: 1.1em;
      @media (min-width: @screen-sm-min) {
        font-size: @ku-branding-text-font-size;
        line-height: 1.2;
      }
    }

    .ku-branding-text-sub {
      font-size: @font-size-large;
    }

    a {
      color: inherit;
    }
  }

  .ku-branding-line {
    @media (min-width: @screen-sm) {
      margin-top: 3px;
    }
    &:extend(.clearfix all);
    position: relative;
    border-bottom: 1px solid @ku-red;


    .theme-samf & {
      border-bottom: 1px solid @samf;
    }

    .theme-hum & {
      border-bottom: 1px solid @hum;
    }

    .theme-science & {
      border-bottom: 1px solid @science;
    }

    .theme-sund & {
      border-bottom: 1px solid @sund;
    }

    .theme-jur & {
      border-bottom: 1px solid @jura;
    }

    .theme-teo & {
      border-bottom: 1px solid @teol;
    }
  }
}
