// KU top branding

.ku-branding {
  background-color: @white-color;
  position: relative;
  @media (max-width: @screen-xs-max) {
    padding-left: @grid-gutter-by-half;
    padding-right: @grid-gutter-by-half;
  }

  .ku-branding-logo {
    .logo-img {
      .img-responsive;
      // fix for IE 8-10 since svgs are disproportionately sized
      width: 100% \9;
    }
    height: @ku-branding-box-height;
    width: 61px;
    z-index: 10;
    position: relative;
    left: 3px;
    bottom: -6px;
    @media (max-width: @screen-sm) {
      width: 50px;
      bottom: -20px;
      left: @grid-gutter-by-half;
    }
  }

  .ku-branding-text {
    max-height: @ku-branding-box-height;
    position: absolute;
    left: 80px;
    @media (min-width: @screen-sm) {
      left: 90px;
    }
    bottom: 15px;
    letter-spacing: 0.936px;
    padding-right: 10px;

    a {
      text-decoration: none;
    }

    .ku-branding-text-major {
      font-size: 14px;
      line-height: 1.2;
      @media (min-width: @screen-sm) {
        font-size: @ku-branding-text-font-size;
      }
    }

    .ku-branding-text-sub {
      font-size: @font-size-base;
      @media (min-width: @screen-sm) {
        font-size: @font-size-large;
      }
    }

    a {
      color: inherit;
    }
  }

  .ku-branding-line {
    @media (min-width: @screen-sm) {
      margin-top: 3px;
    }
    &:extend(.clearfix all);
    position: relative;
  }

  &::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid @ku-red;

    .theme-samf & {
      border-bottom: 1px solid @samf;
    }

    .theme-hum & {
      border-bottom: 1px solid @hum;
    }

    .theme-science & {
      border-bottom: 1px solid @science;
    }

    .theme-sund & {
      border-bottom: 1px solid @sund;
    }

    .theme-jur & {
      border-bottom: 1px solid @jura;
    }

    .theme-teo & {
      border-bottom: 1px solid @teol;
    }
  }
}

// New search area
.search-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: @screen-xs-max) {
  .ku-nav, .search-area {
    display: none;
  }
}

.global-search {

  .btn .caret {
    margin-left: 5px; //KU
    color: #bbb;
  }

  .input-group-btn { //KU
    .btn {
      &:hover {
        background-color: @white-color;
        text-decoration: @link-hover-decoration;
      }
      &:focus, &:active {
        background-color: @white-color;
      }
    }
  }
}
