/* KU custom elements */
// Find something boxes:
.find-box {
  height: 130px;
  margin-top: -10px;
  position: relative;
  overflow: hidden;

  &[class$="-bg"] {
    width: 100%;
    height: 130px;
    margin-bottom: 0 !important;
    background: url("https://bootstrap.secure.ku.dk/img/find_en_forsker.png") no-repeat 80% 25px;
    background-size: 140px;

    .search-text {
      margin: 20px 5px 20px 15px;
      font-weight: 600;
      font-size: 18px;

      .text-normal {
        font-weight: 300;
      }
    }
  }

  form {
    width: 94%;
    margin: 0 auto;

    .input-group {
      border: 1px solid @gray-666;
      border-radius: @border-radius-base;

      input[type="text"] {
        opacity: 0.85;
        border: 0;
      }

      .input-group-btn {
        .btn {
          color: @ku-red;
          font-weight: 700;
          border-left: 1px solid @gray-666;
        }
      }
    }
  }
}
// Find en forsker search box
.find-researcher {
  #gradient >.horizontal(#bebec0, #b0b2b6);

  .search-text {
    color: #565656;
  }
}
// Find på KUnet

.find-kunet {
  #gradient >.horizontal(#a80505, #7e0202);

  .search-text {
    color: #efefef;
  }
}
