//
// Styles for Obvius components
// --------------------------------------------------

.picture-standard {
  h2 {
    display: none;
  }
}

.rightBoxPicture {
  .panel-head {
    display: none;
  }

  .panel-body {
    border-top: 0;
  }
}
