//
// Styles for Obvius grid and components
// --------------------------------------------------

#pagewrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
}

main {
  flex: 1 0 auto;
  background-color: @white-color;
  backface-visibility: hidden; //Fix weired flickering
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:extend(.clearfix all);
  @media (min-width: @screen-sm) {
    width: @container-sm;
    margin: 0 auto;
  }
  @media (min-width: @screen-md) {
    width: @container-md;
  }
  @media (min-width: @screen-lg) {
    width: @container-lg;
  }
}

footer,
header,
nav {
  flex: none;
}

.main-content {
  .row {
    margin-bottom: @grid-gutter-height;

    &:last-child {
      margin-bottom: 0;
    }
  }
  @media (max-width: @screen-sm-max) {
    [class*="col-"] {
      margin-bottom: @grid-gutter-height;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
@media (max-width: @screen-xs-max) {
  // Smaller margins on mobile
  #content {
    .container {
      padding-left: (@mobile-grid-gutter-width);
      padding-right: (@mobile-grid-gutter-width);
    }

    .row {
      margin-left: -@mobile-grid-gutter-width;
      margin-right: -@mobile-grid-gutter-width;
    }

    [class*="col-"] {
      padding-left: (@mobile-grid-gutter-width);
      padding-right: (@mobile-grid-gutter-width);
    }
  }
}

.main-area {
  flex-grow: 1;
  margin-bottom: 30px;

  &:focus {
    outline: 0;
    user-focus: none;
  }

  img {
    .img-responsive;
  }
  // KU grid:
  @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
    .row {
      &.double-column {
        .col-sm-6 {
          + .col-sm-6 {
            margin-top: 0;
          }
        }
      }
    }
  }
}

#gridsidebar {
  .row {
    [class*="col-"] {
      margin-bottom: @grid-gutter-height;

      &:last-child {
        margin-bottom: 0;
      }
    }
    margin-bottom: @grid-gutter-height;

    .gccolumn {
      .gcitem {
        margin-top: 0;
      }
    }
    @media (min-width: @screen-md) {
      &:first-child {
        margin-top: @ku-rightcolumn-top;
      }
    }

    &:last-child {
      [class*="col-"] {
        margin-bottom: 0;
      }
    }
  }
}

.gcitem {
  position: relative;
  &:extend(.clearfix all);
  margin-bottom: @grid-gutter-height;

  &.picture .title {
    display: none;
  }

  // Remove bottom margin from any last element in a grid column
  &:last-child {
    margin-bottom: 0;
  }
}

.gccolumn {
  .gcitem {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .row {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.flexiblebox-as-rightbox,
.rightBoxPicture,
.rightbox-calendar-widget,
.rightbox-normal {
  margin-bottom: @grid-gutter-height;
}

.right-side {
  .pull-right;
  @media (max-width: @screen-sm-max) {
    margin-top: @grid-gutter-height;
  }
  @media (min-width: @screen-md) {
    .rightbox {
      &:first-child {
        margin-top: @ku-rightcolumn-top;
      }
    }

    & > .flexiblebox,
    & > .flexiblebox-as-rightbox,
    & > .gcitem,
    & > .panel,
    & > .rightbox-normal {
      &:first-child {
        margin-top: @ku-rightcolumn-top;
      }
    }
  }
}

.rightbox {
  .rightbox-normal {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .panel {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
  .gccolumn {
    &[class^="col-"][class$="-12"] {
      // Stacking full width columns i tablet view
      margin-bottom: @grid-gutter-height;
    }
  }
}

.rightBoxPicture {
  .panel-head {
    display: none;
  }

  .panel-body {
    border-top: 0;
  }
}

.gcitem > figure:first-child {
  margin-top: 0;
}
