//
// KU Datatables.js styling
// ---------------------------------------------------------------
// Color variables (appears count calculates by raw css)
@color1: #d33333; // Appears 4 times
@color3: #eaeaea; // Appears 2 times
// Width variables (appears count calculates by raw css)
@width3: 16px; // Appears 2 times
@width4: 14px; // Appears 4 times
@width6: 75px; // Appears 2 times
// Height variables (appears count calculates by raw css)
@height1: 14px; // Appears 4 times
@height3: 16px; // Appears 2 times

.dataTable {
  border-collapse: separate !important;
  clear: both;
  margin-bottom: 6px !important;
  margin-top: 6px !important;
  max-width: none !important;

  td,
  th {
    box-sizing: content-box;
  }

  td,
  th {
    &.dataTables_empty {
      text-align: center;
    }
  }

  thead > tr {
    > th {
      padding-top: 0;

      &:active {
        outline: none;
      }
    }

    > td {
      &:active {
        outline: none;
      }
    }
  }

  thead {
    .sorting {
      &:after {
        content: "\e150";
        opacity: 0.2;
      }
    }

    .sorting_asc {
      &:after {
        content: "\e155";
      }
    }

    .sorting_desc {
      &:after {
        content: "\e156";
      }
    }

    .sorting_asc_disabled,
    .sorting_desc_disabled {
      &:after {
        color: @gray-lighter;
      }
    }
  }
}

.dataTable.nowrap {
  td,
  th {
    white-space: nowrap;
  }
}

.dataTables_wrapper {
  .dataTables_length {
    label {
      font-weight: normal;
      text-align: left;
      white-space: nowrap;
    }

    select {
      display: inline-block;
      width: @width6;
    }
  }

  .dataTables_filter {
    text-align: right;

    label {
      font-weight: normal;
      text-align: left;
      white-space: nowrap;
    }

    input {
      display: inline-block;
      margin-left: 0.5em;
      width: auto;
    }
  }

  .dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
  }

  .dataTables_paginate {
    margin: 0;
    text-align: right;
    white-space: nowrap;

    ul.pagination {
      margin: 2px 0;
      white-space: nowrap;
    }
  }

  .dataTables_processing {
    left: 50%;
    margin-left: -100px;
    margin-top: -26px;
    padding: 1em 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 200px;
  }
}

.dataTable thead > tr > td.sorting,
.dataTable thead > tr > td.sorting_asc,
.dataTable thead > tr > td.sorting_desc,
.dataTable thead > tr > th.sorting,
.dataTable thead > tr > th.sorting_asc,
.dataTable thead > tr > th.sorting_desc {
  padding-right: 30px;
}

.dataTable thead .sorting,
.dataTable thead .sorting_asc,
.dataTable thead .sorting_asc_disabled,
.dataTable thead .sorting_desc,
.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}

.dataTable thead .sorting:after,
.dataTable thead .sorting_asc:after,
.dataTable thead .sorting_asc_disabled:after,
.dataTable thead .sorting_desc:after,
.dataTable thead .sorting_desc_disabled:after {
  bottom: 8px;
  display: block;
  font-family: 'Glyphicons Halflings';
  opacity: 0.5;
  position: absolute;
  right: 8px;
}

.dataTables_scrollHead {
  .dataTable {
    margin-bottom: 0 !important;
  }

  .table-bordered {
    border-bottom-width: 0;
  }
}

.dataTables_scrollBody {
  table {
    border-top: none;
    margin-bottom: 0 !important;
    margin-top: 0 !important;

    thead {
      .sorting {
        &:after {
          display: none;
        }
      }

      .sorting_asc {
        &:after {
          display: none;
        }
      }

      .sorting_desc {
        &:after {
          display: none;
        }
      }
    }

    tbody {
      tr {
        &:first-child {
          th {
            border-top: none;
          }

          td {
            border-top: none;
          }
        }
      }
    }
  }
}

.dataTables_scrollFoot {
  table {
    border-top: none;
    margin-top: 0 !important;
  }
}
@media screen and (max-width: @screen-sm-min) {
  .dataTables_wrapper .dataTables_filter,
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_paginate {
    text-align: center;

    .dtr-modal .dtr-modal-display {
      width: 95%;
    }
  }
}

.dataTable.table-condensed > thead > tr > th {
  padding-right: 20px;
}

.dataTable.table-condensed {
  .sorting {
    &:after {
      right: 6px;
      top: 6px;
    }
  }

  .sorting_asc {
    &:after {
      right: 6px;
      top: 6px;
    }
  }

  .sorting_desc {
    &:after {
      right: 6px;
      top: 6px;
    }
  }
}

.table-bordered.dataTable {
  th {
    border-left-width: 0;
  }

  td {
    border-left-width: 0;
  }

  tbody {
    th {
      border-bottom-width: 0;
    }

    td {
      border-bottom-width: 0;
    }
  }
}

.table-bordered.dataTable td:last-child,
.table-bordered.dataTable td:last-child,
.table-bordered.dataTable th:last-child,
.table-bordered.dataTable th:last-child {
  border-right-width: 0;
}

.table-responsive > .dataTables_wrapper > .row {
  margin: 0;
}

.table-responsive > .dataTables_wrapper > .row > [class^="col-"] {
  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.dataTable.dtr-inline.collapsed > tbody > tr > td.child {
  cursor: default !important;

  &:before {
    display: none !important;
  }
}

.dataTable.dtr-inline.collapsed > tbody > tr > th.child {
  cursor: default !important;

  &:before {
    display: none !important;
  }
}

.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty {
  cursor: default !important;

  &:before {
    display: none !important;
  }
}

.dataTable.dtr-inline.collapsed > tbody > tr > td {
  &:first-child {
    cursor: pointer;
    padding-left: 30px;
    position: relative;

    &:before {
      background-color: @brand-primary;
      border-radius: 14px;
      border: 2px solid white;
      box-shadow: 0 0 3px @gray-light;
      box-sizing: content-box;
      color: white;
      content: '+';
      display: block;
      font-family: 'Courier New', Courier, monospace;
      height: @height1;
      left: 4px;
      line-height: @height1;
      padding: 0 1px 1px 0;
      position: absolute;
      text-align: center;
      top: 9px;
      width: @width4;
    }
  }
}

.dataTable.dtr-inline.collapsed > tbody > tr > th {
  &:first-child {
    cursor: pointer;
    padding-left: 30px;
    position: relative;

    &:before {
      background-color: @brand-primary;
      border-radius: 14px;
      border: 2px solid white;
      box-shadow: 0 0 3px @gray-light;
      box-sizing: content-box;
      color: white;
      content: '+';
      display: block;
      font-family: 'Courier New', Courier, monospace;
      height: @height1;
      left: 4px;
      line-height: @height1;
      padding: 0 1px 1px 0;
      position: absolute;
      text-align: center;
      top: 9px;
      width: @width4;
    }
  }
}

.dataTable.dtr-inline.collapsed > tbody > tr.parent > td {
  &:first-child {
    &:before {
      background-color: @color1;
      content: '-';
    }
  }
}

.dataTable.dtr-inline.collapsed > tbody > tr.parent > th {
  &:first-child {
    &:before {
      background-color: @color1;
      content: '-';
    }
  }
}

.dataTable.dtr-inline.collapsed > tbody > tr.child {
  td {
    &:before {
      display: none;
    }
  }
}

.dataTable.dtr-inline.collapsed.compact > tbody > tr > td {
  &:first-child {
    padding-left: 27px;

    &:before {
      border-radius: 14px;
      height: @height1;
      left: 4px;
      line-height: @height1;
      text-indent: 3px;
      top: 5px;
      width: @width4;
    }
  }
}

.dataTable.dtr-inline.collapsed.compact > tbody > tr > th {
  &:first-child {
    padding-left: 27px;

    &:before {
      border-radius: 14px;
      height: @height1;
      left: 4px;
      line-height: @height1;
      text-indent: 3px;
      top: 5px;
      width: @width4;
    }
  }
}

.dataTable.dtr-column > tbody > tr > td.control {
  cursor: pointer;
  position: relative;

  &:before {
    background-color: @brand-primary;
    border-radius: 14px;
    border: 2px solid @white-color;
    box-shadow: 0 0 3px @gray-light;
    box-sizing: content-box;
    color: @white-color;
    content: '+';
    display: block;
    font-family: 'Courier New', Courier, monospace;
    height: @height3;
    left: 50%;
    line-height: @height1;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: @width3;
  }
}

.dataTable.dtr-column > tbody > tr > th.control {
  cursor: pointer;
  position: relative;

  &:before {
    background-color: @brand-primary;
    border-radius: 14px;
    border: 2px solid @white-color;
    box-shadow: 0 0 3px @gray-light;
    box-sizing: content-box;
    color: @white-color;
    content: '+';
    display: block;
    font-family: 'Courier New', Courier, monospace;
    height: @height3;
    left: 50%;
    line-height: @height1;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: @width3;
  }
}

.dataTable.dtr-column > tbody > tr.parent {
  td.control {
    &:before {
      background-color: @color1;
      content: '-';
    }
  }

  th.control {
    &:before {
      background-color: @color1;
      content: '-';
    }
  }
}

.dataTable > tbody > tr.child {
  padding: 0.5em 1em;

  &:hover {
    background: transparent !important;
  }

  ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid #efefef;
      padding: 0.5em 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .dtr-title {
    display: inline-block;
    font-weight: bold;
    min-width: @width6;
  }
}

.dtr-modal {
  box-sizing: border-box;
  height: 100%;
  left: 0;
  padding: 10em 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .dtr-modal-display {
    background-color: @gray-lighter;
    border-radius: 0.5em;
    border: 1px solid black;
    bottom: 0;
    box-shadow: 0 12px 30px rgba(0,0,0,0.6);
    height: 50%;
    left: 0;
    margin: auto;
    overflow: auto;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 102;
  }

  .dtr-modal-content {
    padding: 1em;
    position: relative;
  }

  .dtr-modal-close {
    background-color: @gray-lighter;
    border-radius: 3px;
    border: 1px solid @color3;
    cursor: pointer;
    height: 22px;
    position: absolute;
    right: 6px;
    text-align: center;
    top: 6px;
    width: 22px;
    z-index: 12;

    &:hover {
      background-color: @color3;
    }
  }

  .dtr-modal-background {
    background: @gray-lighter;
    background: rgba(0,0,0,0.6);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 101;
  }
}

.dtr-bs-modal {
  .table {
    tr {
      &:first-child {
        td {
          border-top: none;
        }
      }
    }
  }
}
