// KU "indgange"

.entries {
  .clearfix();
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  border-bottom: 1px solid @ku-entry-border;
  padding-top: 1px;
  border-top: 1px solid @ku-grey-border;

  @media all and (min-width: @screen-md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .entry {
    flex: 1 1 auto;
    min-width: 0;
    text-align: left;
    border-bottom: 1px solid @white-color;
    position: relative;
    margin-top: 5px;
    padding: 10px 15px;
    width: 100%;
    #gradient.vertical(@ku-entry-start; @ku-entry-end; 0%; 100%);
    @media all and (min-width: @screen-md) {
      width: auto;
      margin-top: 0;
      padding: 10px 15px;
      text-align: center;
    }

    & > a {
      display: block;
      @media all and (min-width: @screen-md) {
        display: inline-flex;
      }
      font-size: 15px;
      align-items: center;
      letter-spacing: 0.06em;
      line-height: 20px;
      font-weight: 600;
      position: relative;
      text-transform: uppercase;
      text-decoration: none;
      color: @gray-666;
      white-space: nowrap;
      .icon-arrow;

      &:hover {
        text-decoration: underline;

        &::before {
          text-decoration: none;
        }
      }

      &:visited {
        color: @gray-666;
      }

      &:before {
        .icon;
        font-size: 12px;
        font-weight: normal;
        margin-right: 5px;
        left: 0;
        top: 50%;
        // transform: translateZ(-50%);
        display: inline-block;
        color: @ku-red;
        text-decoration: none;
      }
    }

    &.with-form {
      padding: 6px 25px 7px;
      flex-basis: content;
      @media all and (min-width: @screen-md) {
        max-width: 33%;
      }
    }
    @media all and (min-width: @screen-md) {
      &+.entry {
        &:after {
          content: '';
          width: 1px;
          height: 70%;
          position: absolute;
          top: 6px;
          left: 0;
          background-color: @ku-grey-border;
        }
      }
    }
  }
}
