//
// Local footer
// --------------------------------------------------

.local-footer {
  align-self: flex-end;
  font-size: 0.85em;
  line-height: 1.43em;
  color: @gray-light;
  @media (max-width: @screen-xs-max) {
    padding: 0 @grid-gutter-by-half;
  }

  > .row {
    margin-bottom: 10px;
  }

  .footer-data {
    text-align: right;
    @media (max-width: @screen-xs-max) {
      text-align: left;
    }
  }
}
//
// Global footer
// --------------------------------------------------

#globalfooter {
  position: relative;
  background: @gray-light;
  @media (min-width: @screen-sm) {
    background: linear-gradient(to bottom, rgba(@gray-light, 1) 0%, rgba(134, 134, 134, 1) 25%, rgba(142, 141, 141, 1) 50%, rgba(136, 136, 136, 1) 80%, rgba(128, 128, 128, 1) 100%);
  }
  color: @white-color;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: auto;
  overflow: hidden;

  .footercontent {
    padding: @grid-gutter-width 0 20px;
    position: relative;

    > .footercolumn {
      z-index: 2;

      @media (min-width: @screen-sm) {
        &:nth-child(3) {
          padding-right: @grid-gutter-width;
        }
      }

      &:last-child {
        padding-right: 0;
      }

      &:first-child:before {
        content: ' ';
        display: block;
        position: absolute;
        z-index: -1;
        top: -5px;
        right: 60px;
        left: auto;
        bottom: 0;
        width: 430px;
        height: 430px;
        opacity: 0.1;
        background: url("https://bootstrap.secure.ku.dk/img/footersegl.svg") no-repeat;
        background-size: cover;
      }

      &:last-child {
        margin-right: 0;
      }

      .footer-heading {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0;

        a,
        a:visited {
          color: @white-color;
        }

        a:active,
        a:focus,
        a:hover {
          color: #e2e2e2;
        }

        &:not(:first-child) {
          margin-top: 20px;
        }

        &[data-heading='open'] {
          margin-top: 20px;
          // margin-bottom: 3px;
        }
      }
    }
  }

  ul.footerlinks {
    list-style: none;
    padding-left: 0;
    margin: 2px 0 0;
    display: block;

    li {
      padding: 0;
      line-height: 20px;
      font-size: @font-size-base;
      font-weight: normal;

      a {
        color: @white-color;
        text-decoration: none;

        &:hover {
          text-decoration: none;
          color: #e2e2e2;
        }

        &:focus {
          .tab-focus-v2();
          color: #e2e2e2;
        }
      }

      .icon-padlock {
        &:before {
          font-size: 15px;
          margin-left: 4px;
        }
      }
    }
  }
}

.social-items {
  width: 86%;
  @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
    width: 100%;
  }

  .social-item {
    display: inline-block;
    margin: @grid-gutter-by-half 4px 0 0;
    background-color: @ku-footer-icon-bg;
    border-radius: 50%;

    .social-icon {
      width: @ku-footer-icon-size;
      height: @ku-footer-icon-size;
      font-size: 26px;
      border-radius: inherit;
      color: @white-color;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      &::before {
        .icon;
      }

      &:active {
        background-color: @ku-footer-icon-bg;
      }

      &:focus {
        background-color: @ku-footer-icon-bg;
        .tab-focus-v2();
      }
    }
  }

  .footer-heading {
    margin-top: 20px;
  }
}
@media (max-width: @screen-xs-max) {
  #globalfooter {
    background: @gray-light;

    .container {
      padding-right: 0;
      padding-left: 0;
    }

    .padlock {
      display: inline-block!important;
      padding-right: 0!important;

      &:after {
        display: none;
      }
    }

    .footercontent {
      width: 100%;
      display: block;
      padding: 0;
      margin: 0 auto;

      &:after {
        display: none;
      }

      .footercolumn {
        width: 100%;
        float: none;
        padding: 0;

        &:first-child:before {
          display: none;
        }

        .footer-heading {
          cursor: pointer;
          position: relative;
          padding: 12px 25px 12px 20px;
          margin-top: 0 !important;

          &[data-heading='open'] {
            cursor: default;
            padding-bottom: 8px;
            padding-left: 0;
            margin-bottom: 0;

            &:after,
            &:before {
              display: none;
            }
          }

          &[data-heading='toggle'] {
            + ul.footerlinks {
              display: none;
              margin: 0;
              background-color: @white-color;
            }
          }

          &:before {
            position: absolute;
            bottom: -2px;
            left: 0;
            display: block;
            content: '';
            background: @white-color;
            height: 1px;
            width: calc(100% + @margin10);
            margin-left: -@margin10;
          }

          &:after {
            .glyphicon;
            content: "\002b";
            line-height: 0!important;
            text-transform: none;
            z-index: 2;
            color: @white-color;
            font-size: 14px;
            position: absolute;
            top: 50%;
            right: 15px;
            left: auto;
          }

          &.open {
            &:after {
              content: "\2212";
            }
          }
        }

        ul.footerlinks {
          li {
            color: @ku-news-gray;
            font-weight: 400;
            font-size: @font-size-large;
            padding: 0;
            position: relative;

            a {
              color: @ku-light-grey;
              padding: @padding10 @padding20;
              display: block;
              border-bottom: 1px solid @gray;

              &:active,
              &:focus {
                background-color: #cdcdcd;
              }

              &:hover {
                color: initial;
              }
            }

            &:last-child {
              a {
                border-bottom: 0;
              }
            }
          }
        }
      }
    }

    .social-items {
      padding: 0 @padding20 @padding20;
      width: 100%;

      .social-item {
        margin: @grid-gutter-by-half 16px 0 0;

        .social-icon {
          font-size: 32px;
          width: 35px;
          height: 35px;
          background-color: @gray-666;
        }
      }
    }
  }
}
