//
// KU custom grid box styling
// --------------------------------------------------
// Grid box styles
// ------------------
// outlined: with border color
// full: with full background color
// text-top: text-bar at the top
// text-down: text-bar at the bottom
// Grid box sizes
@gridbox1: 289px; // .size1
@gridbox2: 185px; // .size2
@gridbox3: 133px; // .size3
@gridbox4: 81px; // .size4
@gridbox5: 55px; // .size5
// Colors
@brown: #4f473f;
@red: #901a1e;
@blue: #a1c5c8;
@green: #a0b763;
@ku-gray: #f2f2f0;
@white: #fff;

.gridbox {
  position: relative;
  line-height: 1.33;
  display: flex;
  flex-direction: column;

  .theme-ku & {
    &.full {
      background: @ku-red;
      color: @white-color;
    }

    &.outlined {
      border: 1px solid @ku-red;
    }

    &.faculty_color {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(@ku-red, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: @ku-red;
        }
      }

      &.outlined {
        border: 1px solid @ku-red;
        color: @ku-red!important;

        &::before {
          color: @ku-red;
        }
      }

      &.full {
        background: @ku-red;
        color: @white-color;
      }
    }

    &.subcolor_1 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(@blue, .75);
          color: @white;
        }
      }

      &.text-top {
        .box1 .header {
          background: @blue;
          color: @white;
        }
      }

      &.outlined {
        border: 1px solid @blue;
        color: @blue!important;

        &::before {
          color: @blue;
        }
      }

      &.full {
        background: @blue;
        color: @white-color;
      }
    }

    &.subcolor_2 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(@brown, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: @brown;
          color: @white;
        }
      }

      &.outlined {
        border: 1px solid @brown;
        color: @brown!important;

        &::before {
          color: @brown;
        }
      }

      &.full {
        background: @brown;
        color: @white-color;
      }
    }

    &.subcolor_3 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(@green, .75);
          color: @white;
        }
      }

      &.text-top {
        .box1 .header {
          background: @green;
          color: @white;
        }
      }

      &.outlined {
        border: 1px solid @green;
        color: @green!important;

        &::before {
          color: @green;
        }
      }

      &.full {
        background: @green;
        color: @white-color;
      }
    }

    &.subcolor_4 {
      color: @gray-dark;

      &.text-down {
        .box1 .header {
          .backgroundColorFix(@ku-gray, .75);
          color: @gray-dark;
        }
      }

      &.text-top {
        .box1 .header {
          color: @gray-dark;
          background: @ku-gray;
        }
      }

      &.outlined {
        border: 1px solid @gray;
        color: @gray-dark!important;

        &::before {
          color: @gray-dark;
        }
      }

      &.full {
        background: @ku-gray;
      }
    }
  }

  .theme-science & {
    &.full {
      background: @science;
      color: @white-color;
    }

    &.outlined {
      border: 1px solid @science;
      color: @science!important;
    }

    &.faculty_color {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(@science, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: @science;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid @science;
        color: @science!important;

        &::before {
          color: @science;
        }
      }

      &.full {
        background: @science;
        color: @white-color;
      }
    }

    &.subcolor_1 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#dfaf48, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #dfaf48;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #dfaf48;
        color: #dfaf48!important;

        &::before {
          color: #dfaf48;
        }
      }

      &.full {
        background: #dfaf48;
        color: @white-color;
      }
    }

    &.subcolor_2 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#a4c1a9, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #a4c1a9;
        }
      }

      &.outlined {
        border: 1px solid #a4c1a9;
        color: #a4c1a9!important;

        &::before {
          color: #a4c1a9;
        }
      }

      &.full {
        background: #a4c1a9;
        color: @white-color;
      }
    }

    &.subcolor_3 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#bea986, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #bea986;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #bea986;
        color: #bea986;

        &::before {
          color: #bea986;
        }
      }

      &.full {
        background: #bea986;
        color: @white-color;
      }
    }

    &.subcolor_4 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#85a8ae, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #85a8ae;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #85a8ae;
        color: #85a8ae!important;

        &::before {
          color: #85a8ae;
        }
      }

      &.full {
        background: #85a8ae;
        color: @white-color;
      }
    }
  }

  .theme-hum & {
    &.full {
      background: @hum;
      color: @white-color;
    }

    &.outlined {
      border: 1px solid @hum;
    }

    &.faculty_color {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(@hum, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: @hum;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid @hum;
        color: @hum!important;

        &::before {
          color: @hum;
        }
      }

      &.full {
        background: @hum;
        color: @white-color;
      }
    }

    &.subcolor_1 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#1d2e4a, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #1d2e4a;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #1d2e4a;
        color: #1d2e4a!important;

        &::before {
          color: #1d2e4a;
        }
      }

      &.full {
        background: #1d2e4a;
        color: @white-color;
      }
    }

    &.subcolor_2 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#7d899b, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #7d899b;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #7d899b;
        color: #7d899b!important;

        &::before {
          color: #7d899b;
        }
      }

      &.full {
        background: #7d899b;
        color: @white-color;
      }
    }

    &.subcolor_3 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#bea986, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #bea986;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #bea986;
        color: #bea986!important;

        &::before {
          color: #bea986;
        }
      }

      &.full {
        background: #bea986;
        color: @white-color;
      }
    }

    &.subcolor_4 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#e7400d, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #e7400d;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #e7400d;
        color: #e7400d!important;

        &::before {
          color: #e7400d;
        }
      }

      &.full {
        background: #e7400d;
        color: @white-color;
      }
    }
  }

  .theme-teol & {
    &.full {
      background: @teol;
      color: @white-color;
    }

    &.outlined {
      border: 1px solid @teol;
    }

    &.faculty_color {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(@teol, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: @teol;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid @teol;
        color: @teol!important;

        &::before {
          color: @teol;
        }
      }

      &.full {
        background: @teol;
        color: @white-color;
      }
    }

    &.subcolor_1 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#d8680b, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #d8680b;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #d8680b;
        color: #d8680b!important;

        &::before {
          color: #d8680b;
        }
      }

      &.full {
        background: #d8680b;
        color: @white-color;
      }
    }

    &.subcolor_2 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#093f50, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #093f50;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #093f50;
        color: #093f50;

        &::before {
          color: #093f50;
        }
      }

      &.full {
        background: #093f50;
        color: @white-color;
      }
    }

    &.subcolor_3 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#84bfcc, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #84bfcc;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #84bfcc;
        color: #84bfcc!important;

        &::before {
          color: #84bfcc;
        }
      }

      &.full {
        background: #84bfcc;
        color: @white-color;
      }
    }

    &.subcolor_4 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#c8d351, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #c8d351;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #c8d351;
        color: #c8d351!important;

        &::before {
          color: #c8d351;
        }
      }

      &.full {
        background: #c8d351;
        color: @white-color;
      }
    }
  }

  .theme-sund & {
    &.full {
      background: @sund;
      color: @white-color;
    }

    &.outlined {
      border: 1px solid @sund;
    }

    &.faculty_color {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(@sund, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: @sund;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid @sund;
        color: @sund!important;

        &::before {
          color: @sund;
        }
      }

      &.full {
        background: @sund;
        color: @white-color;
      }
    }

    &.subcolor_1 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#77b6e5, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #77b6e5;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #77b6e5;
        color: #77b6e5!important;

        &::before {
          color: #77b6e5;
        }
      }

      &.full {
        background: #77b6e5;
        color: @white-color;
      }
    }

    &.subcolor_2 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#0f4576, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #0f4576;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #0f4576;
        color: #0f4576!important;

        &::before {
          color: #0f4576;
        }
      }

      &.full {
        background: #0f4576;
        color: @white-color;
      }
    }

    &.subcolor_3 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#00706e, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #00706e;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #00706e;
        color: #00706e!important;

        &::before {
          color: #00706e;
        }
      }

      &.full {
        background: #00706e;
        color: @white-color;
      }
    }

    &.subcolor_4 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#b0d54e, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #b0d54e;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #b0d54e;
        color: #b0d54e!important;

        &::before {
          color: #b0d54e;
        }
      }

      &.full {
        background: #b0d54e;
        color: @white-color;
      }
    }
  }

  .theme-samf & {
    &.full {
      background: @samf;
      color: @white-color;
    }

    &.outlined {
      border: 1px solid @samf;
    }

    &.faculty_color {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(@samf, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: @samf;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid @samf;
        color: @samf!important;

        &::before {
          color: @samf;
        }
      }

      &.full {
        background: @samf;
        color: @white-color;
      }
    }

    &.subcolor_1 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#2a3d66, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #2a3d66;
        }
      }

      &.outlined {
        border: 1px solid #2a3d66;
        color: #2a3d66!important;

        &::before {
          color: #2a3d66;
        }
      }

      &.full {
        background: #2a3d66;
      }
    }

    &.subcolor_2 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#a0b763, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #a0b763;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #a0b763;
        color: #a0b763!important;

        &::before {
          color: #a0b763;
        }
      }

      &.full {
        background: #a0b763;
        color: @white-color;
      }
    }

    &.subcolor_3 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#95c1b0, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #95c1b0;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #95c1b0;
        color: #95c1b0!important;

        &::before {
          color: #95c1b0;
        }
      }

      &.full {
        background: #95c1b0;
        color: @white-color;
      }
    }

    &.subcolor_4 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#7d8a8b, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #7d8a8b;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #7d8a8b;
        color: #7d8a8b!important;

        &::before {
          color: #7d8a8b;
        }
      }

      &.full {
        background: #7d8a8b;
        color: @white-color;
      }
    }
  }

  .theme-jura & {
    &.full {
      background: @jura;
      color: @white-color;
    }

    &.outlined {
      border: 1px solid @jura;
    }

    &.faculty_color {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(@jura, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: @jura;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid @jura;
        color: @jura!important;

        &::before {
          color: @jura;
        }
      }

      &.full {
        background: @jura;
      }
    }

    &.subcolor_1 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#ffb400, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #ffb400;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #ffb400;
        color: #ffb400!important;

        &::before {
          color: #ffb400;
        }
      }

      &.full {
        background: #ffb400;
      }
    }

    &.subcolor_2 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#33838a, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #33838a;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #33838a;
        color: #33838a!important;

        &::before {
          color: #33838a;
        }
      }

      &.full {
        background: #33838a;
      }
    }

    &.subcolor_3 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#ccc6ae, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #ccc6ae;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #ccc6ae;
        color: #ccc6ae!important;

        &::before {
          color: #ccc6ae;
        }
      }

      &.full {
        background: #ccc6ae;
      }
    }

    &.subcolor_4 {
      &.text-down {
        .box1 .header {
          .backgroundColorFix(#a3650c, .75);
          color: @white-color;
        }
      }

      &.text-top {
        .box1 .header {
          background: #a3650c;
          color: @white-color;
        }
      }

      &.outlined {
        border: 1px solid #a3650c;
        color: #a3650c!important;

        &::before {
          color: #a3650c;
        }
      }

      &.full {
        background: #a3650c;
      }
    }
  }

  &.subcolor_5 {
    &.text-down {
      .box1 .header {
        .backgroundColorFix(@ku-gray, .75);
        color: @gray-dark;
      }
    }

    &.text-top {
      .box1 .header {
        background: @ku-gray;
        color: @gray-dark;
      }
    }

    &.outlined {
      border: 1px solid @gray-dark;
      color: @gray-dark!important;

      &::before {
        color: @gray-dark;
      }
    }

    &.full {
      background: @ku-gray;
      color: @gray-dark;

      .header {
        color: @gray-dark;
      }

      &::before {
        color: @gray-dark;
      }
    }

    &::before {
      color: @gray-dark;
    }
  }

  &.subcolor_6 {
    &.text-down {
      .box1 .header {
        .backgroundColorFix(@white-color, .8);
        color: @gray-dark;
      }
    }

    &.text-top {
      .box1 .header {
        background: @white-color;
        color: @gray-dark;
      }
    }

    &.outlined {
      border: 1px solid @gray-dark;
      color: @gray-dark!important;

      &::before {
        color: @gray-dark;
      }
    }

    &.full {
      background: @white-color;
      color: @gray-dark;

      .header {
        color: @gray-dark;
      }

      &::before {
        color: @gray-dark;
      }
    }

    &::before {
      color: @gray-dark;
    }
  }

  &.subcolor_7 {
    &.text-down {
      .box1 .header {
        .backgroundColorFix(@brown, .8);
        color: @white-color;
      }
    }

    &.text-top {
      .box1 .header {
        background: @brown;
        color: @white-color;
      }
    }

    &.outlined {
      border: 1px solid @brown;
      color: @gray-dark!important;

      &::before {
        color: @brown;
      }
    }

    &.full {
      background: @brown;
      color: @white-color;

      .header {
        color: @white-color;
      }
    }

    &::before {
      color: @white-color;
    }
  }

  .box1 {
    z-index: 4;
    order: 1;
    flex: 0 1 auto;
    position: relative;

    .header {
      color: inherit;
      font-size: 1.2em;
      padding: 8px 25px 8px @padding10;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 0.8px;
    }
  }

  .box2 {
    padding: 5px @padding10 @padding10;
    order: 2;
    flex: 1 1 auto;
  }

  &.with-img {
    // Boxes with an image
    .box2 {
      position: relative;
      padding: 0 !important;
      overflow: hidden;

      img {
        // center image inside the box
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
    }
  }

  &:not(.with-img) {
    .box1 {
      flex: 0 1 100%;
    }

    .box2 {
      display: none;
    }
  }
  // Boxes with the title at the top
  &.text-top {
    .box1 {
      .box1;
    }

    .box2 {
      .box2;
    }

    &::before {
      top: @padding10;
      bottom: auto;
    }
  }
  // Boxes with the title at the bottom
  &.text-down {
    .box1 {
      order: 2;
    }

    .box2 {
      order: 1;
    }
  }
  // Boxes with the text above the content incl. opacity
  &.text-over {
    .box1 {
      .header {
        position: absolute;
        left: 0;
        bottom: 0;
        color: inherit;
      }
    }
  }
  // Add an arrow to the box
  &::before {
    display: inline-block;
    font-family: 'arrow';
    content: '\0043';
    color: @white-color;
    bottom: 12px;
    right: @margin10;
    position: absolute;
    z-index: 5;
  }
  // Height 298px
  &.size1 {
    height: @gridbox1;
    background-color: @ku-gray;

    .box1 {
      order: 2;
      padding: 5px 10px 10px;
      flex: 1 1 auto;

      .header-small {
        color: @gray-light;
        font-weight: bold;
        text-transform: uppercase;
        margin: 3px 0 4px;

        .date {
          float: right;
          padding-left: 5px;
        }
      }

      .header {
        font-size: 1.2em;
        line-height: 1.3em;
        font-weight: bold;
        padding: 0;
        margin: 3px 0 2px;
      }

      .text {
        font-size: 1.1em;
        font-weight: 400;
        line-height: 1.45em;
        padding-top: 3px;
      }
    }

    .box2 {
      max-height: 50%; // Image height
      order: 1;
      flex: 0 1 auto;
      overflow-x: hidden;
    }
  }

  &.outlined {
    &:not(.with-img) {
      // Boxes without img: remove box2, make box1 100% height
      .box1 {
        flex: 0 1 100%;
      }

      .box2 {
        display: none;
      }
    }

    .text {
      display: block;
    }
  }

  .text {
    padding: 0 25px 5px @padding10;
    color: inherit;
  }
  // Height 185px
  &.size2 {
    height: @gridbox2;

    &.with-img {
      .box1 {
        .text {
          display: none;
        }
      }
    }

    &:not(.with-img) {
      .box1 {
        flex: 0 1 100%;

        .text {
          display: block;
        }
      }
    }
  }
  // Height 133px
  &.size3 {
    height: @gridbox3;

    &.with-img {
      .box1 {
        .text {
          display: none;
        }
      }
    }

    &:not(.with-img) {
      .box1 {
        flex: 0 1 100%;

        .text {
          display: block;
        }
      }
    }
  }
  // Height 81px
  &.size4 {
    height: @gridbox4;

    .box2 {
      display: none;
    }
  }
  // Height 55px
  &.size5 {
    height: @gridbox5;

    .box1 {
      .header {
        padding-bottom: 4px;
      }
    }

    .box2 {
      display: none;
    }
  }

  img {
    max-width: none!important;
  }
}

.boxlink {
  color: inherit!important;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
// Obvius specific styling
// full width and 2/3 columns

.one-two-column .column2,
.single-column .column1,
.two-one-column .column1 {
  .size2,
  .size3 {
    &.with-img {
      flex-direction: row;
      color: @white-color;

      .theme-ku & {
        &.faculty_color {
          background-color: @ku-red;
        }

        &.subcolor_1 {
          background-color: @blue;
        }

        &.subcolor_2 {
          background-color: @brown;
        }

        &.subcolor_3 {
          background-color: @green;
        }

        &.subcolor_4 {
          background-color: @ku-gray;
          color: @gray-dark;
        }
      }

      .theme-science & {
        &.faculty_color {
          background-color: @science;
        }

        &.subcolor_1 {
          background-color: #dfaf48;
        }

        &.subcolor_2 {
          background-color: #a4c1a9;
        }

        &.subcolor_3 {
          background-color: #bea986;
        }

        &.subcolor_4 {
          background-color: #85a8ae;
        }
      }

      .theme-hum & {
        color: @white-color;

        &.faculty_color {
          background-color: @hum;
        }

        &.subcolor_1 {
          background-color: #1d2e4a;
        }

        &.subcolor_2 {
          background-color: #7d899b;
        }

        &.subcolor_3 {
          background-color: #bea986;
          color: @gray-dark;
        }

        &.subcolor_4 {
          background-color: #e7400d;
        }
      }

      .theme-teol & {
        &.faculty_color {
          background-color: @teol;
        }

        &.subcolor_1 {
          background-color: #d8680b;
        }

        &.subcolor_2 {
          background-color: #093f50;
        }

        &.subcolor_3 {
          background-color: #84bfcc;
        }

        &.subcolor_4 {
          background-color: #c8d351;
        }
      }

      .theme-sund & {
        &.faculty_color {
          background-color: @sund;
        }

        &.subcolor_1 {
          background-color: #77b6e5;
        }

        &.subcolor_2 {
          background-color: #0f4576;
        }

        &.subcolor_3 {
          background-color: #00706e;
        }

        &.subcolor_4 {
          background-color: #b0d54e;
        }
      }

      .theme-samf & {
        &.faculty_color {
          background-color: @samf;
        }

        &.subcolor_1 {
          background-color: #2a3d66;
        }

        &.subcolor_2 {
          background-color: #a0b763;
        }

        &.subcolor_3 {
          background-color: #95c1b0;
        }

        &.subcolor_4 {
          background-color: #7d8a8b;
        }
      }

      .theme-jura & {
        &.faculty_color {
          background-color: @jura;
        }

        &.subcolor_1 {
          background-color: #ffb400;
        }

        &.subcolor_2 {
          background-color: #33838a;
        }

        &.subcolor_3 {
          background-color: #ccc6ae;
        }

        &.subcolor_4 {
          background-color: #a3650c;
        }
      }

      &.subcolor_5 {
        background-color: @ku-gray;
      }

      &.subcolor_6 {
        background-color: @white-color;
      }

      &.subcolor_7 {
        background-color: @brown;
      }

      &.text-over .box1 .header {
        bottom: auto;
        left: auto;
        position: relative;
      }

      &.text-down::before {
        bottom: @margin10;
        top: auto;
      }

      .box1 {
        flex: 0 1 auto;

        .header {
          background-color: transparent;
        }

        .text {
          display: block;
        }
      }

      .box2 {
        flex: 0 1 235px;
      }

      &.full {
        .box1 {
          order: 2;
        }

        .box2 {
          order: 1;
        }
      }

      &.outlined {
        .box1 {
          order: 2;
        }

        .box2 {
          order: 1;
        }
        background-color: @white-color!important;
      }
    }
  }
}
// Switch img and text for 2/3 column boxes

.one-two-column .column2,
.two-one-column .column1 {
  // 2/3 columns span
  .size2,
  .size3 {
    &.with-img {
      .box1 {
        flex: 0 1 auto;
      }

      .box2 {
        flex: 0 1 235px;
      }
    }
  }
}
//Arrow for single column boxes

.one-two-column .column1,
.two-one-column .column2 {
  // One columns span
  .size2,
  .size3 {
    &.text-down {
      &::before {
        bottom: @margin10;
      }
    }
  }
}
// Outline style
.triple-column .column1, .triple-column .column2, .triple-column .column3,// 3/3
.one-two-column .column1, .two-one-column .column2,// 1/3 column

.double-column .column1,
.double-column .column2 {
  // 1/2 columns
  .size2,
  .size3 {
    &.outlined.with-img {
      &::before {
        color: @white-color;
      }

      .theme-ku & {
        &.faculty_color {
          .header {
            .backgroundColorFix(@ku-red, .75);
            color: @white-color;
          }
        }

        &.subcolor_1 {
          .header {
            .backgroundColorFix(@blue, .75);
            color: @white-color;
          }
        }

        &.subcolor_2 {
          .header {
            .backgroundColorFix(@brown, .75);
            color: @white-color;
          }
        }

        &.subcolor_3 {
          .header {
            .backgroundColorFix(@green, .75);
            color: @white-color;
          }
        }

        &.subcolor_4 {
          .header {
            .backgroundColorFix(@ku-gray, .75);
            color: @gray-dark;
          }
        }
      }

      .theme-science & {
        &.faculty_color {
          .header {
            .backgroundColorFix(@science, .75);
            color: @white-color;
          }
        }

        &.subcolor_1 {
          .header {
            .backgroundColorFix(#dfaf48, .75);
            color: @white-color;
          }
        }

        &.subcolor_2 {
          .header {
            .backgroundColorFix(#a4c1a9, .75);
            color: @white-color;
          }
        }

        &.subcolor_3 {
          .header {
            .backgroundColorFix(#bea986, .75);
            color: @white-color;
          }
        }

        &.subcolor_4 {
          .header {
            .backgroundColorFix(#85a8ae, .75);
            color: @white-color;
          }
        }
      }

      .theme-hum & {
        &.faculty_color {
          .header {
            .backgroundColorFix(@hum, .75);
            color: @white-color;
          }
        }

        &.subcolor_1 {
          .header {
            .backgroundColorFix(#1d2e4a, .75);
            color: @white-color;
          }
        }

        &.subcolor_2 {
          .header {
            .backgroundColorFix(#7d899b, .75);
            color: @white-color;
          }
        }

        &.subcolor_3 {
          .header {
            .backgroundColorFix(#bea986, .75);
            color: @gray-dark;
          }
        }

        &.subcolor_4 {
          .header {
            .backgroundColorFix(#e7400d, .75);
            color: @white-color;
          }
        }
      }

      .theme-teol & {
        &.faculty_color {
          .header {
            .backgroundColorFix(@teol, .75);
            color: @white-color;
          }
        }

        &.subcolor_1 {
          .header {
            .backgroundColorFix(#d8680b, .75);
            color: @white-color;
          }
        }

        &.subcolor_2 {
          .header {
            .backgroundColorFix(#093f50, .75);
            color: @white-color;
          }
        }

        &.subcolor_3 {
          .header {
            .backgroundColorFix(#84bfcc, .75);
            color: @white-color;
          }
        }

        &.subcolor_4 {
          .header {
            .backgroundColorFix(#c8d351, .75);
            color: @white-color;
          }
        }
      }

      .theme-sund & {
        &.faculty_color {
          .header {
            .backgroundColorFix(@sund, .75);
            color: @white-color;
          }
        }

        &.subcolor_1 {
          .header {
            .backgroundColorFix(#77b6e5, .75);
            color: @white-color;
          }
        }

        &.subcolor_2 {
          .header {
            .backgroundColorFix(#0f4576, .75);
            color: @white-color;
          }
        }

        &.subcolor_3 {
          .header {
            .backgroundColorFix(#00706e, .75);
            color: @white-color;
          }
        }

        &.subcolor_4 {
          .header {
            .backgroundColorFix(#b0d54e, .75);
            color: @white-color;
          }
        }
      }

      .theme-samf & {
        &.faculty_color {
          .header {
            .backgroundColorFix(@samf, .75);
            color: @white-color;
          }
        }

        &.subcolor_1 {
          .header {
            .backgroundColorFix(#2a3d66, .75);
            color: @white-color;
          }
        }

        &.subcolor_2 {
          .header {
            .backgroundColorFix(#a0b763, .75);
            color: @white-color;
          }
        }

        &.subcolor_3 {
          .header {
            .backgroundColorFix(#95c1b0, .75);
            color: @white-color;
          }
        }

        &.subcolor_4 {
          .header {
            .backgroundColorFix(#7d8a8b, .75);
            color: @white-color;
          }
        }
      }

      .theme-jura & {
        &.faculty_color {
          .header {
            .backgroundColorFix(@jura, .75);
            color: @white-color;
          }
        }

        &.subcolor_1 {
          .header {
            .backgroundColorFix(#ffb400, .75);
            color: @white-color;
          }
        }

        &.subcolor_2 {
          .header {
            .backgroundColorFix(#33838a, .75);
            color: @white-color;
          }
        }

        &.subcolor_3 {
          .header {
            .backgroundColorFix(#ccc6ae, .75);
            color: @white-color;
          }
        }

        &.subcolor_4 {
          .header {
            .backgroundColorFix(#a3650c, .75);
            color: @white-color;
          }
        }
      }

      &.subcolor_5 {
        .header {
          .backgroundColorFix(@ku-gray, .75);
          color: @gray-dark;
        }
      }

      &.subcolor_6 {
        .header {
          .backgroundColorFix(@white-color, .75);
          color: @gray-dark;
        }
      }

      &.subcolor_7 {
        .header {
          .backgroundColorFix(@brown, .75);
          color: @white-color;
        }
      }

      .box1 {
        order: 2;

        .header {
          position: absolute;
          left: 0;
          bottom: 0;
          color: inherit;
        }
      }

      .box2 {
        order: 1;
      }
      background-color: transparent!important;
      color: @white-color;
    }
  }
}
// Remove border from single column outlined boxes with images
.triple-column .column1, .triple-column .column2, .triple-column .column3,// 3/3 & 1/3 column

.one-two-column .column1,
.two-one-column .column2 {
  .size2,
  .size3 {
    &.with-img {
      &.outlined {
        border-width: 0;
      }
    }
  }
}
@media only screen and (min-width: 460px) and (max-width: 870px) {
  // All single comlumn boxes with image
  .triple-column .column1, .triple-column .column2, .triple-column .column3,// 3/3
  .one-two-column .column1, .two-one-column .column2,// 1/3 column

  .double-column .column1,
  .double-column .column2 {
    .size2,
    .size3 {
      &.with-img {
        flex-direction: row;
        color: @white-color;

        .theme-ku & {
          &.faculty_color {
            background-color: @ku-red;
          }

          &.subcolor_1 {
            background-color: @blue;
          }

          &.subcolor_2 {
            background-color: @brown;
          }

          &.subcolor_3 {
            background-color: @green;
          }

          &.subcolor_4 {
            background-color: @ku-gray;
            color: @gray-dark;
          }
        }

        .theme-science & {
          &.faculty_color {
            background-color: @science;
          }

          &.subcolor_1 {
            background-color: #dfaf48;
          }

          &.subcolor_2 {
            background-color: #a4c1a9;
          }

          &.subcolor_3 {
            background-color: #bea986;
          }

          &.subcolor_4 {
            background-color: #85a8ae;
          }
        }

        .theme-hum & {
          color: @white-color;

          &.faculty_color {
            background-color: @hum;
          }

          &.subcolor_1 {
            background-color: #1d2e4a;
          }

          &.subcolor_2 {
            background-color: #7d899b;
          }

          &.subcolor_3 {
            background-color: #bea986;
            color: @gray-dark;
          }

          &.subcolor_4 {
            background-color: #e7400d;
          }
        }

        .theme-teol & {
          &.faculty_color {
            background-color: @teol;
          }

          &.subcolor_1 {
            background-color: #d8680b;
          }

          &.subcolor_2 {
            background-color: #093f50;
          }

          &.subcolor_3 {
            background-color: #84bfcc;
          }

          &.subcolor_4 {
            background-color: #c8d351;
          }
        }

        .theme-sund & {
          &.faculty_color {
            background-color: @sund;
          }

          &.subcolor_1 {
            background-color: #77b6e5;
          }

          &.subcolor_2 {
            background-color: #0f4576;
          }

          &.subcolor_3 {
            background-color: #00706e;
          }

          &.subcolor_4 {
            background-color: #b0d54e;
          }
        }

        .theme-samf & {
          &.faculty_color {
            background-color: @samf;
          }

          &.subcolor_1 {
            background-color: #2a3d66;
          }

          &.subcolor_2 {
            background-color: #a0b763;
          }

          &.subcolor_3 {
            background-color: #95c1b0;
          }

          &.subcolor_4 {
            background-color: #7d8a8b;
          }
        }

        .theme-jura & {
          &.faculty_color {
            background-color: @jura;
          }

          &.subcolor_1 {
            background-color: #ffb400;
          }

          &.subcolor_2 {
            background-color: #33838a;
          }

          &.subcolor_3 {
            background-color: #ccc6ae;
          }

          &.subcolor_4 {
            background-color: #a3650c;
          }
        }

        &.subcolor_5 {
          background-color: @ku-gray;
        }

        &.subcolor_6 {
          background-color: @white-color;
        }

        &.subcolor_7 {
          background-color: @brown;
        }

        &.text-over .box1 .header {
          position: relative;
          bottom: auto;
          left: auto;
        }

        &.text-down::before {
          bottom: @margin10;
          top: auto;
        }

        .box1 {
          flex: 1 1 auto;

          .text {
            display: block;
          }
        }

        .box2 {
          flex: 0 1 235px;
        }

        &.full {
          .box1 {
            order: 2;
          }

          .box2 {
            order: 1;
          }
        }

        &.outlined {
            border-width: 1px;
          .box1 {
            order: 2;

          }

          .box2 {
            order: 1;
          }
          background-color: transparent!important;
        }
      }
    }
  }
}
@media only screen and (max-width: 459px) {
  // Full width and 2/3 columns - must behave like single column boxes
  .one-two-column .column2,
  .single-column .column1,
  .two-one-column .column1 {
    .size2,
    .size3 {
      &.with-img {
        flex-direction: column;

        .text {
          display: none;
        }

        .box1 {
          order: 2;
          flex: 0 1 auto;

          .text {
            display: none;
          }
        }

        .box2 {
          order: 1;
        }

        &.outlined {
          border-width: 0;
        }
      }
    }
  }
}
@media only screen and (max-width: 870px) {
  // Outline fix for single and double column boxes
  .triple-column .column1, .triple-column .column2, .triple-column .column3,// 3/3
  .one-two-column .column1, .two-one-column .column2,// 1/3 column

  .double-column .column1,
  .double-column .column2 {
    .size2,
    .size3 {
      &.with-img {
        &.outlined {


          .box1 {
            flex: 0 1 auto;

            .header {
              position: relative;
              bottom: auto;
              left: auto;
              background-color: transparent!important;
            }
          }
        }
      }
    }
  }
}
