//
// CSS for legacy CMS elements - delete when not necessary.
// --------------------------------------------------
// Gamle nyhedsbokse

.gcitem {
  &.nyhed {
    .nyhed-illustration {
      & +.nyhedswrap {
        .nyhed-tema {
          line-height: normal;
          margin: 4px 0 2px;

          & + h2 {
            margin-top: 2px;

            a {
              color: @text-color;
            }
          }
        }

        .nyhed-teaser {
          margin: 0 0 20px;
        }
      }
    }
  }
}
// Banner doctype

#banners-3col {
  padding: 0;
}
// Old advanced lists

ul {
  &.stripped {
    list-style-type: none;
    padding-left: 0;
    li {
      background-repeat: no-repeat;
    }
  }
}

.udd_table {
  border-collapse: collapse;
  border-color: #d7d7d7;
  border-style: solid;
  border-width: 0 0 1px 0;
  line-height: 1.5;
  margin: 0 1px 0 0;
  padding: 0;
  width: 100%;

  p {
    margin: 0;
  }

  .udd_table_td_noborder {
    border-right: 0;
    height: 20px;
    padding: 0;
  }

  td {
    border-color: #d7d7d7;
    border-style: solid;
    border-width: 1px 1px 0 0;
    margin: 0;
    padding: 10px 8px 10px 12px;
    vertical-align: top;

    &.udd_table_td_bgcolor {
      padding: 0;
      text-align: center;
      background-color: #f3f3f3;
      width: 10%;
      border-left: 1px solid #d7d7d7;
      vertical-align: middle;
    }
  }

  .udd_table_td_fixedwidth2 {
    width: 45%;
  }

  .udd_table_td_fixedwidth4 {
    width: 22.5%;
  }

  .udd_table_tr_bottom {
    border-bottom: 1px solid #d7d7d7;
  }
}

.standard_table {
  border-collapse: collapse;
  border: 1px solid #d7d7d7;
  table-layout: fixed;

  td {
    padding: 10px 8px 10px 12px;
    vertical-align: top;
  }
}

.fritekst_top_img {
  margin-bottom: 10px;
}

.visible-desktop {
  display: block;
}

.visible-mobile {
  display: none;
}

// Old image and camption style

.img-with-caption {
  float: right;
  margin: 5px 0 10px 20px;
}

.img-with-caption-left {
  float: left;
  margin: 5px 20px 10px 0;
}

div[class^="img-with-caption"] {
  // Caption
  p {
    padding: 10px 0;
    margin: 0;
    font-size: @figure-caption-font-size;
    color: @gray-light;
    border-bottom: 1px solid @figure-caption-border-color;
  }
}
