//
// CSS for legacy CMS elements - delete when not necessary.
// --------------------------------------------------
// Gamle nyhedsbokse

.gcitem {
  &.nyhed {
    .nyhed-illustration {
      & +.nyhedswrap {
        .nyhed-tema {
          line-height: normal;
          margin: 4px 0 2px;

          & + h2 {
            margin-top: 2px;

            a {
              color: @text-color;
              text-decoration: none;
            }
          }
        }

        .nyhed-teaser {
          margin: 0 0 20px;
        }
      }
    }
  }
}
// Banner doctype
// Old advanced lists
ul {
  &.stripped {
    list-style-type: none;
    padding-left: 0;

    li {
      background-repeat: no-repeat;
    }

    h2 {
      font-size: 1em;
    }
  }
}

.udd_table {
  border-collapse: collapse;
  border-color: #d7d7d7;
  border-style: solid;
  border-width: 0 0 1px 0;
  line-height: 1.5;
  font-size: 12px;
  margin: 0;
  padding: 0;
  width: 100%;

  p {
    margin: 0;
  }

  .udd_table_td_noborder {
    border-right: 0;
    height: 20px;
    padding: 0;
  }

  td {
    border-color: #d7d7d7;
    border-style: solid;
    border-width: 1px 1px 0 0;
    margin: 0;
    padding: 10px 6px;
    vertical-align: top;

    &.udd_table_td_bgcolor {
      padding: 0;
      text-align: center;
      background-color: #f3f3f3;
      width: 10%;
      border-left: 1px solid #d7d7d7;
      vertical-align: middle;
    }
  }

  .udd_table_td_fixedwidth2 {
    width: 45%;
  }

  .udd_table_td_fixedwidth4 {
    width: 22.5%;
  }

  .udd_table_tr_bottom {
    border-bottom: 1px solid #d7d7d7;
  }
}

.standard_table {
  border-collapse: collapse;
  border: 1px solid #d7d7d7;
  table-layout: fixed;

  td {
    padding: 10px 8px 10px 12px;
    vertical-align: top;
  }
}

.fritekst_top_img {
  margin-bottom: 10px;
}
// Global footer - to be removed:

.visible-desktop {
  display: block;
}

.visible-mobile {
  display: none;
}
@media (max-width: @screen-xs-max) {
  .visible-desktop {
    display: none;
  }
}
@media (max-width: @screen-xs-max) {
  .visible-mobile {
    display: block;
  }
}
// Old image and camption style

.img-with-caption {
  float: right;
  margin: 5px 0 10px 20px;
}

.img-with-caption-left {
  float: left;
  margin: 5px 20px 10px 0;
  max-width: 100%;
}

div[class^="img-with-caption"] {
  // Caption
  p {
    padding: 10px 0;
    margin: 0;
    font-size: @figure-caption-font-size;
    color: @gray-light;
    border-bottom: 1px solid @figure-caption-border-color;
  }
}
// Old Blockquotes html

p[align="right"] {
  font-size: 80%;
  line-height: 1.5;
  color: #757575;
  text-align: left;

  &:before {
    content: '\2014 \00A0';
  }
}

.newslettertable {
  p, ul, ol, li, td {
    font-size: 13px!important;
  }
}
// Remove strong font-weight in accordion headers

.panel-accordion > .panel-heading .panel-title a > strong {
  font-weight: inherit!important;
}
