//
// KU left menu
// --------------------------------------------------
@media screen and (min-width: @screen-sm-min) {
  .ku-leftmenu {
    .ku-navbar-header {
      font-weight: bold;
      margin-bottom: @grid-gutter-width;
      border-left: 8px solid @ku-red;

      .theme-samf & {
        border-left: 8px solid @samf;
      }

      .theme-hum & {
        border-left: 8px solid @hum;
      }

      .theme-science & {
        border-left: 8px solid @science;
      }

      .theme-sund & {
        border-left: 8px solid @sund;
      }

      .theme-jura & {
        border-left: 8px solid @jura;
      }

      .theme-teol & {
        border-left: 8px solid @teol;
      }
      padding-left: 6px;
    }
    // All levels
    ul {
      li {
        position: relative;
        display: block;

        &.active {
          > a,
          a.active {
            color: @ku-red;

            .theme-samf & {
              color: @samf;
            }

            .theme-hum & {
              color: @hum;
            }

            .theme-science & {
              color: @science;
            }

            .theme-sund & {
              color: @sund;
            }

            .theme-jura & {
              color: @jura;
            }

            .theme-teol & {
              color: @teol;
            }
            font-weight: bold;
          }
        }

        a {
          color: @gray-dark;
          font-size: 0.95em;
          padding: 3px 5px 3px 15px;
          position: relative;
          display: inline-block;
          vertical-align: top;

          &:active,
          &:focus,
          &:hover {
            color: @ku-red;

            .theme-samf & {
              color: @samf;
            }

            .theme-hum & {
              color: @hum;
            }

            .theme-science & {
              color: @science;
            }

            .theme-sund & {
              color: @sund;
            }

            .theme-jura & {
              color: @jura;
            }

            .theme-teol & {
              color: @teol;
            }
            text-decoration: none;
          }

          &::before {
            position: absolute;
            left: 0;
            top: 5px;
          }
        }
      }
    }

    ul.nav {
      //First level
      > li {
        > a {
          &::before {
            content: "\e080";
            font-family: 'Glyphicons Halflings';
            font-size: 7px;
            color: @ku-red;

            .theme-samf & {
              color: @samf;
            }

            .theme-hum & {
              color: @hum;
            }

            .theme-science & {
              color: @science;
            }

            .theme-sund & {
              color: @sund;
            }

            .theme-jura & {
              color: @jura;
            }

            .theme-teol & {
              color: @teol;
            }
            border: 1px solid #d7d7d7;
          }

          &:hover {
            &::before {
              background-color: @ku-red;

              .theme-samf & {
                background-color: @samf;
              }

              .theme-hum & {
                background-color: @hum;
              }

              .theme-science & {
                background-color: @science;
              }

              .theme-sund & {
                background-color: @sund;
              }

              .theme-jura & {
                background-color: @jura;
              }

              .theme-teol & {
                background-color: @teol;
              }
              color: @white-color;
            }
          }
        }

        ul {
          // Second, third and fourth level
          list-style-type: none;
          padding-left: 15px;

          li {
            > a {
              padding: 2px 5px 2px 10px;

              &::before {
                content: "\25A0";
                color: @ku-red;

                .theme-samf & {
                  color: @samf;
                }

                .theme-hum & {
                  color: @hum;
                }

                .theme-science & {
                  color: @science;
                }

                .theme-sund & {
                  color: @sund;
                }

                .theme-jura & {
                  color: @jura;
                }

                .theme-teol & {
                  color: @teol;
                }
                font-size: 9px;
              }

              &:hover::before {
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    .menu-seperator {
      margin: @grid-gutter-width 0 @margin20;
    }
  }
}
// Left menu slide in/out for mobiles
@media (max-width: @screen-sm-min) {
  .ku-leftmenu {
    display: none;
  }

  .leftmenu-toggle {
    padding: 8px 10px 5px;
    background-color: @gray-light;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
  }

  .globalmenu-toggle {
    margin-right: 0;
    margin-right: -5px;
  }
}
