//
// KU misc.
// Various extra classes that don't belong in other .less files
// ---------------------------------------------------------------
// KU adding margins to rows and columns

.main-content {
  @media (max-width: @screen-xs-max) {
    width: 100%; // Overriding Bootstrap's grid system
  }

  .row {
    > [class*="col-"] {
      &:not(.form-group) {
        margin-bottom: @margin20;
      }
    }

    &.breadcrumbs {
      margin-bottom: @margin0;
    }
  }
}

.right-side {
  @media (min-width: @screen-xs-max) and (max-width: @screen-md-min) {
    .pull-right();
  }
}
// Main content part

main {
  flex: 1 0 auto;
  background-color: @white-color;
  backface-visibility: hidden; //Fix weired flickering
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:extend(.clearfix all);
  @media (min-width: @screen-sm-min) {
    width: @container-sm;
    margin: 0 auto;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}

footer,
header,
nav {
  flex: none;
}

.main-area {
  padding-top: @grid-gutter-width;
  flex-grow: 1;

  &.front-page {
    padding-top: 0;
  }

  img {
    .img-responsive;
  }
}

.divider {
  margin: @margin10 0;
  &:extend(.clearfix all);
}

@media (min-width: @screen-sm-min) {
  // Make columns equal height
  .row-equal-height {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  // Accessibility
  [tabindex] {
    outline: 0;
    user-focus: none;
  }

  .jump,
  .jumpbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    margin: 0;

    li {
      list-style: none;
      display: block;

      a {
        display: block;
        position: absolute;
        top: -1000px;
        left: 0;
        width: 0;
        height: 0;

        &:active,
        &:focus {
          color: #51a7e8;
          top: 0;
          left: 0;
          z-index: 10;
          height: auto;
          width: auto;
        }

        &.btn-gray {
          background-color: @gray-dark;
          color: @white-color;

          &:focus {
            color: @white-color!important;
          }
        }
      }
    }
  }
}
@media (max-width: @screen-xs-max) {
  .jumpbox {
    display: none;
  }
}
//KU remove gutter from columns
.no-gutter {
  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

.relative {
  position: relative;
}
/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files - Thanks IE! :-/
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
.ie9 img[src$=".svg"] {
  width: 100%;
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$=".svg"] {
    width: 100%;
  }
}
// Global search button-size
.btn-global-search {
  button {
    height: @input-height-base; // (base line-height + padding + border)
  }
}
// KU special file upload button
.btn-file {
  position: relative;
  overflow: hidden;

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: @white-color;
    cursor: inherit;
    display: block;
  }

  .glyphicon {
    color: @gray-light;
    margin-left: 3px;
  }
}

.news-teaser {
  display: table-cell;
}
