// KU media objects
// Arrangementer, etc.

.media-events {
  .media-heading {
    a {
      color: inherit;
    }
  }
}
// Custom sesrch pages

.custom-search-results {
  li {
    &:nth-child(odd) {
      background-color: @gray-lighter;
    }
  }

  .nyhedsliste_dato {
    color: @text-color!important;
  }
}
