// KU media objects
// Arrangementer, etc.

.media-events {
  .media-heading {
    a {
      color: inherit;
    }
  }
}
// Custom sesrch pages

.custom-search-results {
  .media-heading {
    display: inline-block;
    max-width: 84%;
  }

  .nyhedsliste_dato {
    .pull-right;
    font-weight: 600;
  }
}
