//
// KU mobile menu
// --------------------------------------------------
/* Media queries */
@media (min-width: @screen-sm-min) {
  #mobileleftmenu {
    display: none;
  }
}
@media (max-width: @screen-sm-max) {
  // Hide KU language switcher icons
  .global-sprog {
    a {
      background: 0;
    }
  }
}
/* KU theme colors for jQuery MMenu */

#mobileleftmenu {
  background-color: @white-color;
  color: @text-color;

  .local1_mmenu,
  .local2_mmenu {
    // Faculty colors for sublevel 1
    background: @ku-red;
    color: @white-color;
    border-bottom: 1px solid darken(@ku-red, 5%);

    .theme-samf & {
      background: @samf;
      border-bottom: 1px solid darken(@samf, 5%);
    }

    .theme-hum & {
      background: @hum;
      border-bottom: 1px solid darken(@hum, 5%);
    }

    .theme-science & {
      background: @science;
      border-bottom: 1px solid darken(@science, 5%);
    }

    .theme-sund & {
      background: @sund;
      border-bottom: 1px solid darken(@sund, 5%);
    }

    .theme-jur & {
      background: @jura;
      border-bottom: 1px solid darken(@jura, 5%);
    }

    .theme-teo & {
      background: @teol;
      border-bottom: 1px solid darken(@teol, 5%);
    }

    .mm-next::after {
      // Arrows
      border-color: @white-color;
    }

    &.mm-selected > a:not(.mm-next) {
      // selected view
      font-weight: 600;
      background: darken(@ku-red, 6%);

      .theme-samf & {
        background: darken(@samf, 6%);
      }

      .theme-hum & {
        background: darken(@hum, 6%);
      }

      .theme-science & {
        background: darken(@science, 6%);
      }

      .theme-sund & {
        background: darken(@sund, 6%);
      }

      .theme-jur & {
        background: darken(@jura, 6%);
      }

      .theme-teo & {
        background: darken(@teol, 6%);
      }
    }
  }

  .local1_mmenu,
  .local2_mmenu {
    > .mm-panel {
      background-color: lighten(@gray-light, 40%);
      color: @gray-dark;
    }

    &::after {
      border: none;
    }
  }

  .local1_mmenu {
    &.mm-opened {
      .mm-listview {
        .mm-next {
          &::after {
            border-color: @gray-dark;
          }
        }
      }
    }
  }

  .mm-title {
    background-color: @ku-red;
    color: @white-color;
    font-size: larger;
    border-bottom: solid 1px lighten(@ku-red, 7%);

    .theme-samf & {
      background-color: @samf;
      border-bottom: 1px solid lighten(@samf, 7%);
    }

    .theme-hum & {
      background-color: @hum;
      border-bottom: 1px solid lighten(@hum, 7%);
    }

    .theme-science & {
      background-color: @science;
      border-bottom: 1px solid lighten(@science, 7%);
    }

    .theme-sund & {
      background-color: @sund;
      border-bottom: 1px solid lighten(@sund, 7%);
    }

    .theme-jur & {
      background-color: @jura;
      border-bottom: 1px solid lighten(@jura, 7%);
    }

    .theme-teo & {
      background-color: @teol;
      border-bottom: 1px solid lighten(@teol, 7%);
    }
  }

  .mm-navbars-top {
    border: 0;
  }

  .navbar-form {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
  }

  .search-placeholder {
    padding: 0;

    .dropdown-menu {
      padding-top: 0;
      margin-top: 0;
      top: 100%;
      border-top: 0;
      right: 15px;
    }
  }

  .mm-menu .mm-navbar > *,
  .mm-menu .mm-navbar a {
    color: inherit;
  }
}
