// KU Nyheder & arrangementer
// Global menu news
// KU custom lists

.item-list {
  .item {
    display: flex;
    align-items: flex-start;
    padding: 15px 0;

    &+ .item {
      border-top: 1px solid @gray;

      &:last-child {
        border-bottom: 1px solid @gray;
      }
    }
  }

  .item-heading {
    .nyhedsoverskrift();
    a {
      font-size: inherit;
      color: inherit;
      display: block;
    }
  }

  .item-date {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    color: @gray-light;
  }

  .item-left,
  .item-right {
    display: none;
    img {
      .img-thumbnail;
      box-sizing: content-box;
    }
  }
}

.media-list {
  .media-left,
  .media-right {
    min-width: @ku-thumbnails-size;

    a {
      display: block;
    }
  }

  .media-left {
    padding-right: 13px;
  }

  .media {
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 15px;

    &:first-child {
      padding-top: 3px;
    }

    &.media-event {
      padding-bottom: 15px;
    }

    &+ .media {
      border-top: 1px solid @gray;

      &:last-child {
        border-bottom: 1px solid @gray;
      }
    }

    .media-heading {
      .nyhedsoverskrift();
      margin-bottom: 7px;

      a {
        font-size: inherit;
        color: inherit;
        display: block;
      }
    }

    .media-object {
      .img-thumbnail;
      width: 55px;
      box-sizing: content-box;
    }

    p {
      margin-top: 0;
      margin-bottom: 7px;
    }

    .eventteaser {
      margin: 0;
    }
  }

  &.smal {
    .media {
      // If no media-object, indent content
      & > .media-left,
      .media-right {
        & + .media-body:first-child {
          padding-left: @ku-thumbnails-size;
        }
      }
    }
  }
}
// Nyhedsliste - midterkolonne:

.nyhedsliste {
  &.smal {
    .media {
      .media-heading {
        @media (min-width: @screen-sm) {
          // Make room for the date:
          display: inline-block;
          max-width: 68%;
        }
      }

      .nyhedsliste_dato {
        margin-left: 7px;
        color: @gray-light;
        font-weight: 600;
        .pull-right();
      }

      .nyhedsliste_indhold {
        clear: both;
      }
    }
  }
}
// Nyhedsliste - højrekolonne

.nyhedsliste-rightbox {
  .media {
    .news-date2 {
      font-size: 12px;
      font-weight: 600;
      line-height: 15px;
      color: @gray-light;
    }

    .news-teaser {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
// Arrangementer - midterkolonne:

#calendarlist {
  padding-top: 15px;
  border-top: 1px solid @gray;

  &.smal {
    .media-body:first-child {
      padding-left: @ku-thumbnails-size;
    }
  }

  .eventdate {
    margin-bottom: 5px;
  }

  .readmore {
    margin-bottom: 0;
  }
}
// Arrangementer - højre kolonne

.right-side {
  .media-list {
    .media-event {
      .media-body {
        & > .media-right {
          // Float images right for calendars in right column only
          float: right;

          .media-object {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.media-event {
  .media-heading {
    margin-bottom: 0!important;
  }

  .eventteaser {
    margin-top: 5px!important;
  }
}

#minicalendar {
  .panel-body {
    padding: 6px 0 0;
    border-top: 0;
  }
}

.minicalendar {
  .panel-body {
    padding-top: 10px;
    border-top: 0;
    padding-top: 0!important;
  }
}

.eventdate {
  margin-top: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  color: @gray-light;
}

nav[aria-label="Pager"] {
  + .nyhedsliste {
    border-top: 1px solid @gray;

    & > .media {
      &:first-child {
        padding-top: 15px;
      }
    }
  }
}

.readAll {
  margin-bottom: 0;
}
// Search news forms

.search-news {
  padding: 5px 15px !important;

  form {
    display: flex;
    @media only screen and (min-width: @screen-sm-max) {
      height: 30px;
    }
  }

  .search-news-query {
    @media only screen and (min-width: @screen-sm-max) {
      height: 100%;
      width: auto;
    }
  }

  .btn {
    flex: 0 0 auto;
    @media only screen and (min-width: @screen-sm-max) {
      height: 100%;
      padding-top: 4px;
    }
  }
}

.manchet {
  font-weight: 700;
  margin: 10px 0;

  h3 {
    color: @gray-light;
    font-weight: 700;
    font-size: 1em;
    display: inline;
    padding-right: 5px;
    text-transform: uppercase;
  }

  p {
    display: inline;
    letter-spacing: 0.3px;
  }
}

.custom-search-results {
  .nyhedsliste_dato {
    color: @text-color!important;
  }
}
// Float images right on single column spans:

#gridsidebar .single-column .column1,
.one-one-two-column .column1,
.one-one-two-column .column2,
.one-three-column .column1,
.one-two-column .column1,
.quad-column [class*=column],
.right-side,
.three-one-column .column2,
.triple-column [class*=column],
.two-one-column .column2,
.two-one-one-column .column2,
.two-one-one-column .column3 {
  .img-right();
}
// Special hooks for calendar lists

.calendarbox {
  .media-body {
    & + .media-right {
      display: none;
    }
  }

  .media-event {
    // No image
    > .media-body {
      &:first-child {
        padding-left: 0!important;
      }
    }
  }
}
// Float images left on multiple column spans

.double-column [class*=column],
.gridcontent:not(#gridsidebar) .single-column .column1,
.one-one-two-column .column3,
.one-three-column .column2,
.one-two-column .column2,
.three-one-column .column1,
.two-one-column .column1,
.two-one-one-column .column1 {
  .img-left();
}
//GridStandard double columns override

.GridStandard .double-column [class*=column] {
  .img-right();

  .media-right {
    display: block!important;
  }

  .news-teaser {
    margin-left: 0!important;
  }
}
