// KU Nyheder & arrangementer
// Global menu news

.nyheder {
  li {
    display: block;
    white-space: normal;
    min-width: 250px;
    width: 100%;
    overflow: auto;
    padding: 5px;
    border-bottom: 1px dotted #ccc;

    a {
      display: inline;
      white-space: normal;
      padding: 0;

      &:focus,
      &:hover {
        background-color: transparent;
      }
    }

    &:last-child {
      overflow: visible;
      padding-left: 10px;
      border-bottom: 0;

      a {
        display: block;
      }
    }

    img {
      float: left;
      display: block;
      margin: 0 8px 5px 2px;
      max-width: 55px!important;
      height: auto;
      border: 1px solid #929292;
      padding: 2px;
    }

    .small {
      margin-top: 3px;
      font-size: 10px;
      color: @gray-light;
    }
    @media (max-width: @screen-xs-max) {
      line-height: 1.29em;
      min-width: inherit;

      &:last-child {
        display: none;
      }
      // Remove arrow in mobile menu
      .mm-next {
        display: none;
      }
    }
  }
}
// Nyheds- og arrangementslister
.media {
  .media-object {
    max-width: none;
  }

  .media-heading {
    a {
      color: inherit;
    }
  }
}

#calendar {
  h2 {
    &.media-heading {
      .h3;
    }
  }
}

.news-teaser {
  display: table-cell;
}
