// KU cookie accept box

.ccc {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  color: @white-color;
  background-color: rgba(@ku-cookiebox-bg, .96);
  overflow-y: auto;
  max-height: 100%;
  width: 100%;
  z-index: (@zindex-modal + 1);
  transform: translate3d(0, 0, 0); // Prevent jumping on Android
  backface-visibility: hidden; // Prevent jumping on Android
  will-change: transform; // Prevent jumping on Android
  -webkit-overflow-scrolling: touch;
  transition: all 0.4s ease;

  a {
    color: @white-color;

    &:focus {
      .tab-focus-v2();
    }
  }
}

.ccc-ani-enter,
.ccc-ani-leave-to {
  transform: translate3d(0, 100%, 0);
}

.ccc-popup {
  height: 100%;
  padding-bottom: @grid-gutter-height;
  @media (min-width: @screen-sm-max) {
    padding: @grid-gutter-height 130px floor((@grid-gutter-width * 2)) 130px;
  }
}

#ccc-title {
  font-size: 21px;
  line-height: @line-height-small;
  margin: @grid-gutter-by-half 0;
  @media (min-width: @screen-sm-max) {
    font-size: 24px;
  }
}

#ccc-desc {
  font-size: 14px;
  @media (min-width: @screen-sm-max) {
    font-size: 16px;
    letter-spacing: 0.7px;
    margin-bottom: 30px;
  }
}
@media (max-width: @screen-xs) {
  #ccc-desc {
    position: relative;
    margin-bottom: 15px;
  }

  #ccc-desc::after {
    content: '';
    background: linear-gradient(to top, rgb(87, 87, 87), fade(@ku-cookiebox-bg, 0));
    height: 35px;
    position: absolute;
    width: calc(100% - var(--scroll-bar, 10px));
    bottom: 0;
    pointer-events: none;
  }

  .ccc-intro-inner {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    max-height: 265px;
    padding: 0 10px 45px 0;

    & > p {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.ccc-list {
  list-style: none;
  padding: 0;
  position: relative;
  margin-bottom: @grid-gutter-height;
}

.ccc-list > li {
  border: 1px solid @gray-888;
  padding: 0 @grid-gutter-by-half 5px;
  @media (min-width: @screen-sm-max) {
    padding: 0 @grid-gutter-by-half;
  }
  border-radius: @border-radius-base;

  & + li {
    margin-top: @grid-gutter-height;
  }
}

.ccc-select-title {
  flex: 1;
  align-self: flex-end;
  font-size: 17px;
  margin-top: 0;
  //display: block;
  display: inline-block;
  @media (min-width: @screen-sm-max) {
    font-size: 20px;
  }
}

.ccc-select {
  display: flex;
  align-items: end;
  justify-content: space-between;
  font-size: 15px;
  @media (min-width: @screen-sm-max) {
    font-size: 16px;
  }
  letter-spacing: 0.7px;
  position: relative;
  width: 100%;
  padding: 0;
  color: @white-color;
  background: transparent;
  border: 0;
  text-align: left;
  cursor: pointer;

  &::after {
    content: "\e259";
    position: relative;
    top: -1px;
    align-self: center;
    display: inline-flex;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    @media (min-width: @screen-sm-max) {
      font-size: 26px;
    }
    color: @semi-white;
  }

  &:focus {
    .tab-focus-v2();
  }

  &.open {
    &::after {
      content: "\e260";
    }
  }
}

.ccc-select-description {
  //display: block;
  align-self: flex-end;
  float: right;
  margin: 5px 15px 0 0;
  @media (max-width: @screen-xs-max) {
    margin-bottom: @grid-gutter-by-half;
    font-size: 12px;
    margin: 0 10px 2px 0;
  }
}

.ccc-list-actions {
  display: flex;
  flex-direction: row;
}

.customcheck {
  display: block;
  position: relative;
  padding-left: 30px!important;
  margin: 1px 4px 12px 0;
  @media (min-width: @screen-sm-max) {
    margin-top: 4px;
  }
  font-size: 22px;
  user-select: none;
  cursor: default!important;

  input {
    position: absolute;
    opacity: 0;
    margin: 0;

    &:checked {
      & ~ .checkmark {
        background-color: #005cc8;
        border-radius: @border-radius-base;
        border: 1px solid @gray-999;

        &::after {
          display: block;
        }
      }
    }
  }
  // &:hover {
  //   input ~ .checkmark {
  //     background-color: @gray-ddd;
  //   }
  // }
  .checkmark {
    &::after {
      left: 7px;
      top: 4px;
      width: 5px;
      height: 10px;
      border: solid @white-color;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: @gray-ddd;
  border: 1px solid @gray-666;
  border-radius: @border-radius-base;

  &::after {
    content: "";
    position: absolute;
    display: none;
  }
}

.ccc-table-wrapper {
  display: none;
  height: 218px;
  position: relative;
  overflow-y: scroll;
  transition: height 0.4s ease;
  -webkit-overflow-scrolling: touch;
}

.ccc-table {
  table-layout: fixed;
  color: @text-color;
  background-color: @white-color;
}

.ccc-table {
  & > tbody {
    & > tr {
      & > td {
        word-break: break-all;
      }
    }
  }
}

.ccc-table-ani-enter,
.ccc-table-ani-leave-to {
  height: 0;
}

.ccc-buttons {
  @media (max-width: @screen-xs-max) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @media (min-width: @screen-sm-max) {
    margin-top: 45px;
  }

  button {
    @media (max-width: @screen-xs-max) {
      flex: 1;
    }
    text-transform: none;
    font-size: 16px;
    padding: 10px;

    &:focus {
      .tab-focus-v2();
    }

    &:first-child {
      margin-right: 20px;
    }
    @media (min-width: @screen-sm-max) {
      font-size: 18px;
      padding: 10px 25px;

      &:first-child {
        margin-right: floor((@grid-gutter-width * 2));
      }
    }

    &:first-child {
      @media (max-width: @screen-xs-max) {
        margin-right: 30px;
      }
    }
  }
}

.cookiefilter {
  position: relative;
  min-height: 150px;
  background-color: @well-bg;
  color: @text-color;
  border: 1px solid @well-border;
  padding: 15px;
  margin-bottom: @grid-gutter-by-half;
  border-radius: @border-radius-base;
  &:extend(.clearfix all);
  .icon-exclamation;

  &::before {
    .icon;
    position: absolute;
    font-size: 156px;
    opacity: 0.075;
    top: 5px;
    right: 0;
  }
}

.cookiefilter-header {
  font-size: 18px;
  font-weight: 600;
  line-height: @line-height-small;
}
// Special styling for placeholder in right columns:

.right-side {
  .cookiefilter {
    height: 100%;
    width: 100%;
    padding: 10px;

    &::before {
      font-size: 80px;
      top: 0;
    }

    p {
      margin: 6px 0 9px;
    }
  }

  .cookiefilter-header {
    font-size: 14px;
    line-height: 18px;

    &+ p {
      &:first-of-type {
        display: none;
      }
    }
  }
}
