// GCSE search page

.global-search-results {
  margin-bottom: 10px;

  .tilebox {
    &:first-child {
      padding-top: 0;
    }
  }

  .tile-content {
    display: flex;
    flex-direction: column;
  }

  .tile-cat {
    order: 2;
  }

  .tile-header {
    order: 1;
    font-size: 15px;
    color: #165aad;
    letter-spacing: initial;
    margin-bottom: 5px;
  }

  .header-small {
    color: #00802b;
    flex-basis: auto;
    text-overflow: initial;
    white-space: initial;
    text-transform: lowercase;
    font-weight: 600;
    line-height: 1.33333;
  }

  .tile-body {
    order: 3;
    color: @text-color;
    display: block!important;
  }
}
