/* Slider */
.slide-wrapper {
  visibility: hidden;
}

.slick-slider {
  @media (min-width: @screen-sm-min) {
    height: 289px; // KU
  }
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  visibility: hidden;
  clear: both;

  &.slick-initialized {
    visibility: visible;
  }
}

.slick-list {
  position: relative;
  overflow: hidden;
  //display: block;
  margin: 0;
  padding: 0;
  //@media (min-width: @screen-md-min) {
    height: 100%; // KU
  //}

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  //@media (min-width: @screen-md-min) {
    height: 100%; // KU
  //}

  &:after,
  &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  overflow: hidden;
  position: relative;
  display: none;

  & > * {
    overflow: hidden;
    height: 100%;
    position: relative;
  }

  // [dir="rtl"] & {
  //   float: right;
  // }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    position: relative;
    -webkit-backface-visibility: hidden;
    // @media (min-width: @screen-md-min) {
    //   max-width: none!important; // KU
    //   width: 100%;
    //   //top: 50%;
    //   top: 0;
    //   left: 0;
    //   //transform: translateY(-50%) translateX(0);
    // }
  }

  &.slick-loading img {
    display: none;
  }
  //display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }
  // Loading
  .slick-loading & {
    visibility: hidden;

    .slick-list {
      .ku-loading();
    }
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
// Links

.slide-link {
  .states(none);
}

.slick-arrow.slick-hidden {
  display: none;
}

// Arrows

.slick-arrow {
  z-index: 2;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;

  &:hover {
    color: transparent;
    outline: none;
    background: transparent;

    &:before {
      opacity: 1;
    }
  }

  &:focus {
    color: transparent;
    outline: none;
    background: transparent;

    &:before {
      opacity: 1;
    }
  }

  &:before {
    font-size: 32px;
    opacity: 0.75;
    color: @white-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: @custom-icon-font-family-name;
  }
}

.slick-slider {
  &:hover {
    .slick-prev {
      left: 0;

      &:before {
        content: @icon-arrow;
        transform: rotate(180deg) translate3d(0,0,0);
        display: inline-block;
      }
    }

    .slick-next {
      right: 0;

      &:before {
        content: @icon-arrow;
      }
    }

    .slick-prev.slick-disabled {
      &:before {
        opacity: 0.25;
      }
    }

    .slick-next.slick-disabled {
      &:before {
        opacity: 0.25;
      }
    }
  }
}
// Dots

.slick-dots {
  position: absolute;
  bottom: 10px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

  li {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;

    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 100%;
      height: 100%;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;

      &:hover {
        outline: none;

        &:before {
          opacity: 1;
        }
      }

      &:focus {
        outline: none;

        &:before {
          opacity: 1;
        }
      }
    }
  }

  .slick-active {
    background: rgba(0, 0, 0, 0.5);
    outline: none;
  }
}
