/* Slider */
.gallery-nav,
.slide-gallery,
.slideshow {
  visibility: hidden;
  position: relative;

  &:not(.slick-initialized) {
    height: @gridbox1;

    .slide-link {
      position: absolute;
    }
  }

  &.slick-initialized {
    visibility: visible;
  }
}

.slick-slider {
  @media (min-width: @screen-sm) {
    height: @gridbox1;
  }
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  visibility: hidden;
  clear: both;

  &.slick-initialized {
    visibility: visible;
  }
}

.slick-list {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%; // KU
  // &:focus {
  //   outline: none;
  // }
  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  height: 100%; // KU

  &:after,
  &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  overflow: hidden;
  position: relative;
  display: none;

  & > * {
    overflow: hidden;
    height: 100%;
    position: relative;
  }

  img {
    @media (min-width: @screen-sm) {
      //min-height: 100%;
      height: 100%;
      max-width: none;
    }
    display: block;
    flex: none;
    object-fit: cover;
  }

  &.slick-loading img {
    display: none;
  }

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }
  // Loading
  .slick-loading & {
    visibility: hidden;

    .slick-list {
      .ku-loading();
    }
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
@media all and (min-width: @screen-sm) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE 11 */
  .slick-slide img {
    .img-fix-for-ie();
    height: auto;
    max-width: 100%;
  }
}
@media (min-width: @screen-sm) {
  @supports (-ms-ime-align: auto) {
    /* IE Edge */
    .slick-slide img {
      .img-fix-for-ie();
      height: auto;
      max-width: 100%;
    }
  }
}

.slider-count {
  text-align: center;
  margin: 5px 0;
}
// Links

.slide-link {
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  .states(none);
  position: relative;
  color: @text-color;

  &:hover {
    img {
      .image-fadeOut();
    }
  }
}

.slick-arrow.slick-hidden {
  display: none;
}
// Arrows

.slick-arrow {
  z-index: 2;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  visibility: hidden;
  width: 40px;
  height: 40px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;

  &:focus-visible {
    .tab-focus();
  }

  &:focus,
  &:hover {
    &:before {
      opacity: 1;
    }
  }

  &:before {
    font-size: 32px;
    opacity: 0.55;
    color: @white-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: @custom-icon-font-family-name;
  }
  @media (min-width: @screen-sm) {
    // Only display arrows in desktop
    visibility: visible;
  }
}
// Pause button

.slick-pause {
  z-index: 2;
  font-size: 24px;
  line-height: 0;
  position: absolute;
  bottom: 8px;
  right: 1%;
  padding: 1px;
  cursor: pointer;
  color: @white-color;
  outline: none;
  background: rgba(170,170,170,.7);
  opacity: 0.45;
  border: none;

  &:focus-visible {
    .tab-focus();
  }

  &:focus,
  &:hover {
    opacity: 1;
  }
  .glyphicon {
    top: -1px;
    right: -1px;
  }
}

.slick-slider {
  &:hover {
    .slick-prev {
      left: -3px;
      .icon-arrow-back;

      &:before {
        display: inline-block;
      }
    }

    .slick-next {
      right: -3px;

      &:before {
        content: @icon-arrow;
      }
    }

    .slick-prev.slick-disabled {
      &:before {
        opacity: 0.25;
      }
    }

    .slick-next.slick-disabled {
      &:before {
        opacity: 0.25;
      }
    }
  }
}
// Dots

.slick-dots {
  position: absolute;
  bottom: 2px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

  li {
    position: relative;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 3px;
    padding: 0;
    cursor: pointer;
    background: rgba(@gray-base, 0.3);
    border-radius: 50%;

    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 100%;
      height: 100%;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;

      &:hover {
        outline: none;

        &:before {
          opacity: 1;
        }
      }

      &:focus {
        outline: none;

        &:before {
          opacity: 1;
        }
      }
    }
  }

  .slick-active {
    background: rgba(@gray-base, 0.5);
    &:focus-within {
      .tab-focus();
    }
  }
}
// Captions - KU specific

.slick-slide {
  .caption {
    display: none;
  }

  .caption {
    // Textbar bottom as default
    display: block;
    position: relative;
    bottom: 0;
    width: 100%;
    letter-spacing: 0.7px;
    line-height: @line-height-small;
    padding: 10px;
    font-size: 14px;
    color: @text-color;
    background: @gray-f5;

    h2 {
      margin-top: 0;
      margin-bottom: 5px;
      color: inherit;
      font-size: 20px;
      line-height: 1.2;
    }

    p {
      margin: 0 0 6px;
    }

    &.subcolor_5 {
      background: @ku-gray;
      color: @text-color;
      @media (min-width: @screen-sm) {
        background: fade(@ku-gray, 90%);
      }

      &.full-bg {
        background: @ku-gray;
      }
    }

    &.subcolor_6 {
      background: @gray-f5;
      color: @text-color;
      @media (min-width: @screen-sm) {
        background: fade(@white-color, 90%);
      }

      &.full-bg {
        background: @gray-f5;
      }
    }

    &.subcolor_7 {
      background: @brown;
      color: @white-color;
      @media (min-width: @screen-sm) {
        background: fade(@brown, 83%);
      }

      &.full-bg {
        background: @brown;
      }
    }

    &.full-bg {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 15px;
      height: 100%;
      width: 100%;
    }
  }

  [class="caption"] {
    // Make room for pause button
    padding-right: 39px!important;
  }

  &:hover .caption {
    text-decoration: none;
  }
  @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
    .caption {
      // Special caption iPad
      position: absolute!important;
      left: 0;
      bottom: 0;
    }
  }
  @media (min-width: @screen-md) {
    .caption {
      font-size: 16px;
      overflow: hidden;
      position: absolute;
      left: 0;
      z-index: 2;
      background: rgba(@white-color, .9);
      border: 0;

      h2 {
        font-size: 26px;
        margin-bottom: 10px;
      }

      &.textblock-left {
        right: auto;
        left: 0;
        padding: 15px;
        width: 45%;
        height: 100%;
        padding: 16px 20px 20px 20px;
      }

      &.textblock-right {
        right: 0;
        left: auto;
        padding: 16px 39px 20px 20px;
        width: 45%;
        height: 100%;
      }

      &.textlabel-left {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
        width: 45%;
        min-height: 70%;
        padding: 16px 20px 20px 20px;
        .border-right-radius(2px);
      }

      &.textlabel-right {
        top: 50%;
        bottom: auto;
        right: 0;
        left: auto;
        transform: translateY(-50%);
        width: 45%;
        min-height: 70%;
        padding: 16px 30px 20px 20px;
        .border-left-radius(2px);
      }

      &.full-bg {
        padding: 30px 45px;
      }
    }
  }
}
