// GCSE search page

.global-search-results {
  .tile-content {
    display: flex;
    flex-direction: column;
  }

  .tile-cat {
    order: 2;
  }

  .tile-header {
    order: 1;
    color: #165aad;
    letter-spacing: initial;
    white-space: initial;
    text-overflow: initial;
    margin-bottom: 5px;
  }

  .header-small {
    color: #00802b;
    flex-basis: auto;
    text-transform: lowercase;
    font-weight: 600;
    line-height: 1.33333;
  }

  .tile-body {
    order: 3;
  }
}
