// GCSE search page

.global-search-results {
  .tile-content {
    display: flex;
    flex-direction: column;
  }

  .tile-cat {
    order: 2;
    color: #00802b;
  }

  .tile-header {
    order: 1;
    color: #165aad;
  }

  .tile-body {
    order: 3;
  }
}
