/* Slider */

.slideshow {
  visibility: hidden;

  &.slick-initialized {
    visibility: visible;
  }
}

.slick-slider {
  height: 320px;
  @media (min-width: @screen-sm) {
    height: 289px;
  }
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  visibility: hidden;
  clear: both;

  &.slick-initialized {
    visibility: visible;
  }
}

.slick-list {
  position: relative;
  overflow: hidden;
  //display: block;
  margin: 0;
  padding: 0;
  //@media (min-width: @screen-md-min) {
  height: 100%; // KU
  //}
  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  //@media (min-width: @screen-md-min) {
  height: 100%; // KU
  //}
  &:after,
  &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  overflow: hidden;
  position: relative;
  display: none;

  & > * {
    overflow: hidden;
    height: 100%;
    position: relative;
  }

  img {
    @media (min-width: @screen-sm) {
      min-height: 100%;
    }
    display: block;
    flex: none;
    object-fit: cover;
    backface-visibility: hidden;
    .image-fadeIn();
  }

  &.slick-loading img {
    display: none;
  }
  //display: none;
  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }
  // Loading
  .slick-loading & {
    visibility: hidden;

    .slick-list {
      .ku-loading();
    }
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE 11 */
  .slick-slide img {
    min-height: 100%;
    max-width: none;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translate3d(0px, 0px, 0px);
    -ms-interpolation-mode: bicubic;
  }
}
@supports (-ms-ime-align: auto) {
  /* IE Edge */
  .slick-slide img {
    max-width: none;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translate3d(0px, 0px, 0px);
  }
}
@media all and (min-width: @screen-sm), (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .slick-slide img {
    position: absolute;
  }
}
@supports (min-width: @screen-sm), (-ms-ime-align: auto) {
  .slick-slide img {
    position: absolute;
  }
}

.slider-count {
  text-align: center;
  margin: 5px 0;
}
// Links

.slide-link {
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  .states(none);
  position: relative;
  color: @text-color;

  &:hover {
    .caption {
      color: @text-color;
    }
  }
}

.slick-arrow.slick-hidden {
  display: none;
}
// Arrows

.slick-arrow {
  z-index: 2;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: none;
  width: 40px;
  height: 40px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;

  &:hover {
    color: transparent;
    outline: none;
    background: transparent;

    &:before {
      opacity: 1;
    }
  }

  &:focus {
    color: transparent;
    outline: none;
    background: transparent;

    &:before {
      opacity: 1;
    }
  }

  &:before {
    font-size: 32px;
    opacity: 0.75;
    color: @white-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: @custom-icon-font-family-name;
  }
  @media (min-width: @screen-sm) {
    // Only display arrows in desktop
    display: block;
  }
}

.slick-slider {
  &:hover {
    .slick-prev {
      left: 0;

      &:before {
        content: @icon-arrow;
        transform: rotate(180deg) translate3d(0,0,0);
        display: inline-block;
      }
    }

    .slick-next {
      right: 0;

      &:before {
        content: @icon-arrow;
      }
    }

    .slick-prev.slick-disabled {
      &:before {
        opacity: 0.25;
      }
    }

    .slick-next.slick-disabled {
      &:before {
        opacity: 0.25;
      }
    }
  }
}
// Dots

.slick-dots {
  position: absolute;
  bottom: 5px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

  li {
    position: relative;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 4px;
    padding: 0;
    cursor: pointer;
    background: rgba(@gray-base, 0.3);
    border-radius: 50%;

    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 100%;
      height: 100%;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;

      &:hover {
        outline: none;

        &:before {
          opacity: 1;
        }
      }

      &:focus {
        outline: none;

        &:before {
          opacity: 1;
        }
      }
    }
  }

  .slick-active {
    background: rgba(@gray-base, 0.5);
    outline: none;
  }
}
// Captions - KU specific

.slick-slide {
  .caption {
    display: none;
  }

  &.slick-current {
    .caption {
      // Textbar bottom
      display: block;
      position: relative;
      bottom: 0;
      width: 100%;
      line-height: @line-height-small;
      padding: 15px;
      color: @text-color;
      background: @white-color;
      @media (min-width: @screen-sm) {
        background: rgba(@white-color, .8);
      }

      h2 {
        margin-top: 0;
        margin-bottom: 5px;
        color: inherit;
      }

      &.subcolor_5 {
        background: fade(@ku-gray, 90%);
        color: @ku-gridbox-text;
      }

      &.subcolor_6 {
        background: fade(@white-color, 90%);
        color: @ku-gridbox-text;
        border-bottom: 1px solid @gray-ddd;
      }

      &.subcolor_7 {
        background: fade(@brown, 83%);
        color: @white-color;
      }
    }

    &:hover .caption {
      text-decoration: none;
    }
  }
  @media (min-width: @screen-sm) {
    &.slick-current {
      .caption {
        position: absolute;
        left: 0;
        z-index: 2;
        background: rgba(@white-color, .8);
        border: 0;

        &.textblock-50-left {
          right: auto;
          left: 0;
          padding: 15px;
          width: 50%;
          height: 100%;
        }

        &.textblock-50-right {
          right: 0;
          left: auto;
          padding: 15px;
          width: 50%;
          height: 100%;
        }

        &.textlabel-50-left {
          top: 50%;
          bottom: auto;
          transform: translateY(-50%);
          width: 50%;
          min-height: 70%;
        }

        &.textlabel-50-right {
          top: 50%;
          bottom: auto;
          right: 0;
          left: auto;
          transform: translateY(-50%);
          width: 50%;
          min-height: 70%;
        }
      }
    }
  }
}
