//
// Partially collapsible box
// --------------------------------------------------

.exp-box {
  background-color: @exp-box-bg;
  border: 1px solid @exp-box-border;
  border-radius: @border-radius-base;
  margin-bottom: (@exp-box-btn-offset + 7px);
  @media (min-width: @screen-sm-min) {
    &-left {
      width: 45%;
      float: left;
      margin-right: 20px;

      &~.collapsible-hidden {
        // Fix floating issues
        &+*:not(.collapsible-hidden) {
          overflow-x: hidden;
        }
      }
    }

    &-right {
      width: 45%;
      float: right;
      margin-left: 20px;

      &+.collapsible-hidden {
        // Fix floating issues
        &:last-child {
          &+* {
            overflow-x: hidden;
          }
        }
      }
    }
  }

  .collapse[aria-expanded="false"] {
    display: block;
    position: relative;
    height: @exp-box-height !important;
    overflow: hidden;
  }

  .collapsing[aria-expanded="false"] {
    height: @exp-box-height !important;
  }

  .gccolumn &,
  .rightbox-normal & {
    width: 100%!important;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
}

.btn-expand {
  .simple-button-variant(@white-color; @exp-box-btn-color; darken(@exp-box-btn-color, 5%));
  bottom: -@exp-box-btn-offset;
  position: relative;

  &::after {
    .glyphicon;
    content: "\002b";
    font-size: 14px;
    left: 1px;
  }
}

.exp-box [aria-expanded="true"] {
  &+ .btn-expand {
    &::after {
      content: "\2212";
      left: 0;
    }
  }
}

.exp-box-inner {
  padding: 15px;

  .exp-box-wrap[aria-expanded="true"] & {
    padding-bottom: 0;
  }
}

.bootstrap-collapsible-title {
  margin-top: 0;
}

.bootstrap-collapsible-content {
  & > * {
    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.exp-box-wrap {
  &[aria-expanded="false"] {
    &::after {
      content: '';
      background: linear-gradient(to bottom, rgba(@exp-box-bg, 0) 0%, rgba(@exp-box-bg, .85) 100%);
      height: 55%;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      pointer-events: none;
    }
  }
}
