@import "variables.less";
@import "mixins.less"; // Tiles news boxes

.tiles-plugin {
  // Wrap in class .tiles-plugin when used with Isotope plugin
  &.tiles-x {
    .tilebox {
      opacity: 0;
      margin-bottom: 23px;
    }
    @media (max-width: @screen-xs-max) {
      .tilebox {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  @media all and (min-width: @screen-sm) {
    &.tiles-x {
      .tilebox {
        height: @gridbox1;
        width: @default-col-width;
      }
    }
  }

  &.is-showing {
    .tilebox {
      // reveal when ready
      opacity: 1;
    }
  }
}

.tiles-x {
  .tiles-x-layout();
}

.tile-link {
  display: flex;
  position: relative;
  color: initial!important;
  text-decoration: none!important;
  width: 100%;
  height: 100%;

  &:hover {
    text-decoration: none;
  }
}

.tiles-y {
  .tiles-y-layout();
}

.tile-header {
  h3 {
    line-height: 1.3;
    margin-top: 0;
    color: @text-color;
  }
}
@media all and (min-width: @screen-sm) {
  .tiles-y {
    .tiles-y-desktop-layout();
  }

  .double-column [class*=column] {
    .tiles-x {
      .tilebox {
        width: 100%;
      }

      .tile-img {
        flex: 0 0 50%;
      }
    }
  }

  .single-column {
    .tiles-x {
      height: @gridbox1;

      &:not(.tiles-plugin) {
        .tile-link,
        .tilebox {
          flex-direction: row-reverse;
        }

        .tile-header {
          h3 {
            font-size: 26px;
          }
        }

        .tile-img {
          flex: 0 0 calc(50% - @grid-gutter-width);
          display: flex;
        }

        .tile-body {
          display: block;
        }
      }
    }
  }
}
//style for single and double column spans

.one-two-column .column1,
.quad-column [class*=column],
.triple-column [class*=column],
.two-one-column .column2,
body:not(.FullWidthFrontpage) .double-column [class*=column] {
  .tiles-y {
    .tile-link,
    .tilebox {
      flex-direction: column;
      padding: 0 0 10px;
      margin-bottom: 23px;
    }

    .tile-content {
      flex: 1 1 auto;
      padding-top: 10px;
    }

    .tile-img {
      flex: 0 0 auto;
      margin-left: 0;

      img {
        width: 100%;
        object-fit: cover;
        flex: none;
      }
    }
  }
}

.GridForside .two-one-column {
  .column1 {
    .tiles-y {
      .tilebox {
        display: block;

        .tile-img {
          float: right;
          margin-bottom: 7px;
        }
      }
    }
  }
}
@media all and (min-width: @screen-sm) {
  .FullWidthFrontpage .triple-column,
  .double-column {
    .tiles-x {
      .tilebox {
        height: 367px;
      }

      .tile-body {
        display: block;
      }
    }
  }
}

@media (max-width: @screen-xs-max) {

  .double-column {
    .tile-body {
      display: block;
    }
  }
}
