// KU tags

.taglist {
  width: 100%;
  .tags {
    padding-left: 0;
    list-style: none;
    &:extend(.clearfix all);

    li {
      float: left;

      & > a {
        text-decoration: none;
        display: block;
        text-transform: uppercase;
        font-weight: 600;
        padding: 4px 6px;
        border-radius: @border-radius-base;
        border: 1px solid fade(@link-color, 80%);

        &:hover {
          color: @white-color;
          background-color: @link-color;
        }
      }

      &+ li {
        margin-left: 10px;
      }
    }
  }
}

.tags-top {
  margin-top: 5px;
}
.tags-bottom {
  margin-top: 10px;
}
