@import "variables.less";
@import "mixins.less"; // Tiles news boxes
@special-tiles-hight: 367px;

.tiles-plugin {
  // Wrap in class .tiles-plugin when used with Isotope plugin
  &.tiles-x {
    .tilebox {
      opacity: 0;
      margin-bottom: 23px;
    }
    @media (max-width: @screen-xs-max) {
      .tilebox {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  @media all and (min-width: @screen-sm) {
    &.tiles-x {
      .tilebox {
        height: @gridbox1;
        width: @default-col-width;
      }
    }
  }

  &.is-showing {
    .tilebox {
      // reveal when ready
      opacity: 1;
    }
  }
}

.tile-img {
  img {
    object-fit: cover;
    float: none;
  }
}

.tile-link {
  display: flex;
  position: relative;
  color: initial!important;
  text-decoration: none!important;
  width: 100%;
  height: 100%;
  color: @text-color;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.tile-header {
  font-size: 17.42px;
  font-weight: 600;
  line-height: 1.3;
  margin-top: 0;
}

.header-small {
  font-weight: 700;
  color: @gray-light;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  margin-bottom: 5px;

  .date {
    float: right;
    padding-left: 5px;
    margin-right: 5px;
  }
}

.tiles-x {
  .tiles-x-layout();

  &:not(.tiles-plugin) {
    .tilebox {
      height: 100%;
    }
  }
}

.tiles-y {
  .tiles-y-layout();
}
@media all and (min-width: @screen-sm) {
  .tiles-y {
    .tiles-y-desktop-layout();
  }

  .double-column {
    .tiles-x {
      .tile-img {
        flex: 0 0 50%;
      }
    }
  }
}
// Full width single column
@media all and (min-width: @screen-md) {
  .single-column {
    .tiles-x {
      height: auto;

      &:not(.tiles-plugin) {
        .tile-header {
          font-size: 26px;
          font-weight: 600;
          margin-top: 0;
        }

        .tile-body {
          display: block;
          font-size: 16px;
        }
      }
    }
  }
}
//style for single and double column spans

.one-two-column .column1,
.quad-column,
.triple-column,
.two-one-column .column2,
body:not(.FullWidthFrontpage) .double-column {
  .tiles-y {
    .tile-link,
    .tilebox {
      flex-direction: column;
      padding: 0 0 10px;
    }

    .tile-content {
      flex: 1 1 auto;
      padding-top: 10px;
    }

    .tile-img {
      flex: 0 0 auto;
      margin-left: 0;

      img {
        width: 100%;
        float: none;
      }
    }
  }
}

.GridForside .two-one-column {
  .column1 {
    .tiles-y {
      .tilebox {
        display: block;

        .tile-img {
          float: right;
          margin-bottom: 7px;
        }
      }
    }
  }
}
@media all and (min-width: @screen-md) {
  .FullWidthFrontpage .triple-column,
  .double-column {
    .tiles-x:not(.tiles-plugin) {
      height: @special-tiles-hight;

      .tile-body {
        display: block;
      }
    }
  }
}
@media (max-width: @screen-sm-max) {
  .FullWidthFrontpage .triple-column,
  .double-column,
  .single-column .tiles-x:not(.tiles-plugin) {
    .tile-body {
      display: block;
    }
  }
}
// Special styling for IE11:
@media all and (max-width: @screen-xs-max) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  // Mobile view - list type
  .tilebox {
    height: @special-tiles-hight;
  }

  .tiles-y {
    .tile-link,
    .tilebox {
      flex-direction: column;
    }

    .tile-img {
      flex: 0 0 auto;
    }

    .tile-content {
      flex: 1;
    }
  }
}
// Special styling for IE11:
@media all and (min-width: @screen-xs) and (min-width: @screen-xs-max)  and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .tiles-x {
    .tile-img {
      flex: 0 0 70%;
    }
  }
}
