// KU tags

.taglist {
  width: 100%;

  .tags {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;

    li {
      flex: 0 1 auto;

      &>a {
        font-size: 11px;
        letter-spacing: .7px;
        text-decoration: none;
        white-space: nowrap;
        display: block;
        text-transform: uppercase;
        font-weight: 600;
        padding: 3px 10px;
        border-radius: @border-radius-base;
        border: 1px solid fade(@link-color, 80%);
        transition: all .2s ease;
        transition-property: background-color, color;

        &:visited {
          color: @link-color;
        }

        &:hover,
        &:focus {
          color: @white-color;
          background-color: @link-color;
        }
      }
    }
  }
}

.tags-top {
  margin-top: 26px;
  margin-bottom: 23px;
}

.tags-bottom {
  margin-top: 16px;
  margin-bottom: 40px;
}
