@import "variables.less";
@import "mixins.less"; // Tiles news boxes

.tiles {
  // Wrap in class .tiles when used with Isotope plugin
  &.tiles-x {
    .tilebox {
      opacity: 0;
      margin-bottom: 23px;
    }
    @media (max-width: @screen-xs) {
      .tilebox {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  @media all and (min-width: @screen-xs) {
    &.tiles-x {
      .tilebox {
        width: @default-col-width;
      }
    }
  }

  &.is-showing {
    .tilebox {
      // reveal when ready
      opacity: 1;
    }
  }
}

.tilebox {
  .header-small {
    font-weight: 700;
    color: @gray-666;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    margin: 0 0 5px;

    .date {
      float: right;
      padding-left: 5px;
    }
  }

  h3 {
    line-height: 1.3;
    margin-top: 0;
    color: @text-color;
  }
}

.tile-content {
  position: relative;
}

.tiles-x {
  .tiles-x-layout();
}

.tile-link {
  display: flex;
  position: relative;
  color: initial!important;
  text-decoration: none;
  width: 100%;
  height: 100%;

  &:hover {
    text-decoration: none;
  }
}

.tiles-y {
  .tile-link {
    flex-direction: row-reverse;

    &:hover {
      h3 {
        text-decoration: underline;
      }
    }
  }

  .tilebox {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid @gray;

    & + .tilebox {
      padding-top: 10px;
    }
  }

  .tile-img {
    flex: none;
    float: right;
    margin-bottom: 10px;

    img {
      object-fit: cover;
    }
  }
}
@media all and (min-width: @screen-xs) {
  .tiles-y {
    .tilebox {
      flex-direction: row-reverse;
    }

    .tile-img {
      margin-left: 10px;
      flex: 0 0 165px;
      margin-bottom: 0;

      img {
        width: 165px;
      }
    }
  }

  .double-column [class*=column] {
    .tiles-x {
      .tilebox {
        width: 100%;
      }

      .tile-img {
        flex: 0 0 50%;
      }

      .tile-body {
        display: block;
      }
    }
  }
}
//style for single and double column spans

.one-two-column .column1,
.quad-column [class*=column],
.triple-column [class*=column],
.two-one-column .column2,
body:not(.FullWidthFrontpage) .double-column [class*=column] {
  .tiles-y {
    .tile-link,
    .tilebox {
      flex-direction: column;
      padding: 0 0 10px;
      margin-bottom: 23px;
    }

    .tile-content {
      flex: 1 1 auto;
      padding-top: 10px;
    }

    .tile-img {
      flex: 0 0 auto;
      margin-left: 0;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.GridForside .two-one-column {
  .column1 {
    .tiles-y {
      .tilebox {
        display: block;

        .tile-img {
          float: right;
          margin-bottom: 7px;
        }
      }
    }
  }
}
