//
// Usabilla survey box
// --------------------------------------------------

.usabilla {
  max-width: 469px;
  margin: 0 10px 10px;
  border-top: 1px solid @gray;
  padding-top: 14px;
  clear: both;
}

.usabilla-desktop {
  border-top: 1px solid @gray;
  padding-top: 14px;
  margin-top: 23px;
}
