// Embeds responsive
//
// Credit: Nicolas Gallagher and SUIT CSS.

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed-responsive-item,
  embed,
  iframe,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }

  &+ .embed-responsive {
    margin-top: @grid-gutter-height;
  }
}
// Modifier class for 16:9 aspect ratio

.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
// Modifier class for 4:3 aspect ratio

.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.video-container {
  video::-webkit-media-controls {
    display: none !important;
  }
}

.control-layer {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 8px 10px;
}

.toplogo {
  &:hover {
    .control-layer {
      display: block;
      background: linear-gradient(to bottom, rgba(@gray-base,0) 0%,rgba(@gray-base,0.65) 100%);
    }
  }

  a {
    &:focus {
      .tab-focus-v2();
    }
  }
}

.toplogo #video {
  display: block;
  // Fix for IE11:
  max-width: (@container-large-desktop - (@grid-gutter-width *2)); // 1018px;
}

.progress-track {
  display: inline-block;
  color: @white-color;
  opacity: 0.8;
  height: 26px;
  vertical-align: middle;
}

.media-controls {
  /* For Safari 5.1 */
  z-index: 2147483647;

  button {
    font-size: 18px;
    color: @white-color;
    background: transparent;
    padding: 0 3px;
    height: 26px;
    width: 27px;
    border: 0;
    outline: 0;
    cursor: pointer;

    &:focus {
      .tab-focus-v2();
    }
  }

  .fullscreen {
    float: right;
  }

  .mute {
    padding: 0 4px;
  }

  .volume {
    width: 150px;
    display: inline-block;
  }

  .progress {
    height: 3px;
    padding: 4px 0 12px;
    margin-bottom: 0;
    background: transparent;
    box-shadow: none;
  }

  .progress-bar {
    -webkit-appearance: none;
    background: linear-gradient(to right, @ku-red 0%, @ku-red 50%, #777 50%, #777 62.5%, @gray-444 62.5%, @gray-444 100%);
    cursor: pointer;
    height: 3px;
    margin: 0;
    transition: 0.1s ease-in;
    width: 100%;
    vertical-align: middle;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background: #aeaeae;
      border-radius: 8px;
      box-shadow: inset 0 0 0 5px #eaeaea;
      height: 0;
      transition: 0.1s ease-in;
      width: 0;
    }

    &::-ms-fill-lower,
    &::-ms-fill-upper,
    &::-ms-track {
      background: transparent;
    }

    &::-ms-ticks,
    &::-ms-ticks-after,
    &::-ms-ticks-before {
      color: transparent;
    }

    &::-ms-thumb {
      background: #aeaeae;
      box-shadow: inset 0 0 0 5px #eaeaea;
      height: 13px;
      width: 13px;
      border-radius: 50%;
      transition: 0.1s ease-in;
    }
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .progress-bar {
      padding: 2px;
    }
  }

  .progress:hover {
    .progress-bar {
      height: 8px;

      &::-webkit-slider-thumb {
        width: 16px;
        height: 16px;
      }
    }
  }
}
// Make input range visible in IE
// input[type=range]::-ms-track {
//   width: 200px;
//   height: 10px;
//   background: transparent;
//   border-color: transparent;
//   border-width: 6px 0;
//   color: transparent;
// }
//
// input[type=range]::-ms-thumb {
//   border: none;
//   height: 16px;
//   width: 16px;
//   border-radius: 50%;
//   background: @gray-ddd;
// }
//
// input[type=range]::-ms-fill-upper {
//   background: @gray-ddd;
//   border-radius: 6px;
// }
//
// input[type=range]::-ms-fill-lower {
//   background: @gray-ddd;
//   border-radius: 6px;
// }
// Enable for subtitles menu
// .subtitles-menu {
//   display: none;
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   background: @gray-666;
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
//   width: 100px;
//   padding: 10px;
//
//   li {
//     padding: 0;
//     text-align: center;
//
//     button {
//       border: none;
//       background: @gray-base;
//       color: @white-color;
//       cursor: pointer;
//       width: 90%;
//       padding: 2px 5px;
//     }
//   }
// }
//
