// Embeds responsive
//
// Credit: Nicolas Gallagher and SUIT CSS.

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed-responsive-item,
  embed,
  iframe,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }

  &+ .embed-responsive {
    margin-top: @grid-gutter-height;
  }
}
// Modifier class for 16:9 aspect ratio

.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
// Modifier class for 4:3 aspect ratio

.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.video-container {
  video::-webkit-media-controls {
    display: none !important;
  }
}

.control-layer {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px;
}

.toplogo {
  &:hover {
    .control-layer {
      display: block;
      background: linear-gradient(to bottom, rgba(@gray-base,0) 0%,rgba(@gray-base,0.65) 100%);
    }
  }

  a {
    &:focus {
      .tab-focus-v2();
    }
  }
}

.toplogo #video {
  display: block;
  // Fix for IE11:
  max-width: (@container-large-desktop - (@grid-gutter-width *2)); // 1018px;
}

.media-controls {
  margin-top: 5px;
  /* For Safari 5.1 */
  z-index: 2147483647;
}

.progress {
  height: 4px;
  margin-bottom: 5px;
}

.progress:hover {
  height: 5px;
}

.progress-track {
  display: inline-block;
  color: @white-color;
  opacity: .8;

}

.media-controls button {
  font-size: 14px;
  color: @white-color;
  background: transparent;
  border: 0;
  outline: 0;

  &:focus {
    .tab-focus-v2();
  }
}

// .media-controls button + button {
//   margin-left: 5px;
// }

.media-controls {
  // Audio slider
  input[type=range] {
    display: inline-block;
    //width: auto;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
  }
}
@media all and (min-width: @screen-sm) {
  .media-controls button {
    font-size: 16px;
  }
}
// Enable for subtitles menu
// .subtitles-menu {
//   display: none;
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   background: @gray-666;
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
//   width: 100px;
//   padding: 10px;
//
//   li {
//     padding: 0;
//     text-align: center;
//
//     button {
//       border: none;
//       background: @gray-base;
//       color: @white-color;
//       cursor: pointer;
//       width: 90%;
//       padding: 2px 5px;
//     }
//   }
// }

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      background-color: #9a905d;
    }

    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #434343;
      box-shadow: -80px 0 0 80px #43e5f7;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}
input[type="range"]::-moz-range-track {
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
}
input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}
// Make input range visible in IE - why, oh why...

// input[type=range]::-ms-track {
//   width: 200px;
//   height: 10px;
//   background: transparent;
//   border-color: transparent;
//   border-width: 6px 0;
//   color: transparent;
// }
//
// input[type=range]::-ms-thumb {
//   border: none;
//   height: 16px;
//   width: 16px;
//   border-radius: 50%;
//   background: @gray-ddd;
// }
//
// input[type=range]::-ms-fill-upper {
//   background: @gray-ddd;
//   border-radius: 6px;
// }
//
// input[type=range]::-ms-fill-lower {
//   background: @gray-ddd;
//   border-radius: 6px;
// }
