//
// Thumbnails
// --------------------------------------------------
// Mixin and adjust the regular image class

.thumbnail {
  display: block;
  padding: @thumbnail-padding;
  margin-bottom: @line-height-computed;
  line-height: @line-height-base;
  background-color: @thumbnail-bg;
  border: 1px solid @thumbnail-border;
  border-radius: @thumbnail-border-radius;
  .transition(border .2s ease-in-out);

  > img,
  a > img {
    &:extend(.img-responsive);
    margin-left: auto;
    margin-right: auto;
  }
  // Add a hover state for linked versions only
  a &:hover,
  a&.active,
  a&:focus {
    border-color: @link-color;
  }
  // Image captions
  .caption {
    padding: @thumbnail-caption-padding;
    color: @thumbnail-caption-color;
  }
}
//
// Figures
//

.figure, figure {
  // Ensures the caption's text aligns with the image.
  display: inline-block;
  clear: both;

  &.pull-left {
    margin-right: @margin10;
    @media (min-width: @screen-sm-min) {
      width: 45%;
    }
  }

  &.pull-right {
    margin-left: @margin10;
    @media (min-width: @screen-sm-min) {
      width: 45%;
    }
  }

  img {
    .img-responsive();
  }
}

.figure-img, figure img {
  margin-bottom: 8px;
  line-height: 1;
}

.figure-caption, figcaption {
  font-size: @figure-caption-font-size;
  color: @gray-light;
  border-bottom: 1px solid @figure-caption-border-color;
  padding-bottom: 10px;
}
