//
// Thumbnails
// --------------------------------------------------
// Mixin and adjust the regular image class

.thumbnail {
  display: block;
  padding: @thumbnail-padding;
  margin-bottom: @line-height-computed;
  line-height: @line-height-base;
  background-color: @thumbnail-bg;
  border: 1px solid @thumbnail-border;
  border-radius: @thumbnail-border-radius;
  .transition(border .2s ease-in-out);

  > img,
  a > img {
    &:extend(.img-responsive);
    margin-left: auto;
    margin-right: auto;
  }
  // Add a hover state for linked versions only
  a &:hover,
  a&.active,
  a&:focus {
    border-color: @link-color;
  }
  // Image captions
  .caption {
    padding: @thumbnail-caption-padding;
    color: @thumbnail-caption-color;
  }
}
//
// Figures
//

.figure,
figure {
  // Ensures the caption's text aligns with the image.
  margin: 0;
  display: table;
  clear: both;

  // &.image {
  //   // Makes figcaption fit image width
  //   width: 1px;
  // }

  &.align-left,
  &.pull-left {
    @media (min-width: @screen-sm) {
      margin-right: @margin10;
      float: left;
    }
  }

  &.align-right,
  &.pull-right {
    @media (min-width: @screen-sm) {
      margin-left: @margin10;
      float: right;
    }
  }

  img {
    float: none;
    max-width: 100%;
    height: auto;
  }
  @media (max-width: @screen-xs-max) {
    width: 100%;
    float: none!important;
    &:extend(.clearfix all);
  }
}

img {
  &.img-left {
    float: left;
    margin: 5px 20px 10px 0;
  }

  &.img-right {
    float: right;
    margin: 5px 0 10px 20px;
  }
}

.figure-img,
figure img {
  margin-bottom: 8px;
  line-height: 1;
}

.figure-caption,
figcaption {
  font-size: @figure-caption-font-size;
  color: @gray-light;
  border-bottom: 1px solid @figure-caption-border-color;
  padding-bottom: 10px 10px 10px 0;
  width: 100%;
  display: table-caption;
  caption-side: bottom;
}
