//
// Wells
// --------------------------------------------------
// Base class

.well {
  min-height: 20px;
  padding: 15px;
  background-color: @well-bg;
  border: 1px solid @well-border;
  border-radius: @border-radius-base;

  & + & {
    margin-top: 20px;
  }

  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }

  h2,
  h3 {
    &:first-of-type {
      margin-top: 0;
    }
  }

  & + {
    // KU specific:
    // Well below embedded video:
    [itemprop="video"] {
      .border-top-radius(0);
    }
  }

}
// Sizes

.well-lg {
  padding: 24px;
}

.well-sm {
  padding: 9px;
}
