/* Slick theme for slides count and galleries - not necessary for standard slideshows */
/* Current and total slides */

.slide-wrapper .slider-count {
  text-align: center;
  margin-top: 8px;
}

/* Slider gallery start */

.gallery-nav {
  /*margin-top: 1px;*/
  margin-top: 10px;
  height: auto;
}

.gallery-nav .slick-track {
  left: 0 !important;
}
.gallery-nav .nav-item {
  height: 100%;
}
.gallery-nav img {
  cursor: pointer;
  padding: 0 1px 0 1px;
}

.gallery-nav .slick-slide {
  border-left: 3px solid #fff;
}

.gallery-nav .slick-slide:hover img {
  filter: brightness(90%) blur(0);
  -webkit-filter: brightness(90%) blur(0);
}

.gallery-nav .slick-track {
  margin-left: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gallery-nav .slick-slide {
  min-width: 50% !important;
  height: auto;
  -webkit-box-flex: 1 !important;
  -ms-flex: 1 0 auto !important;
  flex: 1 0 auto !important;
}

.gallery-nav .slick-slide.slick-current img {
  filter: brightness(90%) blur(0);
  -webkit-filter: brightness(90%) blur(0);
}

/* Slider gallery end */

@media (min-width: 768px) and (max-width: 991px) {
  /* Slider height for iPad */
  .slide-wrapper {
    background: #eee;
  }
}

@media screen and (min-width: 768px) {
  .gallery-nav .slick-slide {
    min-width: 25% !important;
  }
}
