/* Slider gasllery start */

.gallery-nav {
  margin-top: 1px;
  height: auto;
}

.gallery-nav img {
  cursor: pointer;
  top: auto;
  left: auto;
  transform: none;
}

.gallery-nav .slick-slide {
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.gallery-nav .slick-slide:hover img {
  filter: brightness(90%);
  -webkit-filter: brightness(90%);
}

.gallery-nav .slick-track {
  margin-left: -1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gallery-nav .slick-slide {
  min-width: 33%!important;
  height: auto;
  -webkit-box-flex: 1!important;
  -webkit-flex: 1 0 auto!important;
  -ms-flex: 1 0 auto!important;
  flex: 1 0 auto!important;
}

/* Slider gasllery end */


/* Custom captions */

.slick-slider .caption {
  position: relative;
  min-height: 80px;
  width: 100%;
  line-height: 1.333333;
  z-index: 2;
  padding: 15px;
}

.slick-slider .caption h2 {
  margin-top: 0;
}

.slick-slider .text-bottom .caption {
  bottom: 0;
  left: 0;
  color: #fff;
  background: rgba(64, 116, 157, .8);
}

.slick-slider .text-right-short .caption {
  left: auto;
  right: 0;
  top: auto;
  transform: translateY(0%);
  min-height: 70%;
  color: #fff;
  background: rgba(119, 172, 179, .8);
}

.slick-slider .text-left .caption {
  left: 0;
  right: auto;
  top: 0;
  color: #fff;
  background: rgba(68, 68, 68, .8);
}

.slick-slider .text-left-short .caption {
  color: #fff;
  background: rgba(68, 68, 68, .8);
}

@media screen and (min-width: 768px) {
  .gallery-nav .slick-slide {
    min-width: 25%!important;
  }
  .slick-slider .text-right-short .caption {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50%;
  }
  .slick-slider .text-left .caption {
    width: 50%;
    height: 100%;
  }
  .slick-slider .text-left-short .caption {
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50%;
  }
  .slick-slider .caption {
    height: auto;
    background-color: rgba(255,255,255 ,.8);
    position: absolute;
    bottom: 0;
  }
}
