/* Styling for ku.dk front page only. */
.topbar-logo {
  display: none !important;
}

/* Hide navnetraek as we use graphics on the front page */
.ku-branding-text-major, .ku-branding-text-sub {
  display: none;
}

video {
  width: 100%;
}

.ku-branding-text {
  background-image: url("https://bootstrap.secure.ku.dk/img/ku_header_2_lin_dk.svg");
  background-position: left bottom 36%;
  background-repeat: no-repeat;
  height: 100%;
  max-height: none !important;
  width: 50%;
  top: 0;
}

html:lang(en) .ku-branding-text {
  background-size: contain;
  background-image: url("https://bootstrap.secure.ku.dk/img/ku_header_2_lin_en.svg");
}

@media all and (min-width: 481px) {
  .ku-branding-text {
    background-image: url("https://bootstrap.secure.ku.dk/img/ku_header.svg");
    background-position: left bottom 31%;
  }

  html:lang(en) .ku-branding-text {
    background-image: url("https://bootstrap.secure.ku.dk/img/ku_header_en.svg");
  }
}

@media all and (min-width: 481px) and (max-width: 767px) {
  .ku-branding-text {
    background-position: left bottom 26%;
    width: 75%;
    max-width: 400px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .ku-branding-text {
    width: 70%;
    background-position: left bottom 33%;
  }
}

@media all and (min-width: 992px) {
  .ku-branding-text {
    width: 66%;
    left: 100px;
    background-position: left bottom 21px;
  }
}

@media all and (min-width: 992px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  /* IE11 only */
  .ku-branding-text {
    background-position: left bottom -10px;
  }
}

.breadcrumbs, .local-footer, .item .item-teaser {
  display: none;
}

.jumpboard .jumpcolumn {
  list-style: none;
  padding: 0;
  margin: 0 8px;
}

.jumpboard .jumpcolumn li {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
  border-bottom: 1px solid #999;
}

.jumpboard .jumpcolumn li a {
  display: block;
  position: relative;
  color: #901a1e !important;
  text-decoration: none;
}

.jumpboard .jumpcolumn li a:after {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  font-family: 'ku-symbols';
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: #921819;
  content: '\61';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.main-area {
  margin-bottom: 0;
}

.caption {
  background-color: #f5f5f5;
  padding: 10px 15px;
}

.caption h1 {
  margin-top: 0;
}

@media all and (max-width: 767px) {
  .caption h1 {
    font-size: 20px;
  }
}

.brugertest {
  border: 1px solid #ccc;
  padding: 23px 22px !important;
}

.slick-slide:nth-child(odd) .slide-content {
  background-color: #f2f2f2;
}

.slick-slide:nth-child(even) .slide-content {
  background-color: #d9d9d9;
}

.slider-intro {
  position: absolute;
  top: 6px;
  left: 10px;
  z-index: 10;
  font-weight: 600;
}

.slick-slider {
  height: 289px;
}

.slide-content {
  color: initial;
  height: 289px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.slide-link:hover .visual-text {
  color: #252525;
}

.visual, .visual-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.visual-text {
  padding: 5px 15px 30px 15px;
  -ms-flex: 1;
  flex: 1;
}

.visual {
  height: 200px;
  padding-top: 25px;
}

.visual img {
  height: 100%;
  object-fit: unset;
}

.visual-text .number {
  display: block;
  line-height: normal;
  font-size: 26px;
  font-weight: 700;
}

.visual-text .number2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

@media all and (max-width: 767px) {
  .slick-dots {
    bottom: 10px;
  }

  /* .slick-list{padding:0 20% 0 0;} */
}

.single-column .column1 #podcast {
  height: 289px;
}

.single-column .column1 #podcast .gridbox.size1.with-img .box1 {
  padding: 10px;
}

.single-column .column1 #podcast .gridbox.size1.with-img .box1 .header {
  color: #4a4949;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1.3em;
  padding: 0;
}

.single-column .column1 #podcast .gridbox.size1.with-img .box1 .header-small {
  margin: 5px 0;
}

.single-column .column1 #podcast .size1.with-img:hover .header>span {
  background: none;
}

@media all and (min-width: 768px) {
  .jumpboard {
    height: 289px;
  }

  .jumpboard .jumpcolumn {
    padding: 0;
    margin: 0;
  }

  .jumpboard .jumpcolumn li {
    font-size: 22px;
    font-weight: 400;
  }

  .jumpboard .jumpcolumn li a:after {
    right: 10px;
  }

  .slick-slider {
    height: 215px;
  }

  .slide-content {
    color: initial;
    height: 289px;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
  }

  .visual, .visual-text {
    padding: 15px;
  }

  .visual {
    padding-right: 0;
    text-align: center;
    width: 44%;
    height: 100%;
    -ms-flex: none;
    flex: none;
  }

  .visual img {
    height: 70%;
    width: 85%;
    margin: 0 auto;
  }

  #slides .visual img {
    position: relative;
    min-height: unset;
    top: auto;
    left: auto;
    transform: none;
    max-width: 85% !important;
  }

  .visual-text {
    text-align: left;
    width: 55%;
  }

  .single-column .column1 #podcast .size1 {
    -ms-flex-direction: column;
    flex-direction: column;
    background: #eee;
    border-bottom: 0;
  }

  .single-column .column1 #podcast .slick-list {
    margin-right: -26px;
  }

  .single-column .column1 #podcast .slick-slide {
    width: 235px !important;
    margin-right: 26px;
  }
}

@media all and (min-width: 992px) {
  .image-presentation {
    height: 600px;
  }
}

/* Jumpboard */
.entries .entry {
  padding: 10px 0;
  background-image: none;
  border-bottom: 1px solid #999;
}

.entries .entry>a {
  position: relative;
  color: #901a1e !important;
  font-size: 20px;
}

.entries .entry>a:before {
  position: absolute;
  font-size: 16px;
  transform: translatey(-50%);
  left: auto;
  right: 0;
}

@media (max-width: 991px) {
  .entries {
    border-top: 0;
  }

  .entries .entry>a {
    text-transform: capitalize;
  }
}

@media (min-width: 992px) {
  .entries .entry {
    background-image: linear-gradient(to bottom, #f3f3f1 0, #edece9 100%);
    border-bottom: 0;
  }

  .entries .entry::before {
    background-image: linear-gradient(to bottom, #ecece9 0, #e0e0de 100%);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    transition: opacity .5s;
  }

  .entries .entry:hover::before {
    opacity: 1;
  }

  .entries .entry>a:before {
    display: none
  }

  .entries .entry {
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .entries .entry>a {
    font-size: 16px;
    padding: 25px 15px;
    display: block;
    color: #444 !important;
  }

  .entries .entry>a:hover {
    text-decoration: none;
  }

  .entries .entry+.entry:after {
    top: 0;
    height: 100%;
  }
}
