.widenews-content {
  font-size: 15px;
  line-height: 1.6;
}

.breadcrumbs {
  margin-bottom: 2px;
}

.nyhedsdato {
  margin-top: 23px;
}

.manchet {
  font-weight: 600;
}

.manchet span {
  color: #252525;
}

.widenews-contactbox {
  min-height: 20px;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 2px;
  margin: 30px 0 55px 0;
}

.widenews-contactbox h2:first-child {
  margin-top: 0;
}

blockquote.full-width {
  color: #c73028;
  max-width: 757px;
  width: auto;
  padding: 15px;
}

blockquote.full-width::before {
  color: inherit;
  font-size: 60px;
}

.factbox {
  border: 0;
}

.factbox a {
  color: inherit;
}

.exp-box {
  font-size: 14px;
}

.bootstrap-collapsible-title {
  font-size: 17px;
}

[itemprop=video]::after {
  /* Set video title as visible caption */
  content: attr(title);
  font-size: 13px;
  max-width: 521px;
  display: block;
  color: #757575;
  border-bottom: 1px solid #dfdfdf;
  padding: 10px 0;
}

[itemprop=video]:not([title])::after,
[itemprop=video][title='']::after {
  /* If no video title, hide caption box */
  display: none;
}

@media (min-width: 992px) {
  .title {
    font-size: 40px;
    line-height: 1.2;
  }

  h2 {
    font-size: 24px;
    margin-top: 35px;
  }

  h3 {
    font-size: 20px;
    margin-top: 35px;
  }

  .manchet {
    font-size: 18px;
    margin: 23px 0 30px 0;
  }

  .nyhedsdato {
    font-size: 15px;
    margin-top: 0;
  }

  blockquote {
    font-size: 22px;
    line-height: 1.3333333;
    font-weight: 600;
    margin-right: calc(-25% - 6px);
    width: 60%;
  }

  blockquote::before {
    top: auto;
    bottom: -18px;
    font-size: 80px;
  }

  blockquote.full-width {
    font-size: 30px;
    margin: 0 calc(-25% - 7px) 0 calc(-25% - 7px);
    padding: 36px 15px;
  }

  blockquote.full-width::before {
    top: 10px;
    left: 2px;
    font-size: 80px;
  }

  blockquote footer {
    font-size: 17px;
    font-weight: 400;
  }

  blockquote.full-width footer {
    font-size: 80%;
    margin-top: 10px;
  }

  .exp-box {
    margin: 23px 0 30px 0;
  }

  .factbox, .exp-box-right {
    font-size: 14px;
    margin: 13px calc(-25% - 6px) 13px 23px;
    width: 60%;
  }

  .factbox-left, .exp-box-left {
    margin: 13px 23px 13px calc(-25% - 6px);
    width: 60%;
  }

  img.img-right {
    margin: 13px calc(-25% - 6px) 13px 23px;
    max-width: 60%;
  }

  img.img-left {
    margin: 13px 23px 13px calc(-25% - 6px);
    max-width: 60%;
  }

  .widenews-content .img-default {
    margin: 23px calc(-25% - 7px) 23px calc(-25% - 7px);
    max-width: 757px;
    float: none !important;
  }

  .widenews-content :not(.image)>img:not([class]) {
    /* img:not([class]) is used since the editor inserts img without right/left alignment without a class.
    Remove when fixed. https://redmine.magenta-aps.dk/issues/43692 */
    margin: 23px calc(-25% - 7px) 23px calc(-25% - 7px);
    max-width: 757px;
    float: none !important;
  }

  .img-default {
    overflow: hidden;
  }

  [itemprop="video"], .embed-responsive {
    margin: 30px calc(-25% - 7px) 30px calc(-25% - 7px);
  }

  [itemprop=video]::after {
    /* Set video title as visible caption */
    margin-left: calc(16.66666667% + 4px);
  }

  .figure-caption, figcaption {
    font-size: 13px;
    max-width: 521px;
    margin-left: calc(16.66666667% + 4px);
  }

  .widenews-content .image.align-center figcaption {
    max-width: none;
    margin-left: 0;
  }

  .widenews-contactbox {
    font-size: 15px;
    padding: 20px 16.66666667%;
  }

  .widenews-relatednews {
    margin-top: 23px;
  }
}
