@media (min-width: 992px) {
  .title {
    font-size: 40px;
  }

  h2 {
    font-size: 24px;
  }

  .widenews-content {
    font-size: 15px;
  }

  .manchet {
    font-size: 17px;
  }

  .nyhedsdato {
    font-size: 15px;
  }

  blockquote {
    font-size: 22px;
    line-height: 1.3333;
    font-weight: 600;
    margin-right: calc(-25% + -6px);
    width: 60%;
  }

  blockquote::before {
    top: auto;
    bottom: -27px;
    font-size: 85px;
  }

  blockquote.full-width {
    margin: 0 calc(-25% + -7px) 0 calc(-25% + -7px) !important;
    max-width: 757px;
    float: none !important;
  }

  .factbox {
    font-size: 14px;
    margin-right: calc(-25% + -6px);
    width: 60%;
    margin-left: 23px;
  }

  .factbox-left {
    margin-left: calc(-25% + -6px);
    width: 60%;
    float: left;
    margin-right: 23px;
  }

  .img-default {
    margin: 0 calc(-25% + -7px) 0 calc(-25% + -7px) !important;
    max-width: 757px;
    float: none !important;
    overflow: hidden;
  }

  .img-default>img {
    transition: transform .2s ease-out;
  }

  .img-default>img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: scale3d(1.02, 1.02, 1.02) translateZ(0);
  }

  .well {
    margin-left: calc(-25% + -6px);
    max-width: 60%;
    float: left;
    margin-right: 23px;
  }

  .figure-caption, figcaption {
    max-width: 521px;
    margin-left: calc(16.66666667% + 4px);
  }

  img.img-right {
    margin-right: calc(-25% + -6px);
    max-width: 60%;
    margin-left: 23px;
  }

  img.img-left {
    margin-left: calc(-25% + -6px);
    max-width: 60%;
    margin-right: 23px;
  }
}
