/*============================================================================*/
/* CFIM BOOKING STYLES                                                        */
/*============================================================================*/
#cbook_nav {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

#cbook_nav li {
  float: left;
  width: auto;
  border: solid 1px #ccc;
  margin: 0 1em -1px 0;
}

#cbook_nav li.active {
  border-bottom: solid 1px #fff;
}

#cbook_nav li a,
a.button {
  padding: 0.2em 0.5em;
  background-color: #f3f3f3;
  display: block;
}

#cbook_nav li.active a {
  background-color: #fff;
}

#cbook_nav li a:hover,
.cbook_prev:hover,
.cbook_next:hover,
a.button:hover,
.scope_radio:hover {
  background-color: #005A88;
  color: #fff;
  text-decoration: none;
}

#cbook_nav li.logout {
  float: right;
}

.cbook_prev {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
}

.cbook_next {
  padding: 0.2em 0.5em;
  display: block;
  float: right;
}

#cbook_container {
  clear: both;
  width: auto;
  border: solid 1px #ccc;
  padding: 1em;
}

#cbook_container h1 {
  margin: 1em 0 0.5em !important;
}

/* Calendar view */
#cbook_tablenav {
  background-color: #f3f3f3;
  margin: 0 0 1em;
  padding: 3px;
  clear: both;
}

#cbook_tablenav h2 {
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 0 !important;
}

#cbook_table {
  width: auto;
  border: none;
  clear: both;
  border-collapse: separate;
}

#cbook_table td {
  width: 14%;
  background-color: #f3f3f3;
  padding: 2px;
}

#cbook_table td.weekday {
  height: 1.5em;
  background-color: #fff;
  font-weight: bold;
  text-align: center;
}

#cbook_table td.empty {
  background-color: #fff;
  color: #ccc;
  text-align: center;
}

#cbook_table td.past {
  color: #ccc;
}

#cbook_table td .daynr {
  color: #005A88;
}

#cbook_table td .alsowithdata,
#cbook_table td .withdata,
#cbook_table td .withdata .daynr {
  height: 1.3em !important;
  float: none !important;
}

#cbook_table td .withdata .daynr {
  float: left !important;
}

#cbook_table td a.bookit {
  height: 60px;
  vertical-align: center;
  display: block;
}

#cbook_table td a.bookit .booktext {
  color: #ccc;
  padding-top: 20px;
  padding-left: 35px;
}

#cbook_table td .withdata .booktext {
  padding-top: 0 !important;
  text-align: left !important;
}

#cbook_table td a.bookit:hover {
  background-color: #005a88;
  color: #fff;
  text-decoration: none;
}

#cbook_table td a.bookit:hover .booktext {
  color: #fff;
}

#cbook_table td .past {
  display: block;
  height: 60px;
  color: #ccc !important;
}

#cbook_container .button {
  width: auto;
  float: left;
  border: 1px solid #CCC;
}

#cbook_container .booked {
  background-color: #666;
  color: #fff;
  font-size: 10px;
  padding: 2px;
  margin: 2px 0 0;
}

#cbook_container .scopename {
  font-weight: bold;
  display: block;
  margin-bottom: 1px;
}

#cbook_container .scopetime {
  display: block;
  text-align: right;
}

#cbook_container .can_edit {
  background-color: #005a88;
}

#cbook_container .can_edit a {
  color: #fff;
  text-decoration: none;
}

#cbook_container .can_edit:hover {
  background-color: #4A4949;
}

#cbook_container .scopetime_edit {
  text-align: right;
  display: block;
}

#cbook_container #datefieldset .labels {
  float: left;
  width: 8em;
}

#cbook_container #datefieldset input {
  display: inline;
}

#cbook_container #datefieldset label {
  display: inline;
}

#cbook_container #datefieldset label.date {
  display: none;
}

#scopepicker {
  margin-bottom: 2em;
  padding-top: 1em;
}

#scopepicker h3 {
  margin: 3px 6px 3px 0 !important;
  float: left;
  width: auto;
}

#scopepicker p {
  margin: 0 !important;
}

/* Login form / Register form */
#loginForm fieldset,
#registerForm fieldset {
  margin: 0 0 1em;
}

#loginForm,
#registerForm {
  padding: 1em 0;
}

#loginForm label,
#registerForm fieldset.nicify label {
  width: 8em;
  float: left;
  clear: left;
  display: block;
}

#loginForm input[type="text"],
#loginForm input[type="password"],
#registerForm fieldset.nicify input[type="text"] {
  width: 13em;
  display: block;
  margin-bottom: 0.5em;
}

#loginForm input[type="submit"] {
  margin-left: 8em;
  display: block;
}

textarea#experience {
  width: 90%;
}

#loginForm fieldset,
#registerForm fieldset,
#scopepicker {
  border: solid 1px #ccc;
  padding: 1em;
}

#loginForm legend,
#registerForm legend {
  font-weight: bold;
}

#errors,
#errors h2 {
  color: red !important;
}

#errors p {
  padding: 1px 3px;
  border: solid 1px red;
  margin: 3px 0;
}

#access_start {
  margin-right: 2em;
}

/* Create booking */
#scope_booking {
  clear: both;
  width: 100%;
}

#scope_booking label {
  display: block;
}

#scope_chooser label {
  display: inline;
}

#scope_chooser h3 {
  margin-top: 0 !important;
  clear: left;
}

.scope_radio {
  width: auto;
  float: left;
  border: solid 1px #ccc;
  margin: 0 3px 3px 0;
  padding: 1px 6px 1px 3px;
  cursor: pointer;
}

.scope_radio label,
.scope_radio input {
  cursor: pointer;
}

.time-picker {
  position: absolute;
  margin-left: 0;
  padding-left: 0;
  border: solid 1px #ccc;
  background-color: #f3f3f3;
}

.time-picker ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  height: 200px;
  overflow: auto;
  width: 100px;
  background-color: #f3f3f3;
}

.time-picker ul li {
  padding: 1px 3px;
  margin-left: 0;
}

.time-picker .selected {
  background-color: #005a88;
  color: #fff;
}

#no_support {
  float: left;
  width: 400px;
  padding: 0.3em 0 2em;
}

#support_time_picker {
  width: 232px;
  float: right;
}

#possible_support_time_div_btn {
  cursor: pointer;
  display: block;
  border: solid 1px #ccc;
  width: auto;
  line-height: 1.5;
  padding: 0.2em 0.5em;
  color: #005A88;
  background: url(/grafik/images/dropdown/dropdown_arrow.gif) no-repeat right -1px #f3f3f3;
}

#possible_support_time_div_btn:hover {
  background-color: #005a88;
  color: #fff;
  text-decoration: none;
}

#possible_support_time_div {
  height: 300px;
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 230px;
  background-color: #f3f3f3;
  border: solid 1px #ccc;
  border-width: 0 1px 1px;
}

#possible_support_time_div div.timeblock {
  clear: both;
  width: 100%;
}

#possible_support_time_div div.timeblock label {
  background-color: #fff;
  margin: 0 0 2px;
  padding: 3px;
  display: block;
  color: #ccc;
}

#possible_support_time_div div.timeblock input {
  float: left;
  width: 2em;
  clear: left;
  display: block;
}

#possible_support_time_div div.timeblock label span {
  color: #4A4949;
}

#possible_support_time_div div.timeblock label span.d {
  font-weight: bold;
}

#possible_support_time_div div.timeblock label span.et {
  color: #999;
}

.serviced {
  color: #fff;
  background: #B0B0B0;
  cursor: default;
}

.serviced:hover {
  background: #B0B0B0;
  color: #fff;
}

/* Booking history*/
#cbook_history tr td {
  padding: 3px 1em;
}

#cbook_history tr.odd td {
  background-color: #f3f3f3;
}

#cbook_expvars th {
  text-align: left;
}
