/* Multiple select styles */
@import url("../multiple-select.min.css");

.error, .gdpr-error-msg {
  color: #7b161a;
  margin: 5px 0;
}

.gdpr-notice {
  margin: 10px 0;
}
.gdpr-notice input[type="checkbox"] {
  position: relative;
  margin-right: 5px;
  bottom: -2px;
}

.gdpr-notice + p:first-of-type {
  display: inline;
}
