/* Front page styling */

/* .ku-branding-text-major, .ku-branding-text-sub {
  display: none;
} */

/* .ku-branding .ku-branding-text {
  background: url('https://bootstrap.secure.ku.dk/img/ku_header_2_lin_dk.svg') 5px 66% no-repeat;
  background-size: 75%;
  height: 100%;
  width: 50%;
  left: 70px;
  bottom: 0;
}

html:lang(en) .ku-branding .ku-branding-text {
  background: url('https://bootstrap.secure.ku.dk/img/ku_header_2_lin_en.svg') 5px 66% no-repeat;
}

@media (min-width: 768px) {
  .ku-branding .ku-branding-text {
    background: url('https://bootstrap.secure.ku.dk/img/ku_header.svg') left 72% no-repeat;
    background-size: contain;
    height: 70px;
    left: 83px;
    width: 38%;
    bottom: 7px;
  }
  html:lang(en) .ku-branding .ku-branding-text {
    background: url('https://bootstrap.secure.ku.dk/img/ku_header_en.svg') left 72% no-repeat;
  }
} */

.main-content {
  padding-top: 0;
  padding-bottom: 23px;
}

.topbar-logo {
  display: none !important;
}

.breadcrumbs, .local-footer {
  display: none;
}

.jumpboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding-top: 23px;
  padding-bottom: 23px;
  background: #eee;
}

.jumpboard .jumpcolumn {
  margin-bottom: 0 !important;
  border-right: 1px solid #fff;
  padding-left: 23px;
  padding-right: 23px;
  position: relative;
}

.jumpboard .jumpcolumn:last-child {
  border-right: 0
}

.jumpboard .jumpcolumn .jumpheading {
  position: relative;
  margin: 0 0 11px;
  font-size: 2em;
  color: #921819;
}

.jumpboard .jumpcolumn .jumpheading a {
  color: inherit !important;
}

.jumpboard .jumpcolumn .jumpheading:after {
  z-index: 2;
  position: relative;
  top: -2px;
  margin-left: 5px;
  font-family: 'ku-symbols';
  font-size: .6em;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: #921819;
  content: '\61';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.jumpboard .jumpcolumn .jumplinks {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.jumpboard .jumpcolumn .jumplinks li {
  margin: 5px 0;
}

.jumpboard .jumpcolumn .jumplinks li a {
  padding: 0;
  line-height: 20px;
  font-size: 14px;
  font-weight: 700;
  color: #606060;
  display: block;
}

.jumpboard .jumpcolumn .jumplinks li .padlock:after {
  z-index: 2;
  position: relative;
  top: -1px;
  margin-left: 5px;
  font-family: 'ku-symbols';
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: #606060;
  content: '\64';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 768px) and (max-width: 991px) {
  .jumpboard {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .jumpcolumn:nth-child(3), .jumpcolumn:nth-child(4) {
    padding-top: 23px;
    margin-top: 15px;
  }
  .jumpboard:after {
    position: absolute;
    top: 47%;
    left: 23px;
    height: 1px;
    width: calc(100% - 52px);
    background-color: #fff;
    -webkit-transform: translateY(-47%);
    transform: translateY(-47%);
  }
  .jumpboard .jumpcolumn {
    border-right: 0;
  }
}

@media screen and (max-width: 767px) {
  /*Target first row - make it full width for sliders*/
  /* .FullWidthFrontpage .main-content .row:first-child .gccolumn.column1 {
    padding-right: 0;
    padding-left: 0;
    width: 100vw;
    max-width: 100%;
  } */
  .jumpboard {
    padding: 0;
    background: #f8f8f5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .jumpboard>.jumpcolumn {
    max-height: none;
    padding: 0;
  }
  .jumpboard .jumpcolumn:first-child .jumpheading {
    border-top: 1px solid #ccc;
  }
  .jumpboard .jumpcolumn .jumpheading {
    border-bottom: 1px solid #ccc;
    background: #eee;
    font-size: 1.5em !important;
    font-weight: bold;
    margin: 0;
    padding: 7px 35px 10px 20px;
  }
  .jumpboard .jumpcolumn .jumpheading:after {
    font-size: 16px;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .jumpboard .jumpcolumn .jumplinks li {
    border-bottom: 1px solid #ccc;
    margin: 0;
  }
  .jumpboard .jumpcolumn .jumplinks li a {
    padding: 10px 20px 12px 20px;
  }
  .jumpboard .jumpcolumn .jumplinks li a:active, .jumpboard .jumpcolumn .jumplinks li a:hover, .jumpboard .jumpcolumn .jumplinks li a:focus {
    background-color: #f1f1f1;
  }
}
