/* Full width front page styling */
.main-content {
  padding-top: 0;
}

.gridcontent>.row>.container>.row:last-child {
  margin-bottom: 0;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .gcrow:not(.double-column):not(.quad-column) [class*=col-sm-6] {
    margin-bottom: 0;
  }
}

/* Special styling for full-width rows */
.gridcontent>.gcrow:not(.full-page-width)>.container {
  width: 100%;
  padding-left: 13px;
  padding-right: 13px;
}

@media (min-width: 768px) {
  .gridcontent>.gcrow:not(.full-page-width)>.container {
    max-width: 746px;
  }

  .single-column .gccolumn .tiles-x .tilebox {
    height: 650px;
  }

  .single-column .gccolumn .tiles-x .tilebox .tile-content {
    flex: 0 0 auto;
  }
}

@media (min-width: 992px) {
  .gridcontent>.gcrow:not(.full-page-width)>.container {
    max-width: 966px;
  }

  .deloverskrift {
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  .gridcontent>.gcrow:not(.full-page-width)>.container {
    max-width: 1070px;
  }
}
