/* Datatables */
@import url("../datatables.min.css");

table.dataTable>thead>tr>td {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #4a4949;
  font-weight: 700;
}

table.list tr th {
  border-bottom: 0;
}

@media screen and (max-width: 767px) {
  table.dataTable>thead>tr>td:last-of-type {
    width: 25%;
  }
}
