@media all and (min-width: 768px) {
  #col-left, #col-mid {
    width: calc(50% - 13px);
    float: left;
    position: relative;
    min-height: 1px;
  }

  #col-left+#col-mid {
    margin-left: 23px;
  }
}

.login-links {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.geonat-serie-search-form {
  margin-top: 10px;
}

.geonat-serie-search-form label+select {
  margin-top: 10px;
}

#geonatloginform .checkbox {
  margin-top: 7px;
  margin-bottom: 5px;
}

#geonatloginform>.form-group:last-of-type {
  margin-bottom: 10px;
}

.logindata {
  margin-top: 0;
}

.TableList .HeadRow {
  color: #4a4949;
  font-weight: 700;
}

.TableList>tbody>tr>td, .TableList>tbody>tr>th {
  padding: 8px;
  line-height: 1.5;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.HeadCol2>a {
  display: inline-block;
  float: left;
}

.HeadCol2>a>img {
  float: right;
  position: relative;
  top: 5px;
}

.geonat-serie-subscribe {
  margin-top: 10px;
}

.eventheader {
  color: #252525!important;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: .6px;
  font-weight: 600;
  margin-top: 2px;
}

.panel {
  margin-bottom: 23px;
}

.panel:last-of-type {
  margin-bottom: 0;
}

.nyhedsboks .item-list .item-left {
  display: block;
  float: right;
  text-align: right;
}
