@import url("geonatvidenserieforside.css");

.Teaser {
  font-weight: 600;
}

.Videnblad .Header {
  margin-bottom: 10px;
}

.Videnblad .Header .Subject {
  display: block;
}

.VidenBlad-Authors-Elem {
  clear: both;
}

.VidenBlad-Authors-Elem:nth-of-type(1) {
  margin-top: 10px;
}

.VidenBlad-Authors-Elem+.VidenBlad-Authors-Elem {
  margin-top: 23px;
  float: left;
}

.VidenBlad-Authors-ElemImg {
  float: left;
  margin-right: 8px;
}

.VidenBlad-Authors-ElemImg img {
  max-width: 55px;
}

.VidenBlad-Authors-ElemName {
  display: inline;
}
