#pxs_search {
  width: 100%;
  max-width: 75%;
  height: 33px;
  padding: 6px 10px;
  line-height: 1.5;
  color: #252525;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.pxs_search_field {
  margin: 0 10px 23px 0;
}

.pxs_search {
  display: block;
}

a.pxs_application_link, .pxs_search_button {
  color: #252525;
  text-decoration: none;
  background-color: #f4f4f4;
  border: 1px solid #b6b6b6;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: .7px;
  text-transform: uppercase;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 6px 10px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a.pxs_application_link:hover, .pxs_search_button:hover {
  color: #252525;
  background-color: #c9c9c9;
  border-color: #767676;
}

table.vacancies {
  width: 100%;
  max-width: 100%;
  margin-bottom: 18px;
}

.vacancy-header {
  background-color: #f0f0f0;
  border-bottom: 1px solid #949494;
  padding: 9px 0 6px;
}

table.vacancies>tbody>tr>td,
table.vacancies>tfoot>tr>td,
table.vacancies>thead>tr>td,
table.vacancies>tbody>tr>th,
table.vacancies>tfoot>tr>th,
table.vacancies>thead>tr>th {
  padding: 8px;
  line-height: 1.5;
  vertical-align: top;
  text-align: left;
  border-top: 1px solid #ddd;
}

table.vacancies>tbody>tr:nth-of-type(even) {
  background-color: #eee;
}

.google_maps_frame {
  width: 100%;
  border: 0;
  margin-top: 10px;
}
