@import url("publikationsliste.css");
/* Datatables */
@import url("../datatables.min.css");

#medarbejdertable_wrapper {
  margin-top: 10px;
}

#medarbejdertable tr th {
  white-space: nowrap;
  border-bottom: 0;
}

#medarbejdertable tr th input:placeholder-shown {
  text-overflow: ellipsis;
}

.emplistname {
  width: 25%;
}

.emplistimage {
  /* img: 100px + 2*8px padding: */
  width: 116px!important;
}

#forskerprofil_kontaktoplysninger>img {
  float: right;
  margin-bottom: 10px;
  margin-left: 15px;
}
