@import url("publikationsliste.css");
/* Datatables */
@import url("../datatables.min.css");

#medarbejdertable_wrapper {
  margin-top: 10px;
}

#medarbejdertable tr th {
  white-space: nowrap;
  border-bottom: 0;
}

#medarbejdertable tr th input:placeholder-shown {
  text-overflow: ellipsis;
}

.emplistname {
  width: 25%;
}

.emplistimage {
  width: 120px;
}

.emplistimage img {
  width: 100px !important;
  float: right;
}

.emp-title-heading>a {
  color: #252525;
  text-decoration: none;
}

.emp-title-heading>a>h2 {
  font-size: 18px;
  font-weight: 600;
}


#forskerprofil_kontaktoplysninger>img {
  float: right;
  margin-bottom: 10px;
  margin-left: 15px;
}

/* Delete below after deployment dec. 12 2019*/
#medarbejdertable tr th.pct_20:first-child {
  /* bredt format */
  width: 30%;
}

#medarbejdertable tr th.pct_30:first-child {
  /* Smalt format */
  width: 37%;
}

#medarbejdertable tr th:last-child input {
  display: none;
}

#medarbejdertable tr th:nth-last-of-type(-n+2) {
  /* Target last to columns */
  padding-right: 8px;
  cursor: default;
}

#medarbejdertable tr th:nth-last-of-type(-n+2):after {
  /* Target last to columns */
  display: none;
}

#medarbejdertable tr th:nth-last-child(2) {
  /* Target last but one - the phone cells */
  width: 25% !important;
}

#medarbejdertable tr th:last-child {
  /* Target last - the e-mail cells */
  width: 20% !important;
}
