@import url("publikationsliste.css");
/* Datatables */
@import url("../datatables.min.css");

#medarbejdertable_wrapper {
  margin-top: 18px;
}

#medarbejdertable tr th {
  white-space: nowrap;
}

#medarbejdertable tr th {
  border-bottom: 0;
}



#medarbejdertable tr th:last-child input {
  display: none;
}

#medarbejdertable tr th:nth-last-of-type(-n+2) {
  /* Target last to columns */
  padding-right: 8px;
}

#medarbejdertable tr th:nth-last-of-type(-n+2):after {
  /* Target last to columns */
  display: none;
}

#medarbejdertable tr th:nth-last-child(2) {
  /* Target last but one - the phone cells */
  width: 25%!important;
}

#medarbejdertable tr th:last-child {
  /* Target last - the e-mail cells */
  width: 20%!important;
}
