@import url("publikationsliste.css");
/* Datatables */
@import url("../datatables.min.css");

#medarbejdertable_wrapper {
  margin-top: 18px;
}

#medarbejdertable tr th {
  white-space: nowrap;
}

#medarbejdertable tr th {
    border-bottom: 20;
}

#medarbejdertable tr th:nth-child(4),
#medarbejdertable tr th:nth-child(4) input {
   width: 8em!important;
}

#medarbejdertable tr th:last-child input {
   display: none;
}
