body.Newsletter .right-side .panel-body {
  overflow: initial;
}

.gdpr-accept {
  margin-top: 10px;
}

.gdpr-label {
  margin-bottom: 10px !important;
  font-weight: 400;
  line-height: 1.3;
}

.gdpr-label>input[type="checkbox"] {
  margin: 3px 4px 0 3px;
  bottom: -2px;
}

.newslettertable h1 {
  margin-bottom: 10px!important;
}

.newslettertable p, .newslettertable ul, .newslettertable ol, .newslettertable li, ..newslettertable td {
  font-size: 13px !important;
}
