:root {
  --jumpboard-color: #901a1e;
}

/* Special unit full width front page styling */
.main-content {
  padding-top: 0;
}

.breadcrumbs {
  display: none;
}

.gridcontent {
  font-size: 14px;
  line-height: 1.6;
}

.gridcontent>.row>.container>.row:last-child {
  margin-bottom: 0;
}

.video-container .video {
  display: block;
  width: 100%;
  max-width: 1018px;
  max-height: 410px;
  object-fit: cover !important;
}

.video-container .caption {
  font-size: 16px;
  padding: 15px 0;
}

.video-container .caption :is(h1, h2, h3) {
  margin-top: 0;
  font-size: 22px;
}

.video-container .caption:not(.box-light1) {
  padding: 15px;
}

.jumpcolumn {
  list-style: none;
  padding: 0;
  margin: 0 8px 0 0;
}

.jumpcolumn li {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
  border-bottom: 1px solid #999;
}

.jumpcolumn li a {
  display: block;
  position: relative;
  padding-right: 20px;
  color: var(--jumpboard-color) !important;
  text-decoration: none;
}

.jumpcolumn li a:hover {
  text-decoration: underline;
}

.jumpcolumn li a:after {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  font-family: ku-symbols;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  color: var(--jumpboard-color);
  content: '\61';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.slick-arrow::before {
  opacity: .3;
}

.image-presentation img {
  max-height: 289px;
}

blockquote.full-width {
  font-size: 17px;
  font-weight: 600;
  padding: 0 10px;
}

blockquote footer {
  font-weight: 400;
}

/* Special styling for full-width rows */
.gridcontent>.gcrow:not(.full-page-width)>.container {
  width: 100%;
  padding-left: calc(var(--gutterWidth) / 2);
  padding-right: calc(var(--gutterWidth) / 2);
}

@media (min-width: 768px) {
  .gridcontent>.gcrow:not(.full-page-width)>.container {
    max-width: 746px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .gcrow:not(.double-column):not(.quad-column) [class*=col-sm-6] {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .gridcontent>.gcrow:not(.full-page-width)>.container {
    max-width: 966px;
  }

  .video-container .caption {
    position: absolute;
    bottom: 10%;
    right: var(--gutterWidth);
    max-width: 50%;
    padding: 15px;
    border-radius: 2px;
  }

  .deloverskrift {
    font-size: 25px;
  }

  .image-presentation {
    height: 400px;
  }

  .image-presentation img {
    max-height: none;
  }

  .jumpcolumn li {
    Font-size: 24px;
  }

  .panel-default>.panel-heading>.panel-title {
    font-size: 25px !important;
    margin-top: 20px;
  }

  .luft-mellem-raekker {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .double-column .gccolumn blockquote.full-width {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
    padding: 0 20px;
  }

  .double-column .gccolumn blockquote.full-width:before {
    font-size: 65px;
  }

  .double-column .gccolumn blockquote.full-width footer {
    font-size: 15px;
    font-weight: 400;
  }

  .full-width {
    margin-left: calc(var(--gutterWidth) * -1);
    margin-right: calc(var(--gutterWidth) * -1);
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .full-width .gccolumn:first-child {
    padding-left: var(--gutterWidth);
  }

  .full-width .gccolumn:last-child {
    padding-right: var(--gutterWidth);
  }
}

@media (min-width: 1200px) {
  .gridcontent>.gcrow:not(.full-page-width)>.container {
    max-width: 1070px;
  }
}
