/* Publikationslister - CURIS/Pure  */
.nav {
  background: none;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  height: auto;
  width: inherit;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #navbar_menu {
    display: flex!important;
  }
}

head:first-child+body .nav {
  background-position: unset;
}

.nav li {
  padding-bottom: unset;
  text-align: unset;
}

.nav a {
  font-size: inherit;
  font-weight: inherit;
}

.dropdown {
  background: none;
  left: unset;
  position: relative;
  text-align: left;
  top: unset;
  width: unset;
}

#content {
  border-top: none;
  width: 100% !important;
  max-width: 1070px;
  float: none;
  padding-top: 0;
  color: inherit;
}

div.portal_navigator {
  font-size: inherit;
}

ol.portal_list {
  float: left;
}

ol.portal_list>li {
  font-size: inherit;
}

ol.portal_list li p.type {
  font-size: 12px;
  line-height: 14px;
}

.portal_navigator_result ol.portal_list li p.type {
  font-size: 12px;
  line-height: 18px;
}

.label {
  color: inherit;
  font-size: 12px;
  font-weight: 400;
}

ol.portal_list li.portal_list_item_group {
  color: #252525;
}

span.downloads_count {
  width: 77px;
  border-bottom: 1px solid #b0adad;
}

li.portal_list_item_most_downloaded div.portal_content_properties {
  top: 50px;
}

ol.portal_list li h2.title a, ol.portal_list li a {
  font-size: 14px;
  color: #252525;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: .6px;
}

ol.portal_list li a>span>strong {
  font-weight: 600;
}

div.rendering p.type, ol.portal_list>li {
  color: #252525;
}

#latest_publication_box_custom h3>a {
  color: #252525;
}

.downloadstatistics-box h3, #latest_publication_box_custom h3 {
  border-bottom: 1px solid #901a1e;
  padding-bottom: 9px;
  margin-bottom: 2px;
}

.theme-samf .downloadstatistics-box h3, .theme-samf #latest_publication_box_custom h3 {
  border-bottom: 1px solid #e13718;
}

.theme-hum .downloadstatistics-box h3, .theme-hum #latest_publication_box_custom h3 {
  border-bottom: 1px solid #365aa5;
}

.theme-science .downloadstatistics-box h3, .theme-science #latest_publication_box_custom h3 {
  border-bottom: 1px solid #46743c;
}

.theme-sund .downloadstatistics-box h3, .theme-sund #latest_publication_box_custom h3 {
  border-bottom: 1px solid #2a216a;
}

.theme-jur .downloadstatistics-box h3, .theme-jur #latest_publication_box_custom h3 {
  border-bottom: 1px solid #999632;
}

.theme-teo .downloadstatistics-box h3, .theme-teo #latest_publication_box_custom h3 {
  border-bottom: 1px solid #66609e;
}

.view_container ul.tabs {
  height: auto;
  width: 100%;
  float: left;
  clear: both;
  margin: 20px 0;
}

.view_container ul.tabs li a {
  color: #252525;
  background: none;
  background-color: #f3f3f3;
  padding: 10px 10px;
  border: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.view_container ul.tabs li.selected a {
  color: #fff;
  background-color: #999;
  font-weight: inherit;
}

.quick_nav {
  margin: 0 0 15px 0 !important;
}

.quick_nav, .portal_navigator_result {
  float: left;
  width: 100%;
}

.organisations-relations .for_publications .portal_navigator_top {
  float: left;
  width: 100%;
}

.export_cv {
  float: left;
  clear: both;
  width: 100%;
}

table.properties>tbody>tr:hover {
  background-color: #f5f5f5;
}

.organisations-relations table.properties td {
  padding-bottom: 8px;
  background-color: transparent;
}

.organisations-relations table.properties tr>td:nth-child(1),
.organisations-relations table.properties tr>td:nth-child(2) {
  padding-right: 5px;
}

.striped-list li {
  padding: 5px;
}

#purecontent .person_text h2.title {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #252525 !important;
}

#purecontent .person_text h2.title a {
  color: #252525 !important;
}

.rendering h2 {
  margin: 0;
}

.striped-list h2.title {
  font-size: 14px !important;
  font-weight: 600 !important;
}

.view_title .title {
  font-size: 18px !important;
  color: #252525!important;
}

.view_title .type {
  font-size: 16px !important;
  font-weight: 600 !important;
}

.column-layout-standard .view_title .type {
  font-size: 12px !important;
  padding-left: 0;
}

.portal-dropdown .dropdown-menu li {
  width: 100%;
}

.publications_view .rendering ul.relations {
  clear: both;
}

.person_photo {
  margin-left: 5px;
}

.portal_navigator_bottom {
  clear: both;
  float: left;
  width: 100%;
  padding: 0;
}

.publikationsliste .view_container ul.tabs>li:nth-child(1), .publikationsliste .view_container ul.tabs>li:nth-child(3) {
  display: none;
  width: 0;
}
.search_tips {
  margin-bottom: 10px;
}
.ku-leftmenu .nav ul ul a {
  border: 0;
}

ol.portal_list li.portal_list_item_group {
  font-size: 14px;
}

div.portal_navigator_ordering .portal_navigator_popup_content a {
  padding-right: 3px;
}

#purecontent .person_relations_list .for_publications .portal_navigator_top {
    display: none !important;
}

@media all and (max-width: 480px) {
  .pureportal .portal_columns_body .portal_columns_column {
    width: 100% !important;
  }

  .pureportal .portal_columns_body .portal_columns_column>div:first-child {
    padding: 0!important;
  }
}
