/* Publikationslister - CURIS/Pure  */
@import url("publikationsliste.css");

h2.title a, h2.title a:visited {
  color: #252525;
}

h2.title {
  font-weight: 600;
}

.pureportal .view_container ul.tabs li:first-child, .pureportal .view_container ul.tabs li:nth-child(3) {
  display: none;
}
