/* Publikationslister - CURIS/Pure  */
@import url("publikationsliste.css");

h2.title a, h2.title a:visited {
  color: #252525;
}

h2.title {
  font-weight: 600;
}

.tabs + p:first-child {
  clear: both;
}
