/*
 * This combined file was created by the DataTables downloader builder:
 *   https://datatables.net/download
 *
 * To rebuild or modify this file with the latest versions of the included
 * software please visit:
 *   https://datatables.net/download/#bs/dt-1.10.13/fh-3.1.2/r-2.1.1
 *
 * Included libraries:
 *   DataTables 1.10.13, FixedHeader 3.1.2, Responsive 2.1.1
 */
/* KU */
.dataTables_wrapper tfoot {
  display: table-header-group;
}

.dataTables_wrapper tbody+tfoot {
  /* Hide bottom tfoot */
  display: none;
}

.dataTables_wrapper thead+tfoot {
  display: none;
}

@media screen and (min-width: 768px) {
  .dataTables_wrapper thead+tfoot {
    display: table-header-group;
  }

  .dataTables_wrapper tfoot th input {
    font-weight: normal;
    width: 100% !important;
  }
}

.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  word-wrap: break-word;
  table-layout: auto!important;
  /*border-collapse: separate !important;*/
}

.dataTable>tbody>tr:hover {
  background-color: #f5f5f5;
}

/* .dataTable td, .dataTable th {
  box-sizing: content-box;
} */
.dataTable td.dataTables_empty, .dataTable th.dataTables_empty {
  text-align: center;
}

.dataTable.nowrap th, .dataTable.nowrap td {
  white-space: nowrap;
}

.dataTables_wrapper .dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  margin-bottom: 0;
}

.dataTables_wrapper .dataTables_length select {
  /* width: 75px; */
  display: inline-block;
  margin: 0 5px;
}

.dataTables_wrapper .dataTables_filter {
  text-align: right;
}

.dataTables_wrapper .dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}

.dataTables_wrapper .dataTables_info {
  padding-top: 8px;
  white-space: nowrap;
}

.dataTables_wrapper .dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: center;
}

.dataTables_wrapper .dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
}

.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1em 0;
}

.dataTable thead>tr>th.sorting_asc, .dataTable thead>tr>th.sorting_desc, .dataTable thead>tr>th.sorting, .dataTable thead>tr>td.sorting_asc, .dataTable thead>tr>td.sorting_desc, .dataTable thead>tr>td.sorting {
  padding-right: 30px;
}

.dataTable thead>tr>th:active, .dataTable thead>tr>td:active {
  outline: none;
}

.dataTable thead .sorting, .dataTable thead .sorting_asc, .dataTable thead .sorting_desc, .dataTable thead .sorting_asc_disabled, .dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}

.dataTable thead .sorting:after, .dataTable thead .sorting_asc:after, .dataTable thead .sorting_desc:after, .dataTable thead .sorting_asc_disabled:after, .dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: block;
  font-family: 'Glyphicons Halflings';
  font-weight: 400;
  color: #888;
}

.dataTable thead .sorting:after {
  color: #d3d3d3;
  content: "\e150";
  /* sort */
}

.dataTable thead .sorting_asc:after {
  content: "\e155";
  /* sort-by-attributes */
}

.dataTable thead .sorting_desc:after {
  content: "\e156";
  /* sort-by-attributes-alt */
}

.dataTable thead .sorting_asc_disabled:after, .dataTable thead .sorting_desc_disabled:after {
  color: #eee;
}

.dataTables_scrollHead .dataTable {
  margin-bottom: 0 !important;
}

.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.dataTables_scrollBody table thead .sorting:after, .dataTables_scrollBody table thead .sorting_asc:after, .dataTables_scrollBody table thead .sorting_desc:after {
  display: none;
}

.dataTables_scrollBody table tbody tr:first-child th, .dataTables_scrollBody table tbody tr:first-child td {
  border-top: none;
}

.dataTables_scrollFoot table {
  margin-top: 0 !important;
  border-top: none;
}

@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
    text-align: left;
  }
}

.dataTable.table-condensed>thead>tr>th {
  padding-right: 20px;
}

.dataTable.table-condensed .sorting:after, .dataTable.table-condensed .sorting_asc:after, .dataTable.table-condensed .sorting_desc:after {
  top: 6px;
  right: 6px;
}

.table-bordered.dataTable th, .table-bordered.dataTable td {
  border-left-width: 0;
}

.table-bordered.dataTable th:last-child, .table-bordered.dataTable th:last-child, .table-bordered.dataTable td:last-child, .table-bordered.dataTable td:last-child {
  border-right-width: 0;
}

.table-bordered.dataTable tbody th, .table-bordered.dataTable tbody td {
  border-bottom-width: 0;
}

.dataTables_scrollHead .table-bordered {
  border-bottom-width: 0;
}

.table-responsive>.dataTables_wrapper>div.row {
  margin: 0;
}

.table-responsive>.dataTables_wrapper>div.row>div[class^="col-"]:first-child {
  padding-left: 0;
}

.table-responsive>.dataTables_wrapper>div.row>div[class^="col-"]:last-child {
  padding-right: 0;
}

.dataTable.fixedHeader-floating, .dataTable.fixedHeader-locked {
  background-color: white;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.dataTable.fixedHeader-floating {
  position: fixed !important;
}

.dataTable.fixedHeader-locked {
  position: absolute !important;
}

@media print {
  .fixedHeader-floating {
    display: none;
  }
}

.dataTable.dtr-inline.collapsed>tbody>tr>td.child, .dataTable.dtr-inline.collapsed>tbody>tr>th.child, .dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty {
  cursor: default !important;
}

.dataTable.dtr-inline.collapsed>tbody>tr>td.child:before, .dataTable.dtr-inline.collapsed>tbody>tr>th.child:before, .dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty:before {
  display: none !important;
}

.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child, .dataTable.dtr-inline.collapsed>tbody>tr>th:first-child {
  position: relative;
  padding-left: 10px;
  cursor: pointer;
  padding-bottom: 45px;
}

.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, .dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
  bottom: 9px;
  left: 11px;
  height: 20px;
  width: auto;
  display: block;
  position: absolute;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 5px;
  color: #666;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  box-sizing: content-box;
  font-family: 'Glyphicons Halflings';
  line-height: 9px;
  content: "\e252";
  font-size: 10px;
}

.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, .dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
  content: "\e253";
  padding-top: 5px;
  padding-bottom: 1px;
}

.dataTable.dtr-inline.collapsed>tbody>tr>td:not(.child):first-child:after, .dataTable.dtr-inline.collapsed>tbody>tr>th:not(.child):first-child:after {
  bottom: 9px;
  left: 33px;
  height: 20px;
  width: auto;
  display: block;
  position: absolute;
  padding-top: 6px;
  padding-right: 6px;
  color: #252525;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  box-sizing: content-box;
  line-height: 8px;
  content: "Vis detaljer";
  letter-spacing: .7px;
  font-size: 8px;
  text-transform: uppercase;
  font-weight: 600;
}

.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:after, .dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:after {
  content: "Skjul detaljer";
}

html:lang(en) .dataTable.dtr-inline.collapsed>tbody>tr>td:not(.child):first-child:after, html:lang(en) .dataTable.dtr-inline.collapsed>tbody>tr>th:not(.child):first-child:after {
  content: "Show details";
}

html:lang(en) .dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:after, html:lang(en) .dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:after {
  content: "Hide details";
}

.dataTable>tbody>tr>td.dataTables_empty:after {
  display: none;
}

.dataTable.dtr-inline.collapsed>tbody>tr>td.child:first-child {
  padding-bottom: 10px;
}

.dataTable.dtr-inline.collapsed>tbody>tr.child td:before {
  display: none;
}

.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child, .dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child {
  padding-left: 27px;
}

.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child:before, .dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child:before {
  top: 5px;
  left: 4px;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  line-height: 14px;
  text-indent: 3px;
}

.dataTable.dtr-column>tbody>tr>td.control, .dataTable.dtr-column>tbody>tr>th.control {
  position: relative;
  cursor: pointer;
}

.dataTable.dtr-column>tbody>tr>td.control:before, .dataTable.dtr-column>tbody>tr>th.control:before {
  top: 50%;
  left: 50%;
  height: 16px;
  width: 16px;
  margin-top: -10px;
  margin-left: -10px;
  display: block;
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  line-height: 14px;
  content: '+';
  background-color: #337ab7;
}

.dataTable.dtr-column>tbody>tr.parent td.control:before, .dataTable.dtr-column>tbody>tr.parent th.control:before {
  content: '-';
  background-color: #d33333;
}

.dataTable>tbody>tr.child {
  padding: 0.5em 1em;
  background-color: #fff;
  border: 1px solid #ddd;
}

.dataTable>tbody>tr.parent {
  /* KU: Open table row */
  border: 1px solid #ddd;
}

.dataTable>tbody>tr.child:hover {
  background: transparent !important;
}

.dataTable>tbody>tr.child ul.dtr-details {
  width: 100%;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dataTable>tbody>tr.child ul.dtr-details li {
  border-bottom: 1px solid #efefef;
  padding: 0.5em 0;
}

.dataTable>tbody>tr.child ul.dtr-details li:first-child {
  padding-top: 0;
}

.dataTable>tbody>tr.child ul.dtr-details li:last-child {
  border-bottom: none;
}

.dataTable>tbody>tr.child span.dtr-title {
  display: inline-block;
  min-width: 75px;
  font-weight: bold;
}

div.dtr-modal {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  padding: 10em 1em;
}

div.dtr-modal div.dtr-modal-display {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  z-index: 102;
  overflow: auto;
  background-color: #f5f5f7;
  border: 1px solid black;
  border-radius: 0.5em;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
}

div.dtr-modal div.dtr-modal-content {
  position: relative;
  padding: 1em;
}

div.dtr-modal div.dtr-modal-close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 22px;
  height: 22px;
  border: 1px solid #eaeaea;
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  z-index: 12;
}

div.dtr-modal div.dtr-modal-close:hover {
  background-color: #eaeaea;
}

div.dtr-modal div.dtr-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 767px) {
  div.dtr-modal div.dtr-modal-display {
    width: 95%;
  }
}

div.dtr-bs-modal table.table tr:first-child td {
  border-top: none;
}
