/* Use with /bootstrap/dist/js/scroll-fadeIn.min.js */
html {
  scroll-behavior: smooth;
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.in-view {
  opacity: 1;
}

.in-view.fade-in {
  animation: fade-in 700ms ease-in-out both;
}

.in-view.fade-in-bottom {
  animation: fade-in-bottom 700ms ease-in-out both;
}

.in-view.slide-left {
  animation: slide-in-left 700ms ease-in-out both;
}

.in-view.slide-right {
  animation: slide-in-right 700ms ease-in-out both;
}

@media (prefers-reduced-motion), (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .js-scroll {
    opacity: 1 !important;
  }

  .js-scroll.in-view {
    animation: none !important;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
