html.non-responsive {
  min-width: 1070px;
  overflow: auto;
}
html.non-responsive .container, html.non-responsive main {
  max-width: none !important;
  width: 1070px !important;
}
html.non-responsive .main-content > .row > .col-sm-12 {
  width: 50% !important;
}
html.non-responsive .right-side {
width: 25%; !important;
}
html.non-responsive .ku-leftmenu {
width: 25%; !important;
}
html.non-responsive .main-content.col-sm-8 {
  width: 50% !important;
}
html.non-responsive [class^="col-"] {
  float: left;
}
.right-side [class^="col-"]:first-child .panel-default > .panel-heading {
    border-top: 0;
}

html.non-responsive .visible-xs-inline,
html.non-responsive .visible-sm-inline {
  display: inline !important;
}
html.non-responsive .visible-xs-inline-block,
html.non-responsive .visible-sm-inline-block {
  display: inline-block !important;
}
html.non-responsive .hidden-xs,
html.non-responsive .hidden-sm {
  display: block !important;
}
html.non-responsive .container .navbar-header,
html.non-responsive .container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}
html.non-responsive .navbar-header {
  float: left;
}
html.non-responsive .navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
html.non-responsive .navbar-toggle {
  display: none;
}
html.non-responsive .navbar-collapse {
  border-top: 0;
}
html.non-responsive .navbar-brand {
  margin-left: -15px;
}
html.non-responsive .navbar-nav {
  float: left;
  margin: 0;
}
html.non-responsive .navbar-nav > li {
  float: left;
}
html.non-responsive .navbar-nav.navbar-right {
  float: right;
}



html.non-responsive .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
html.non-responsive .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
html.non-responsive .navbar .navbar-nav .open .dropdown-menu > li > a:focus,
html.non-responsive .navbar .navbar-nav .open .dropdown-menu > .active > a,
html.non-responsive .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
html.non-responsive .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
html.non-responsive .navbar .navbar-nav .open .dropdown-menu > .disabled > a,
html.non-responsive .navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
html.non-responsive .navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}
