@import "../../../../less/variables.less"; // Styles to remove global elemts from KU templates in order to make a neutral look.

#globalfooter,
#topbar_menu,
.search-area,
.ku-branding-logo,
.ku-branding-logo img,
.ku-nav,
.ku-navbar-header,
.ku-topbar,
.local-footer {
  display: none !important;
}

.main-area {
  padding-bottom: 13px;
  border-bottom: 1px solid @gray-666;
}

.ku-branding-line {
  height: 83px;
}

.ku-branding .ku-branding-text {
  left: 13px;
}

.ku-branding {
  &::after {
    border-bottom: @gray-666!important;
  }
}
