@import "../../../../less/variables.less"; // Styles to remove global elemts from KU templates in order to make a neutral look.

#globalfooter,
#topbar_menu,
.ku-branding-logo img,
.ku-nav,
.ku-navbar-header,
.local-footer,
.search-area {
  display: none !important;
}

#mobileleftmenu .mm-panels {
  top: 0;
}

#mmenu-placeholder ~ li,
.mm-navbars_top,
.search-placeholder {
  display: none;
}

.topbar-logo {
  background-image: none!important;
}
@media all and (min-width: @screen-sm) {
  .ku-topbar {
    display: none!important;
  }
}

.main-area {
  padding-bottom: 13px;
  margin-bottom: 0;
}

.ku-branding-logo {
  background-image: url('https://dummyimage.com/80x80/ccc/000.png');
  background-repeat: no-repeat;
}

// .ku-branding-line {
//   height: 83px;
//   width: 100%;
//   @media all and (min-width: 768px) {
//     margin-left: 25%;
//   }
// }

.search-area {
  width: 0;
}

.ku-branding .ku-branding-text {
  left: 13px;
}

.ku-branding {
  &::after {
    border-bottom: @gray-666!important;
  }
}
