/* Selected classes to enable overwriting and restyling of global elements. */
/* Important! Delete everything in this stylesheet that you don't need! Only keep the classes that you whish to restyle. */
/* When adding new colors, please consider the EU law of accessibility. Particularly in terms of color contrast. */
@import "../../../../less/variables.less";
@left-menu-desktop: #ff9900;

body {
  /* General font settings */
}
/* Navnetraek: for example font sizes in various view ports: */
.ku-branding {
  .ku-branding-text {
    .ku-branding-text-major {
      /* Mobile */
      font-size: 15px;
      @media (min-width: @screen-sm) {
        /* iPad */
        font-size: 18px;
      }
      @media (min-width: @screen-md) {
        /* Desktop */
        font-size: 20px;
      }
    }
  }
}
/* Logo */
.ku-branding-logo {
  /* Add link to logo - max width: 250px, max height: 80px */
  background-image: url("https://dummyimage.com/200x80/ccc/000.png");
}
/* Left menu desktop styling - change colors here: */
.ku-leftmenu {
  ul {
    li {
      &.active {
        a {
          &.active {
            color: @left-menu-desktop;
          }
        }

        & > a {
          color: @left-menu-desktop;
        }
      }

      a {
        &:focus,
        &:hover {
          color: @left-menu-desktop;
        }
      }
    }

    & > li {
      & > a {
        &::before {
          color: @left-menu-desktop;
        }

        &::after {
          border: 1px solid @gray-d7;
        }

        &:hover {
          &::after {
            background-color: @left-menu-desktop;
          }
        }
      }

      &[class^=active] {
        & > a {
          &::before {
            background-color: @left-menu-desktop;
            color: @white-color;
          }
        }
      }

      ul {
        li {
          a {
            &::before {
              background-color: @left-menu-desktop;
            }
          }
        }
      }
    }
  }
}
/* Mobile menu styling - change colors here: */
#mobileleftmenu {
  .mm-navbar__title {
    background-color: @left-menu-desktop;
    border-bottom: solid 1px @ku-gray;
  }

  li {
    &.local1_mmenu {
      background: @left-menu-desktop;
      border-top: 1px solid @ku-gray;
    }
  }
}

/* Footer */
.extra_html_end {
  position: relative;
  background: @gray-light;
  @media (min-width: @screen-sm) {
    background: linear-gradient(to bottom, rgba(@gray-light, 1) 0%, rgba(134, 134, 134, 1) 25%, rgba(142, 141, 141, 1) 50%, rgba(136, 136, 136, 1) 80%, rgba(128, 128, 128, 1) 100%);
  }
  color: @white-color;
}

/* Don't change anything below here! */
.ku-branding-logo {
  background-repeat: no-repeat;
  bottom: unset!important;
  left: unset!important;
  width: 100%!important;
  @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
    margin-top: 10px;
    width: 403px!important;
  }
  @media (min-width: @screen-md) {
    width: 262px!important;
  }
}

.ku-branding-text {
  flex: 1 1 auto;
  position: relative!important;
  left: unset!important;
  bottom: unset!important;
  top: 10px!important;
  max-height: none;
}

.ku-branding-line {
  display: flex;
  flex-direction: column;
  height: auto!important;
  width: 100%;
  margin-bottom: 10px;
  @media (min-width: @screen-sm) {
    flex-direction: row;
    margin-left: 0;
  }
}
