@import "../../../../less/variables.less"; // Selected classes to enable overwriting and restyling of global elements
@left-menu-desktop: #ff9900;

body {
  /* General font settings */
}
/* Logo */

.ku-branding-logo {
  /* Add link to logo - max width: 250px, height: 80px */
  background-image: url("https://dummyimage.com/200x80/ccc/000.png");
  /* Don't change anything here: */
  background-repeat: no-repeat;
  @media (min-width: @screen-xs) and (max-width: @screen-xs-max) {
    width: 316px!important;
  }
  @media (min-width: @screen-sm) {
    width: 262px!important;
  }
}

/* Don't change anything here: */
.ku-branding-line {
  display: flex;
  flex-direction: column;
}

.ku-branding-text {
  flex: 1 1 auto;
  position: relative!important;
  left: unset!important;
  bottom: unset!important;
  top: 10px!important;
}

@media (min-width: @screen-sm) {
  .ku-branding-line {
    flex-direction: row;
  }
}

/* Don't change anything here: */

.ku-branding-line {
  height: 83px;
  width: 100%;
  @media (min-width: @screen-sm) {
    margin-left: 0;
  }
}
/* Left menu desktop styling - change colors here: */

.ku-leftmenu {
  ul {
    li {
      &.active {
        a {
          &.active {
            color: @left-menu-desktop;
          }
        }

        & > a {
          color: @left-menu-desktop;
        }
      }

      a {
        &:focus,
        &:hover {
          color: @left-menu-desktop;
        }
      }
    }

    & > li {
      /*  Top level menu dots - change colors here: */
      & > a {
        &::before {
          color: @left-menu-desktop;
        }

        &::after {
          border: 1px solid @gray-d7;
        }

        &:hover {
          &::after {
            background-color: @left-menu-desktop;
          }
        }
      }
      /* Top level menu dots with sublevels - change colors here: */
      &[class^=active] {
        & > a {
          &::before {
            background-color: @left-menu-desktop;
            color: @white-color;
          }
        }
      }

      ul {
        li {
          /* 2. level and below menu dots - change colors here: */
          a {
            &::before {
              background-color: @left-menu-desktop;
            }
          }
        }
      }
    }
  }
}
/* Mobile menu styling - change colors here: */

#mobileleftmenu {
  .mm-navbar__title {
    background-color: @left-menu-desktop;
    border-bottom: solid 1px @ku-gray;
  }

  li {
    &.local1_mmenu {
      background: @left-menu-desktop;
      border-top: 1px solid @ku-gray;
    }
  }
}
