// Core variables and mixins
@import "../variables.less";
@import "../mixins.less"; // FA styles
// --------------------------------------------------
// Special colors for studier.ku.dk

.soeg-optagelse {
  background: #bf1e6f !important;

  &:hover {
    background: #ae1b65 !important;
  }
}

#botxo-button-, #botxo-openImg- {
  &:focus, &:focus-within {
    .tab-focus-v2()!important;
    outline-offset: 1px;
    border: 1px solid #fff!important;
  }
}
