/* PURE portal cms styling */
#branding-images,
#nav-wrapper,
#branding-decoration,
#left-sidebar,
#right-sidebar,
#footer, .breadcrumbs {
  display: none !important;
}

#content {
  border-top: 0;
  padding-top: 0;
}
